
<div class="app-folders-wrapper" *ngIf="!loading">
    <div class="app-folders-container">
        <div class="app-folders-header">
            <div class="app-folders-header-title">Seznamy ({{folderService.folders[0].length + folderService.folders[1].length}})</div>
            <div class="app-folders-header-actions" (click)="openFoldersDialog()">+ Nový seznam</div>
        </div>
        <div class="app-folder-items">
            <div class="app-folder-header">Moje seznamy</div>
            <a class="app-folder-item" 
            *ngFor="let item of folderService.folders[0]"
            [routerLink]="['/folders', item.uuid]"
            [class.app-selected]="folder.uuid === item.uuid">
                <div>
                    {{item.name}}
                </div>
            </a>
        </div>
        <div class="app-folder-items">
            <div class="app-folder-header">Sdílené seznamy</div>
            <a class="app-folder-item" 
            *ngFor="let item of folderService.folders[1]"
            [routerLink]="['/folders', item.uuid]"
            [class.app-selected]="folder.uuid === item.uuid">
                <div>
                    {{item.name}} 
                    <span *ngIf="findUser(item)">({{ findUser(item) }})</span>
                </div>
            </a>
        </div>
    </div> 
    <app-folder *ngIf="folder" [folder]="folder" [user]="folder.user"></app-folder>
</div>
