@import './src/variables.scss';

.app-folders-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
    .app-folders-container {
        display: flex;
        flex-direction: column;
        background: #fff;
        border-right: 1px solid #e0e0e0;
        width: 300px;
        .app-folders-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100%;
            color: #757575;
            padding: 0px 16px;
            height: 55px;
            line-height: 55px;
            border-bottom: 1px solid #e0e0e0;
            .app-folders-header-title {
                font-size: 15px;
            }
            .app-folders-header-actions {
                color: $primary-color;
                cursor: pointer;
            }
        }
        .app-folder-items {
            display: flex;
            flex-direction: column;
            padding: 0px 16px 16px;
            width: 300px;
            border-bottom: 1px solid #e0e0e0;
            .app-folder-header {
                color: rgba(0, 0, 0, 0.87);
                height: 20px !important;
                margin: 14px 0;
                font-weight: 500;
            }
            .app-folder-item {
                padding: 0 5px;
                font-size: 15px;
                color: $app-grey-text;
                display: block;
                &:hover {
                    color: $primary-color;
                }
                &.app-selected {
                    font-weight: 600;
                    color: $app-grey-d-3;
                }
            }
            .app-folders-warning {
                color: $app-grey-text;
                font-size: 14px;
                margin: 10px 0;
            }
        }
        .app-folders-search-bar-wrapper {
            width: 100%;
            padding: 0 16px;
            border-bottom: 1px solid $app-grey-l-2;
            .app-folder-search-bar {
                position: relative;
                input {
                    margin: 0;
                    border-bottom-color: transparent;
                    padding-left: 30px;
                    width: 100%;
                    padding-right: 30px;
                    box-sizing: border-box;
                    &::placeholder {
                        color: $app-grey;
                    }
                }
                mat-icon {
                    cursor: pointer;
                    top: 11px;
                    position: absolute;
                    color: $app-grey-text;
                    &.app-close {
                        right: 0px;
                        font-size: 20px;
                    }
                    &.app-magnify {
                        left: 0;
                    }
                }
                &.app-is-query {
                    input {
                        border-bottom: 1px solid $primary-color !important;
                        box-shadow: 0 1px 0 0 $primary-color;
                    }
                }
                
                &.app-is-query, &:focus-within {
                    .app-magnify  {
                        color: $primary-color;
                    }
                }
            }
        }

    }
    
    app-folder {
        width: calc(100% - 300px);
    }
}
