<div class="app-periodical-content-wrapper" *ngIf="periodicalService.isStateSuccess()">
  <app-periodical-toolbar></app-periodical-toolbar>

  <app-periodical-grid-layout
    *ngIf="!periodicalService.fulltext && periodicalService.activeLayout=='grid'">
  </app-periodical-grid-layout>  

  <app-periodical-years-layout
    *ngIf="!periodicalService.fulltext && periodicalService.activeLayout=='years'">
  </app-periodical-years-layout>    

  <app-periodical-calendar-layout
    *ngIf="!periodicalService.fulltext && periodicalService.activeLayout=='calendar'">
  </app-periodical-calendar-layout> 
  
  <app-periodical-fulltext-layout
    *ngIf="periodicalService.fulltext">
  </app-periodical-fulltext-layout> 

</div>