@import './src/variables.scss';

.app-periodical-content-wrapper {
  position: relative;
  background: #fff;
  height: 100%;
  app-periodical-grid-layout,
  app-periodical-unit-layout,
  app-periodical-years-layout,
  app-periodical-fulltext-layout,
  app-periodical-calendar-layout {
    height: calc( 100% - #{$app-toolbar-height});
    display: block;
    background-color: $app-grey-l-4;
  }
}