<div class="periodical-content" *ngIf="metadata">
  <app-periodical-toolbar 
    *ngIf="metadata"
    (layoutSelected)="onLayoutSelected($event)" 
    [activeLayout]="activeLayout" 
    [yearsLayoutEnabled]="yearsLayoutEnabled"
    [calendarLayoutEnabled]="calendarLayoutEnabled"
    [gridLayoutEnabled]="gridLayoutEnabled"
    [metadata]="metadata">
  </app-periodical-toolbar>

  <app-periodical-grid-layout
    *ngIf="activeLayout=='grid'"
    [items]="items">
  </app-periodical-grid-layout>  

  <app-periodical-years-layout
    *ngIf="activeLayout=='years' && items"
    [items]="items"
    [min]="minYear"
    [max]="maxYear">
  </app-periodical-years-layout>    

  <app-periodical-calendar-layout
    *ngIf="items && metadata && activeLayout=='calendar'" 
    [year]="metadata.volume.year"
    [items]="items">
  </app-periodical-calendar-layout>   
</div>