<div class="sp-header">
      
<div class="sp-header-buttons">
  
  <a (click)="analytics.sendEvent('landing', 'help');" [routerLink]="['/', 'help']" class="sp-header-button">{{ 'sp.header.help' | translate }}</a>

  <div class="app-language">
    <div *ngIf="languages().length > 1" class="app-dropdown-language" [matMenuTriggerFor]="languagesMenu">
      <img src="assets/img/flag_{{translate.currentLang}}.png">
    </div>

    <mat-menu #languagesMenu="matMenu" xPosition="after" class="app-languages-menu">
      <ng-template matMenuContent ngFor>
        <div class="app-dropdown-item" *ngFor="let lang of languages()" (click)="onLanguageChanged(lang)">
          <div class="app-language">
            <img src="assets/img/flag_{{lang}}.png">
            <div class="app-language-name">{{ 'lang.' + lang | translate }}</div>
          </div>
        </div>
      </ng-template>
    </mat-menu>

  </div>

</div>

<a class="sp-header-logo" [routerLink]="['/']" [matTooltip]="'sp.logo_tooltip' | translate">
  <img [src]="'sp.header.logo' | translate">
</a>

</div>