.sp-header {
  // overflow: hidden;
  position: relative;
  z-index: 995;
  background: #fff;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #d2d2d2;
  box-shadow: 0 2px 2px 0 rgba(38, 50, 56, 0), 0 1px 5px 0 rgba(38, 50, 56, 0.12), 0 3px 1px -20px rgba(38, 50, 56, 0.1);
  width: 100%;
  height: 68px;
  line-height: 68px;
  color: #757575;
  .sp-header-buttons {
    float: right;
    overflow: hidden;
    .sp-header-button {
      transition: background-color .3s;
      font-size: 1rem;
      float: left;
      color: #757575;
      display: block;
      padding: 0 15px;
      cursor: pointer;
      &:hover {
        background-color: rgba(100, 100, 100, 0.25);
      }
    }
    .app-language {
      margin-right: 5px;
      float: left;
      .app-dropdown-language {
        height: 68px;
        padding: 14px 16px;
        cursor: pointer;
        &:hover {
          background: #dadada;
        }
        img {
          height: 40px;
        }
      }
    }
  }
  .sp-header-logo {
    height: 100%;
    padding: 12px 0;
    margin-left: 15px;
    float: left;
    img {
      height: 100%;
    }
  }
  .sp-header-title {
    font-size: 15px;
    margin-left: 15px;
    float: left;
  }
}

::ng-deep {
  .app-languages-menu {
    .app-dropdown-item {
      .app-language {
        width: 145px;
        line-height: 60px;
        img {
          height: 30px;
          width: 30px;
          float: right;
          margin-top: 15px;
          margin-right: 15px;
          margin-left: 15px;
        }
        .app-language-name {
          text-align: right;
        }
      }
      &:hover {
        background: #e5e5e5;
      }
    }
  }
}