<div class="app-map-browse">

<div class="app-list" (mouseleave)="focusedItem = null">

    <a class="app-list-item" *ngFor="let item of searchService.results" routerLink="{{item.url}}" (mouseenter)="focusedItem = item">
        <div class="app-item-thumb" [style.background-image]="thumb(item.uuid)">
            <div [matTooltip]="getLock(item).tooltip" class="app-lock {{ getLock(item).class }}" *ngIf="getLock(item)">
                <mat-icon>{{ getLock(item).icon }}</mat-icon>
            </div>
        </div>
        <div class="app-item-title">{{item.title}}</div>
        <div *ngIf="item.date" class="app-item-date">{{item.date}}</div>
        <div *ngIf="item.authors" class="app-item-authors">{{item.authors}}</div>
        <div *ngIf="item.geonames" class="app-item-geonames">{{item.geonames}}</div>
    </a>

</div>

<div *ngIf="apiLoaded | async" class="app-map-wrapper">
    <google-map #map
                [options]="options" 
                width="100%" 
                height="100%"
                (idle)="onIdle()">

        <map-marker *ngIf="focusedItem && focusedItem.isPoint()" [position]="getPoint()"></map-marker>

        <map-rectangle *ngIf="focusedItem && !focusedItem.isPoint()" 
                        [bounds]="getBounds()"
                        [options]="boxOptions"
                        >
        </map-rectangle>

    </google-map>
</div>


</div>