agm-map {
    height: 100%;
    width: calc(100% - 320px);
}

.app-list {
    width: 320px;
    height: 100%;
    overflow-y: auto;
    float: right;
    background: #d6d6d6;
    .app-list-item {
        overflow: hidden;
        background: #fff;
        margin: 2px;
        padding: 3px;
        display: block;
        &:hover {
            background: #d6d6d6;
            cursor: pointer;
        }

        .app-item-title {
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 5px;
            color: #4e4e4e;
            overflow: hidden;
            line-height: 20px;
            height: 40px;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            text-overflow: ellipsis;
        }
        
        .app-item-date {
            overflow: hidden;
            line-height: 20px;
            height: 20px;
            font-size: 14px;
            color: #666;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            text-overflow: ellipsis;
        }
        
        .app-item-authors {
            overflow: hidden;
            line-height: 20px;
            height: 20px;
            font-size: 14px;
            color: #666;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            text-overflow: ellipsis;
        }
        
        .app-item-geonames {
            overflow: hidden;
            line-height: 20px;
            height: 20px;
            font-size: 14px;
            color: #666;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            text-overflow: ellipsis;
        }
        
        .app-item-thumb {
            margin-right: 6px;
            background-repeat: no-repeat;
            width: 110px;
            height: 110px;
            float: left;
            background-size: contain;
            background-position-x: right;
        }
    }


}


.app-marker-title {
    font-size: 17px;
    color: #333;
    margin-bottom: 10px;
}

.app-marker-date {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
}

.app-marker-authors {
    font-size: 13px;
    color: #555;
    margin-bottom: 3px;
}

.app-marker-geonames {
    font-size: 13px;
    color: #555;
}

.app-marker-thumb {
    margin-left: 10px;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    float: right;
    overflow: hidden;
    background-size: contain;
    background-position-x: center;
    background-position-y: top;
}
