<div class="app-map-browse">

<div class="app-list" (mouseleave)="focusedItem = null">

        <a class="app-list-item" *ngFor="let item of searchService.results" routerLink="{{item.url}}" (mouseenter)="focusedItem = item">
            <div class="app-item-thumb" [style.background-image]="thumb(item.uuid)">
                    <i *ngIf="!item.public && !settings.hiddenLocks"
                      mz-icon-mdi 
                      [icon]="item.dnnt && auth.isLoggedIn() ? 'camera-off' : 'lock'" 
                      class="app-lock" 
                      [class.app-dnnt]="item.dnnt" 
                      mz-tooltip 
                      [tooltip]="(item.dnnt ? 'search.dnnt_document' : 'search.inaccessible_document') | translate" 
                      [position]="'top'">
                    </i>
            </div>
            <div class="app-item-title">{{item.title}}</div>
            <div *ngIf="item.date" class="app-item-date">{{item.date}}</div>
            <div *ngIf="item.authors" class="app-item-authors">{{item.authors}}</div>
            <div *ngIf="item.geonames" class="app-item-geonames">{{item.geonames}}</div>
        </a>
    
    </div>



<agm-map 
        [latitude]="lat" 
        [longitude]="lng" 
        [zoom]="zoom" 
        [streetViewControl]="false"
        (boundsChange)="onBoundsChange($event)" 
        (idle)="onIdle()">





        <!-- <agm-circle *ngIf="focusedItem && focusedItem.isPoint" [latitude]="focusedItem.north" [longitude]="focusedItem.west" 
        [radius]="5000"
        [fillColor]="'#dd2222'"
        [fillOpacity]="0.5"
        [strokeColor]="'#dd2222'"
        [strokeOpacity]="1"
        [strokeWeight]="2"
    [circleDraggable]="false"
        [editable]="false"
        >
    </agm-circle> -->



    <agm-marker *ngIf="focusedItem && focusedItem.isPoint()" [latitude]="focusedItem.north" [longitude]="focusedItem.west" ></agm-marker>

    <agm-rectangle *ngIf="focusedItem && !focusedItem.isPoint()" 
                    [north]="focusedItem.north" 
                    [south]="focusedItem.south"                     
                    [west]="focusedItem.west" 
                    [east]="focusedItem.east" 
                    [fillColor]="'#0277bd'"
                    [fillOpacity]="0.5"
                    [strokeColor]="'#0277bd'"
                    [strokeOpacity]="1"
                    >
    </agm-rectangle>

<!--         
        <agm-marker-cluster maxZoom="13" imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
    <agm-marker (markerClick)="onMarkerClick(item)" (mouseOver)="window.open()" (mouseOut)="window.close()" *ngFor="let item of items" [latitude]="item.latitude"
    [longitude]="item.longitude">
    <agm-info-window #window>
        <div class="app-marker-thumb" [style.background-image]="thumb(item['pid'])"></div>
        <div class="app-marker-title">{{item.title}}</div>
        <div *ngIf="item.date" class="app-marker-date">{{item.date}}</div>
        <div *ngIf="item.authors" class="app-marker-authors">{{item.authors}}</div>
        <div *ngIf="item.geonames" class="app-marker-geonames">{{item.geonames}}</div>
    </agm-info-window>
  </agm-marker>
</agm-marker-cluster> -->


</agm-map>


</div>