@import './src/variables.scss';

.app-music-header {
  padding: 20px;
  overflow: hidden;
  .app-album-image {
      width: 250px;
      height: 250px;
      margin-right: 26px;
      float: left;
      img {
          width: 100%;
          height: 100%;
          cursor: pointer;
      }
  }
  .app-album-title-wrapper {
      height: 226px;
      display: flex;
      .app-album-title {
          font-size: 24px;
          color: $app-grey-d-1;
          display: inline-block;
          align-self: flex-end;
          line-height: 32px;
      }
  }
  
  .app-album-bottom {
      overflow: hidden;
      font-size: 14px;
      color: #aaa;
      margin-top: 10px;
      height: 14px;
      line-height: 14px;
      .app-album-artist {
          float: left;
          color: $app-grey-d-2;
      }
      .app-divider {
          float: left;
          height: 4px;
          width: 4px;
          margin: 5px 8px;
          border-radius: 50%;
          background: $app-grey-l-1;
      }
  }
  @media only screen and (max-width: 900px) {
      .app-album-image {
          float: none;
      }
      .app-album-title-wrapper {
          height: 50px;
      }
  }
}
