<div class="book-search-bar-wrapper">
  <div class="book-search-bar">
    <input type="text" [placeholder]="'searchbar.document' | translate" (change)="search()" type="text"  [(ngModel)]="fulltextQuery" /> 
    <i mz-icon-mdi [icon]="'magnify'" (click)="search()" class="app-cursor-pointer"></i>
    <i *ngIf="bookService.getFulltextQuery()" mz-icon-mdi [icon]="'close'" (click)="cleanQuery()" class="app-cursor-pointer"></i>
  </div>
  <div class="book-search-options" *ngIf="bookService.getFulltextQuery()">
      <mz-checkbox-container>
          <input mz-checkbox (change)="checkboxChanged()" [(ngModel)]="bookService.fulltextAllPages" [label]="'book_controls.all_pages' | translate" id="checkbox-id" type="checkbox">
        </mz-checkbox-container> 
  </div>
</div>