@import './src/variables.scss';

a {
  background: #fff;
  position: relative;
  display: block;
  cursor: pointer;
  border-radius: unset;
  height: 144px;
  box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0,0,0,0.1), 0 3px 1px -20px rgba(0,0,0,0.1);
  border: 1px solid $app-grey-l-2;
  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #d3d3d3;
  }
  .app-card-content-wrapper {
    padding: 10px;
    display: table;
    width: 100%;
    height: 100%;

        .app-card-media {
          display: table-cell;
          height: 100%;
          width: 90px;

          .app-card-thumb {
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: contain;
            position: relative;
            .app-lock {
              box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.30);
              background: #fff;
              height: 36px;
              width: 36px;
              padding: 6px;
              display: block;
              border-radius: 50%;
              text-align: center;
              position: absolute;
              color: $app-grey-d-2;
              opacity: 0.8;
              margin: auto;
              top: 0; left: 0; bottom: 0; right: 0;
              &.app-lock-licence-open, &.app-lock-licence-locked {
                color: $app-licence-color;
              }
            }
          }
        }

        .app-card-content {
          display: table-cell;
          vertical-align: top;
          padding-left: 15px;
          font-size: 0.9rem;
          color: $app-grey-d-1;
          position: relative;

          .app-card-row {
            overflow: hidden;
            line-height: 17px;
            height: 17px;
            margin-bottom: 3px;
            &.app-card-row-2col {
              height: 34px;
              margin-bottom: 6px;
            }
            .app-card-row-right {
              float: right;
            }
            .app-card-row-left {
              overflow: hidden;
              -webkit-line-clamp: 1;
              display: block;
              display: -webkit-box;
              text-overflow: ellipsis;           
            }
          }

          .app-card-doctype {
            position: absolute;
            bottom: 0;
            right: 0;
            color: #ffffff;
            padding: 0 6px;
            border-radius: 2px;
            &.app-card-article {
              background: $app-type-article;
            }
            &.app-card-monograph {
              background: $app-type-monograph;
            }
            &.app-card-map {
              background: $app-type-map;
            }
            &.app-card-graphic {
              background: $app-type-graphic;
            }
            &.app-card-sheetmusic {
              background: $app-type-sheetmusic;
            }
            &.app-card-archive {
              background: $app-type-archive;
            }
            &.app-card-manuscript {
              background: $app-type-manuscript;
            }
            &.app-card-convolute {
              background: $app-type-convolute;
            }
          }

          .app-card-title {
            font-weight: 500;
            font-size: $app-card-title-font-size;
            margin-bottom: 5px;
            color: $primary-color;
            overflow: hidden;
            line-height: 20px;
            height: 40px;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            text-overflow: ellipsis;
          }

          .app-card-ocr {
            overflow: hidden;
            font-size: 12px;
            color: $app-grey;
            line-height: 16px;
            margin-top: 5px;
            height: 64px;
            word-break: break-word;
          }
        }
      } 
    }


  ::ng-deep {
    .app-card-ocr {
        strong {
          color: $primary-color;
          font-weight: 500;
        }
    }
  }