<a [routerLink]="appSettings.getRouteFor(item.getPath())" [queryParams]="item.getQuery()" (click)="analytics.sendEvent('periodical', 'open from', 'fulltext');">
  <mz-card  [hoverable]="true">
    <mz-card-content>
      <div class="app-card-media">
        <div class="app-card-thumb" [style.background-image]="getThumb()">
          <i *ngIf="!item.public" mz-icon-mdi [icon]="'lock'" [class]="'app-lock'" mz-tooltip [tooltip]="'search.inaccessible_document' | translate" [position]="'top'"></i>
        </div>
      </div>

      <div class="app-card-content">
        <ng-container *ngIf="item.type === 'page' || item.type === 'article'">
          <div class="app-card-row">
            <div class="app-card-row-right">{{item.year}}</div>
            <div class="app-card-row-left">{{ 'metadata.volume' | translate }} {{item.volume}}</div>
          </div>
          <div class="app-card-row">
            <div class="app-card-row-right">{{item.date}}</div>
            <div class="app-card-row-left" *ngIf="item.issue">{{ 'metadata.issue' | translate }} {{item.issue}}</div>
            <div class="app-card-row-left" style="-webkit-box-orient: vertical;" *ngIf="item.supplement">{{ 'model.supplement' | translate }} {{item.supplement}}</div>
          </div>
        </ng-container>

        <ng-container *ngIf="item.type === 'monograph_unit_page'">
          <div class="app-card-row">
            <div class="app-card-row-left">{{item.title}}</div>
          </div>
          <div class="app-card-row">
            <div class="app-card-row-left">{{ 'metadata.unit' | translate }} {{item.part}}</div>
          </div>
        </ng-container>

        <ng-container *ngIf="item.type === 'monograph_unit'">
          <div class="app-card-row app-main-title">{{item.title}}</div>
          <div class="app-card-row">{{ 'metadata.unit' | translate }} {{item.part}}</div>
          <div class="app-card-doctype app-card-monograph">{{ 'model.monograph' | translate }}</div>
        </ng-container>


        <ng-container *ngIf="item.type === 'article'">
          <div class="app-card-row app-main-title">{{item.title}}</div>
          <div class="app-card-row">{{ item.authors }}</div>
          <div class="app-card-doctype app-card-article">{{ 'model.article' | translate }}</div>
        </ng-container>

        <ng-container *ngIf="item.type === 'page' || item.type === 'monograph_unit_page'">
          <div class="app-card-row">
            <div class="app-card-row-right"></div>
            <div class="app-card-row-left">{{ 'metadata.page' | translate }} {{item.page}}</div>
          </div>
          <div class="app-card-ocr" [innerHTML]="item.text"></div>
        </ng-container>

      </div>

    </mz-card-content>
  </mz-card>
</a>
