<div class="app-reset-password-wrapper">
  <div class="app-reset-password">
    <div class="app-title">Obnova hesla</div>
    <mz-input-container>
      <input mz-input
        [label]="'Nové heslo'"
        [(ngModel)]="password"
        [validate]="false"
        required=true
        [disabled]="state == 'loading'"
        id="password-input"
        placeholder="Zadejte nové heslo"
        type="password">
    </mz-input-container>

    <mz-input-container>
      <input mz-input
        [label]="'Potvrzení nového hesla'"
        [(ngModel)]="passwordConfirmation"
        [validate]="false"
        required=true
        [disabled]="state == 'loading'"
        id="password-confirmation-input"
        placeholder="Zadejte nové heslo ještě jednou"
        type="password">
    </mz-input-container>

    <div *ngIf="state === 'failure'" class="app-error">{{ message }}</div>

    <button mz-button (click)="submit()" [disabled]="state == 'loading'">
        Potvrdit nové heslo
    </button>

    <mz-spinner *ngIf="state == 'loading'"
      [color]="'blue'"
      [size]="'small'">
    </mz-spinner>

  </div>
</div>