<!-- Show just for medium and up devices -->
<app-periodical-filters class="app-filters-desktop"></app-periodical-filters>
<!-- Show just for small devices -->
<app-periodical-filters class="app-filters-mobile" [class.app-panel-mobile-hidden]="periodicalService.activeMobilePanel != 'filters'"></app-periodical-filters>


<app-periodical-content *ngIf="periodicalService.isStateSuccess()"></app-periodical-content>

<div *ngIf="periodicalService.isStateLoading()" class="spinner-wrapper">
  <mz-spinner
    class="medium-centered-spinner"
    [color]="'blue'"
    [size]="'medium'">
  </mz-spinner>
</div>

<app-metadata [metadata]="periodicalService.metadata" [class.app-panel-mobile-hidden]="periodicalService.activeMobilePanel != 'metadata'"></app-metadata>
