@import './src/variables.scss';

app-periodical-content {
  flex: 1;
  height: 100%;
  position: relative;
}

app-periodical-filters {
  &.app-filters-mobile {
    display: none;
  }

  @media #{$medium-and-down} {
    &.app-filters-mobile {
      float: none;
      position: absolute;
      width: 100% !important;
      top: calc(#{$navbar-height} + #{$app-toolbar-height});
      left: 0;
      border: 0;
      height: calc(#{$app-mobile-panel-height} - #{$navbar-height} - #{$app-toolbar-height});
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
      display: block;
      border: none !important;
    }
    
    &.app-filters-desktop,
    &.app-panel-mobile-hidden {
      display: none;
    }
  }
}