@import './src/variables.scss';

.app-metadata-dialog {
  max-width: 1300px;
  width: calc(100vw - 50px);
  padding: 20px;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  .app-dialog-title {
    cursor: pointer;
  }
  .app-tabs {
    overflow: initial;
    padding-bottom: 10px;
  }
  .app-dialog-content {
      height: calc(100% - 100px);
      overflow: scroll;
      flex: 1;
      padding: 0.5rem;
      overflow: auto;
      display: block;
      white-space: pre;
  }
  .app-dialog-actions {
    margin-top: 10px;
    text-align: right;
  }
}