<a *ngIf="item.uuid; else missing" [routerLink]="settings.getRouteFor(item.getPath())" [queryParams]="periodicalService.getUrlParams()" (click)="analytics.sendEvent('periodical', 'open from', 'year');">
  <mz-card  [hoverable]="true">
    <mz-card-content>
      {{item.title}}
      <i *ngIf="!item.public && !settings.hiddenLocks"
        mz-icon-mdi 
        [icon]="'lock'" 
        class="app-lock" 
        [class.app-dnnt]="item.dnnt" 
        mz-tooltip 
        [tooltip]="item.dnnt ? 'search.dnnt_document' : 'search.inaccessible_document' | translate" 
        [position]="'top'">
      </i>
    </mz-card-content>
  </mz-card>
</a>
<ng-template #missing>
  <mz-card  [hoverable]="true" class="app-missing">
    <mz-card-content>
      {{item.title}}
    </mz-card-content>
  </mz-card>
</ng-template>