<a *ngIf="item.uuid; else missing" routerLink="{{item.getUrl()}}" [queryParams]="periodicalService.getUrlParams()">
  <mz-card  [hoverable]="true">
    <mz-card-content>
      {{item.title}}
      <i *ngIf="!item.public" mz-icon-mdi [icon]="'lock'" [class]="'app-lock'" mz-tooltip [tooltip]="'search.inaccessible_document' | translate" [position]="'top'"></i>
    </mz-card-content>
  </mz-card>
</a>
<ng-template #missing>
  <mz-card  [hoverable]="true" class="app-missing">
    <mz-card-content>
      {{item.title}}
    </mz-card-content>
  </mz-card>
</ng-template>