<mz-modal #modal [fixedFooter]="false" class="app-dialog app-dialog-admin">

  <mz-modal-header>
    <div class="app-tabs" *ngIf="selection">

      <mz-dropdown
        [id]="'dropdown'"
        [align]="'left'"
        [belowOrigin]="true"
        [constrainWidth]="true"
        [dropdownButtonId]="'btn-dropdown'"
        [gutter]="true"
        [hover]="false"
        [inDuration]="300"
        [outDuration]="300"
        [stopPropagation]="true"
      >
        <mz-dropdown-item><a (click)="changeCategory('collections')">{{ categoryLabel('collections') }}</a></mz-dropdown-item>
        <mz-dropdown-item><a (click)="changeCategory('accessibility')">{{ categoryLabel('accessibility') }}</a></mz-dropdown-item>
        <mz-dropdown-item><a (click)="changeCategory('reindexation')">{{ categoryLabel('reindexation') }}</a></mz-dropdown-item>
      </mz-dropdown>

      <a id="btn-dropdown" class="app-dialog-title">{{ categoryLabel(category) }}</a>

      <div *ngFor="let item of data" class="app-tab" [class.active]="selection.type === item.type"
        (click)="changeTab(item)">
        {{ 'model_2p.' + item.type | translate | lowercase }}
      </div>
    </div>
  </mz-modal-header>

  <mz-modal-content>
    <app-admin-collections *ngIf="selection && category == 'collections'" [uuid]="selection.uuid"></app-admin-collections>
    <app-admin-accessibility *ngIf="selection && category == 'accessibility'" [uuid]="selection.uuid"></app-admin-accessibility>    
    <app-admin-reindexation *ngIf="selection && category == 'reindexation'" [uuid]="selection.uuid"></app-admin-reindexation>
  </mz-modal-content>



  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>{{ 'common.close' | translate }}</button>
  </mz-modal-footer>

</mz-modal>