@import './src/variables.scss';

.app-container {
  display: flex;
  // justify-content: space-between;
  .app-empty-div {
    width: 25%;
  }
  .app-paginator {
    width: 50%;
    text-align: center;
    ul {
      padding-left: 0;
      list-style-type: none;
      li {
        display: inline-block;
        border-radius: 2px;
        text-align: center;
        vertical-align: top;
        height: 30px;
        list-style-type: none;
        &:not(.app-arrow):not(.app-active):hover {
          background-color: $app-grey-l-2;
        }
        a {
            color: #444;
            display: inline-block;
            font-size: 1.2rem;
            padding: 0 10px;
            line-height: 30px;
        }
        &.app-active {
            background-color: $primary-color;
            a {
                color: #fff;
            }
          }
        &.disabled {
          opacity: 0.3;
          a {
            cursor: default !important;
          }
        }
        mat-icon {
            line-height: 30px;
            user-select: none;
            cursor: pointer;
        }
      }
    }
  }
  .app-rows {
    width: 25%;
    text-align: right;
    padding: 15px;
    color: $primary-color;
    line-height: 24px;
    .app-label {
      color: $app-grey-d-1;
      font-size: 12px;
    }
    cursor: pointer;
    mat-icon {
      vertical-align: middle;
    }
  }
}
@media screen and (max-width: 1040px) {
  .app-container {
    flex-direction: column;
    .app-empty-div {
      display: none;
    }
    .app-paginator {
      width: 100%;
    }
    .app-rows {
      width: 100%;
      text-align: center;
      padding: 5px 0 20px 0;
    }
  }
}
