@import './src/variables.scss';

  .app-metadata-wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    strong {
      font-weight: 500;
      color: $app-grey-d-4;
    }
     .app-metadata-controls {
      display: block;
      height: 55px;
      line-height: 55px;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: #e0e0e0;
      background-color: #FFFFFF;
      mat-icon {
        cursor: pointer;
        margin-left: 17px; 
        margin-right: 17px;  
        font-size: 21px;
        float: left;  
        color: $app-grey-d-1;
        line-height: inherit;
        height: inherit;
        &:hover {
          color: #000;
        }
        &.app-disabled {
          cursor: default;
          color: #e1e1e1;
          pointer-events: none;
        }
      }
    }

    .app-navigation-docs {
      display: block;
      height: 45px;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: #e0e0e0;
      background-color: #FFFFFF;
      .app-btn {
        color: $app-grey-text;
        width: 50%;
        text-align: center;
        float: left;
        padding: 10px 16px;
        cursor: pointer;
        &.app-btn-prev {
          text-align: left;
        }
        &.app-btn-next {
          text-align: right;
        }
        &:hover {
          color: $primary-color;
        }
        &.app-disabled {
          color: $app-grey-l-2;
          cursor: default;
          &:hover {
            color: $app-grey-l-2;
          }
          user-select: none;
        }
      }
    }



    .app-metadata-content {
      padding: 1rem;
      overflow: auto;
      flex: 1;
      h1 {
        font-size: 1.1rem;
        padding: 5px 0;
        margin: 0;
        color: #555555;
        &.app-cut {
          line-height: 1.6rem;
          height: 3.2rem;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          display: -webkit-box;
        }
      }
      h2 {
        color: $app-grey-d-3;
        padding: 0;
        margin: 0;
        font-weight: normal;
        font-size: 15px;
        &.app-identifier {
          color: $app-grey-text;
          font-size: 14px;
          margin-top: 4px;
          a {
            line-break: anywhere;
          }
        }
      }
      h3 {
        font-size: 0.9rem;
        margin-top: 15px;
        display: block;
        margin-bottom: 2px;
        color: $app-grey-text;
        font-weight: normal;
      }
      ul {
        margin: 0;
        li {
          font-size: 15px;
          color: $app-grey-d-2;
          &.app-list-mb {
            &:not(:last-child) {
              margin-bottom: 10px;
            }
          }
        }
      }

      // .app-identifier {
      //   color: $app-grey-text;
      //   font-size: 14px;
      //   margin-top: 4px;
      //   a {
      //   line-break: anywhere;
      //   }
      // }

      // .divider {
      //   margin: 10px 0;
      //   background: transparent;
      // }


      // .app-value {
      //   font-size: 15px;
      //   color: $app-grey-d-2;
      //   &.app-note {
      //     &:not(:last-child) {
      //       margin-bottom: 10px;
      //     }
      //   }
      // }

      .single-line {
        overflow: hidden;
        line-height: 20px;
        height: 20px;
        -webkit-line-clamp: 1;
        display: block;
        display: -webkit-box;
        text-overflow: ellipsis;
      }
      
      .app-more {
        cursor: pointer;
        color: $app-grey-text;
        display: block;
        margin-bottom: -4px;
        margin-left: -2px;
        &:hover {
          color: #000;
        }
      }
      
    


      .app-source {
        display: block;
        overflow: hidden;
        padding: 5px 10px 10px 2px;
        cursor: pointer;
        img {
            float: left;
            margin-right: 10px;
            width: 24px;
            margin-left: -2px;
        }
        span {
            font-size: 14px;
            color: #777;
        }
      }
      .app-policy {
        line-height: 24px;
        .app-lock {
          vertical-align: middle;
          font-size: 20px;
          color: $app-grey-d-2;
          // margin-right: 2px;
          &.app-lock-licence-open, &.app-lock-licence-locked {
            color: $app-licence-color;
          }
        }
        .app-message {
          color: $app-grey-d-2;
        }
        .app-help {
          vertical-align: middle;
          font-size: 20px;
          margin-left: 4px;
          color: $primary-color;
          cursor: pointer;
        }
        .app-licence-value {
          color: $primary-color;
          cursor: pointer;
        }
        .app-licence-image {
          margin-top: 12px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .app-dropdown-input {
    color: #0277bd;
    // width: 150px;
    padding: 0 10px;
    input {
      height: 30px;
      &:focus {
        outline: none !important; 
      }
    }
  }
  .app-doctypes-label-add {
    margin: 10px 10px 0 10px;
  }
  .app-doctypes-label-to-folder {
    margin: 0px 0px 10px 10px;
  }
  .app-dropdown-doctypes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px 5px;
    font-size: 14px;
    color: #777;
    .app-doctype-item {
      padding: 0px 5px;
      cursor: pointer;
      &:not(:first-child) {
        border-left: 1px solid #ccc;
      }
      &.active {
        color: $primary-color;
      }
    }
  }
  .mat-menu-panel {
    max-height: 350px;
    overflow: auto;
  }

  .app-dropdown-header {
    display: flex;
    flex-direction: column;
  }
  .app-mat-form-field {
    padding: 0 10px;
    width: 100%;
  }
  ::ng-deep {
    .mat-select-value {
      color: #777;
    }
  }