<div class="app-metadata-wrapper" *ngIf="metadata">

  <div class="app-metadata-controls" *ngIf="controlsEnabled">
      <mat-icon *ngIf="showSharing()" (click)="onShare()" [matTooltip]="'book_controls.tooltip_share' | translate">share</mat-icon>
      <mat-icon *ngIf="showCitation()" (click)="onShowCitation()" [matTooltip]="'book_controls.tooltip_citation' | translate">format_quote</mat-icon>
      <mat-icon *ngIf="showMetadata()" (click)="onShowMetadata()" [matTooltip]="'book_controls.tooltip_metadata' | translate">code</mat-icon>
      <mat-icon *ngIf="auth.isAdmin()" (click)="openAdminActions()" [matTooltip]="'book_controls.tooltip_edit' | translate">edit</mat-icon>
    </div>

  <div class="app-metadata-content">

    <ng-container *ngIf="metadata.getTitle()">
      <h1 [class.app-cut]="metadata.getTitle().length > 75 && showingTitle == false">
        {{ metadata.getTitle() }}
      </h1>
      <mat-icon *ngIf="metadata.getTitle().length > 75 && showingTitle == false" [matTooltip]="'common.show_whole_title' | translate" (click)="showTitle()" class="app-more">more_horiz</mat-icon>
      <mat-icon *ngIf="metadata.getTitle().length > 75 && showingTitle == true" [matTooltip]="'common.hide_whole_title' | translate" (click)="showTitle()" class="app-more">more_horiz</mat-icon>
      <div class="app-subtitle">{{metadata.titles[0].subTitle}}</div>
      <div>
        <span *ngIf="metadata.titles[0].partNumber" class="app-part-number">{{ metadata.titles[0].partNumber }}. </span>
        <span class="app-part-name">{{ metadata.titles[0].partName }}</span>
      </div>

      <div *ngIf="metadata.hasIdentifier('issn')" class="app-identifier">
        ISSN <span class="app-value">{{ metadata.identifiers['issn'] }}</span>
      </div>

      <div *ngIf="metadata.hasIdentifier('isbn')" class="app-identifier">
        ISBN <span class="app-value">{{ metadata.identifiers['isbn'] }}</span>
      </div>

      <div *ngIf="metadata.hasIdentifier('doi')" class="app-identifier">
        DOI: <a href="{{ metadata.identifiers['doi'] }}" target="_blank">{{ metadata.identifiers['doi'] }}</a>
      </div>

      <a *ngIf="settings.originLink && metadata.getOriginUrl()" target="_blank" [href]="metadata.getOriginUrl()" (click)="analytics.sendEvent('metadata', 'link', 'origin');">{{ 'metadata.origin' | translate }}</a>
      

      <div *ngIf="metadata.doctype == 'convolute'">
        <a [routerLink]="[settings.getRouteFor('periodical'), metadata.uuid]" (click)="analytics.sendEvent('metadata', 'link', 'omnibus list');">
          {{ 'metadata.omnibus_list' | translate }}
        </a>
      </div>

      <div *ngIf="metadata.currentUnit && metadata.doctype != 'convolute'">
        <a [routerLink]="[settings.getRouteFor('periodical'), metadata.uuid]" (click)="analytics.sendEvent('metadata', 'link', 'unit list');">
          {{ 'metadata.unit_list' | translate }}
        </a>
      </div>
      <div *ngIf="metadata.volume">
        <a [routerLink]="[settings.getRouteFor('periodical'), metadata.uuid]" (click)="analytics.sendEvent('metadata', 'link', 'volume list');">
          {{ 'metadata.volume_list' | translate }}
        </a>
      </div>
      
      <div class="divider"></div>

    </ng-container>

    <div *ngIf="!metadata.isPublic" class="app-policy">
      <mat-icon class="app-lock" [class.app-lock-licence-open]="anyLicence()">{{ metadata.licence ? 'no_photography' : 'lock' }}</mat-icon>
      <span class="app-message">{{ 'metadata.policy_private' | translate }}</span>
      <mat-icon class="app-help" (click)="showPrivateDialog()">info</mat-icon>
      <ng-container *ngIf="metadata.licence">
        <div class="app-licence-label">
          {{ 'licence.metadata_licence' | translate }}
        </div>
        <div class="app-licence-value" (click)="showLicenceDialog()">
          {{ licences.label(metadata.licence) }}
        </div>
      </ng-container>
      <div class="divider"></div>
    </div>

    <div *ngIf="metadata.getPrimaryAuthors().length > 0">
      <label>{{ 'metadata.author' | translate }}</label>
      <ng-container *ngFor="let author of metadata.getPrimaryAuthors(); let index=index">
        <div *ngIf="index < 3">
          <a *ngIf="settings.availableFilter('authors')" [routerLink]="settings.getRouteFor('search')" [queryParams]="{authors: author.name }" (click)="analytics.sendEvent('metadata', 'link', 'author');">{{ author.name }}</a>
          <div *ngIf="!settings.availableFilter('authors')" class="app-value">{{ author.name }}</div>
        </div>
      </ng-container>
      <mat-icon [matTooltip]="'metadata.authors_info' | translate" (click)="onShowAuthors()" class="app-more">more_horiz</mat-icon>
      <div class="divider"></div>
    </div>

    <div *ngIf="metadata.getOtherAuthors().length > 0">
      <label>{{ 'metadata.author_other' | translate }}</label>
      <ng-container *ngFor="let author of metadata.getOtherAuthors(); let index=index">
        <div *ngIf="index < 3">
          <a *ngIf="settings.availableFilter('authors')" [routerLink]="settings.getRouteFor('search')" [queryParams]="{authors: author.name }" (click)="analytics.sendEvent('metadata', 'link', 'author');">{{ author.name }}</a>
          <div *ngIf="!settings.availableFilter('authors')" class="app-value">{{ author.name }}</div>
        </div>
      </ng-container>
      <mat-icon [matTooltip]="'metadata.authors_info' | translate" (click)="onShowAuthors()" class="app-more">more_horiz</mat-icon>
      <div class="divider"></div>
    </div>
    
    <div *ngIf="metadata.volume">
      <label>{{ 'metadata.volume' | translate }}</label>
      <div class="app-value">{{ 'metadata.volume_year' | translate }} <strong>{{ metadata.volume.year }}</strong></div>
      <div class="app-value">{{ 'metadata.volume' | translate }} <strong>{{ metadata.volume.number }}</strong></div>
      <div *ngIf="metadata.currentIssue">
        <a [routerLink]="[settings.getRouteFor('periodical'), metadata.volume.uuid]" (click)="analytics.sendEvent('metadata', 'link', 'issue list');">
          {{ 'metadata.issue_list' | translate }}
        </a>
      </div>
      <div *ngIf="metadata.volumeMetadata" >
        <app-metadata [metadata]="metadata.volumeMetadata" class="app-nested" [showControls]="false"></app-metadata>
      </div>

      <div *ngIf="metadata.previousVolume">
          <a [routerLink]="[settings.getRouteFor('periodical'), metadata.previousVolume.uuid]" (click)="analytics.sendEvent('metadata', 'link', 'previous volume');">
            {{ 'metadata.previous_volume' | translate }}{{ metadata.previousVolume.prettyName() }}
          </a>
        </div>
  
        <div *ngIf="metadata.nextVolume">
          <a [routerLink]="[settings.getRouteFor('periodical'), metadata.nextVolume.uuid]" (click)="analytics.sendEvent('metadata', 'link', 'next volume');">
            {{ 'metadata.next_volume' | translate }} {{ metadata.nextVolume.prettyName() }}
          </a>
        </div>

      <div class="divider"></div>
    </div>

    <div *ngIf="metadata.currentIssue">
      <label>{{ 'metadata.issue' | translate }}</label>
      <div class="app-value">{{ 'metadata.issue_date' | translate }} <strong>{{ metadata.currentIssue.getDate() }}</strong></div>
      <div class="app-value" >{{ 'metadata.issue' | translate }} <strong>{{ metadata.currentIssue.getPart() }}</strong></div>
      
      <div *ngIf="metadata.previousIssue">
        <a [routerLink]="[settings.getRouteFor('view'), metadata.previousIssue.uuid]" (click)="analytics.sendEvent('metadata', 'link', 'previous issue');">
          {{ 'metadata.previous_issue' | translate }} {{ metadata.previousIssue.prettyName() }}
        </a>
      </div>

      <div *ngIf="metadata.nextIssue">
        <a [routerLink]="[settings.getRouteFor('view'), metadata.nextIssue.uuid]" (click)="analytics.sendEvent('metadata', 'link', 'next issue');">
          {{ 'metadata.next_issue' | translate }} {{ metadata.nextIssue.prettyName() }}
        </a>
      </div>

      <div *ngIf="metadata.currentIssue.metadata" >
        <app-metadata [metadata]="metadata.currentIssue.metadata" class="app-nested" [showControls]="false"></app-metadata>
      </div>

      <div class="divider"></div>
    </div>

    <div *ngIf="metadata.currentUnit">
      <label>{{ 'metadata.unit' | translate }}</label>
      <div *ngIf="metadata.currentUnit.metadata" >
        <app-metadata [metadata]="metadata.currentUnit.metadata" class="app-nested" [showControls]="false"></app-metadata>
      </div>
      <div *ngIf="metadata.previousUnit">
        <a [routerLink]="[settings.getRouteFor('view'), metadata.previousUnit.uuid]" class="single-line" (click)="analytics.sendEvent('metadata', 'link', 'previous unit');">
          {{ 'metadata.previous_unit' | translate }} {{ metadata.previousUnit.title}}
        </a>
      </div>
      <div *ngIf="metadata.nextUnit">
        <a [routerLink]="[settings.getRouteFor('view'), metadata.nextUnit.uuid]" class="single-line" (click)="analytics.sendEvent('metadata', 'link', 'next unit');">
          {{ 'metadata.next_unit' | translate }} {{ metadata.nextUnit.title }}
        </a>
      </div>
      <div class="divider"></div>
    </div>








    <div *ngIf="metadata.article && metadata.article.metadata" >
      <label>{{ 'metadata.article' | translate }}</label>
      <app-metadata [metadata]="metadata.article.metadata" class="app-nested" [showControls]="false"></app-metadata>
      <!-- <div class="divider"></div> -->
    </div>



    <div *ngIf="metadata.internalPart && metadata.internalPart.metadata" >
      <label>{{ 'model.internalpart' | translate }}</label>
      <app-metadata [metadata]="metadata.internalPart.metadata" class="app-nested" [showControls]="false"></app-metadata>
      <!-- <div class="divider"></div> -->
    </div>



    <div *ngIf="metadata.extraParentMetadata">
      <label>{{ 'model.' + metadata.extraParentMetadata.doctype | translate }}</label>
      <app-metadata [metadata]="metadata.extraParentMetadata" class="app-nested" [showControls]="false"></app-metadata>
      <div class="divider"></div>
    </div>

    <div *ngIf="metadata.donators">
      <label>{{ 'metadata.donator' | translate }}</label>
      <a *ngFor="let donator of metadata.donators" style="display:block" target="_blank" href="{{ 'donator.' + donator + '.url' | translate }}" (click)="analytics.sendEvent('metadata', 'link', 'donator');">
        <img src="assets/img/donator_{{donator}}.png" >
      </a>
    </div>


    <div *ngIf="metadata.publishers.length > 0">
      <label>{{ 'metadata.publisher' | translate }}</label>
      <div *ngFor="let publisher of metadata.publishers; first as first" [class.space]="!first" class="app-value" >{{ publisher.fullDetail() }}</div>
      <div class="divider"></div>
    </div>

    <div *ngIf="metadata.doctype">
      <label>{{ 'metadata.doctype' | translate }}</label>
      <div *ngIf="metadata.doctype !== 'monographbundle'">
        <a *ngIf="settings.availableFilter('doctypes')" [routerLink]="settings.getRouteFor('search')" [queryParams]="{doctypes: metadata.doctype }" (click)="analytics.sendEvent('metadata', 'link', 'doctype');">{{ 'model.' + metadata.doctype | translate }}</a>
        <div *ngIf="!settings.availableFilter('doctypes')" class="app-value">{{ 'model.' + metadata.doctype | translate }}</div>
      </div>

      <div class="app-value" *ngIf="metadata.doctype === 'monographbundle'">
        {{ 'model.' + metadata.doctype | translate }}
      </div>
      <div class="divider"></div>
    </div>

    <div *ngIf="metadata.keywords.length > 0">
      <label>{{ 'metadata.keywords' | translate }}</label>
      <div *ngFor="let keyword of metadata.keywords">
        <a *ngIf="settings.availableFilter('keywords')" [routerLink]="settings.getRouteFor('search')" [queryParams]="{keywords: keyword }" (click)="analytics.sendEvent('metadata', 'link', 'keyword');">{{ keyword | appUpcase }}</a>
        <div *ngIf="!settings.availableFilter('keywords')" class="app-value">{{ keyword }}</div>
      </div>
      <div class="divider"></div>
    </div>

    <div *ngIf="metadata.genres.length > 0">
      <label>{{ 'metadata.genres' | translate }}</label>
      <div *ngFor="let genre of metadata.genres">
        <a *ngIf="settings.availableFilter('genres')" [routerLink]="settings.getRouteFor('search')" [queryParams]="{genres: genre }" (click)="analytics.sendEvent('metadata', 'link', 'genre');">{{ genre | appUpcase}}</a>
        <div *ngIf="!settings.availableFilter('genres')" class="app-value">{{ genre }}</div>
      </div>
      <div class="divider"></div>
    </div>

    <div *ngIf="metadata.geonames.length > 0">
      <label>{{ 'metadata.geonames' | translate }}</label>
      <div *ngFor="let geoname of metadata.geonames">
        <a *ngIf="settings.availableFilter('geonames')"  [routerLink]="settings.getRouteFor('search')" [queryParams]="{geonames: geoname }" (click)="analytics.sendEvent('metadata', 'link', 'geoname');">{{ geoname | appUpcase}}</a>
        <div *ngIf="!settings.availableFilter('geonames')"  class="app-value">{{ geoname }}</div>
      </div>
      <div class="divider"></div>
    </div>

    <div *ngIf="metadata.languages.length > 0">
      <label>{{ 'metadata.languages' | translate }}</label>
      <div *ngFor="let language of metadata.languages">
        <a  *ngIf="settings.availableFilter('languages')" [routerLink]="settings.getRouteFor('search')" [queryParams]="{languages: language }" (click)="analytics.sendEvent('metadata', 'link', 'language');">{{ 'language.' + language | translate | appUpcase }}</a>
        <div *ngIf="!settings.availableFilter('languages')" class="app-value">{{ 'language.' + language | translate | appUpcase }}</div>
      </div>
      <div class="divider"></div>
    </div>
    
    <div *ngIf="metadata.locations.length > 0">
      <label>{{ 'metadata.location' | translate }}</label>
      <div *ngFor="let location of metadata.locations">
        <ng-container *ngIf="location.physicalLocation">
          <a *ngIf="settings.availableFilter('locations')" [routerLink]="settings.getRouteFor('search')" [queryParams]="{locations: location.physicalLocation }" (click)="analytics.sendEvent('metadata', 'link', 'location');">{{ 'sigla.' + location.physicalLocation | translate | appRemovePrefix:'sigla.' }}</a>
          <div *ngIf="!settings.availableFilter('locations')" class="app-value">{{ 'sigla.' + location.physicalLocation | translate | appRemovePrefix:'sigla.' }}</div>
        </ng-container>
        <div class="app-value" *ngIf="location.shelfLocator" translate [translateParams]="{ shelf_locator: location.shelfLocator }">metadata.shelf_locator</div>
      </div>
      <div class="divider"></div>
    </div>

    <div *ngIf="metadata.physicalDescriptions.length > 0">
      <label>{{ 'metadata.physical_description' | translate }}</label>
      <div *ngFor="let desc of metadata.physicalDescriptions">
        <div class="app-value" *ngIf="desc.extent">{{ 'metadata.extent' | translate }}: {{ desc.extent }}</div>
        <div class="app-value" *ngIf="desc.note">{{ desc.note }}</div>
      </div>
      <div class="divider"></div>
    </div>

    <div *ngIf="metadata.cartographicData.length > 0">
      <label>{{ 'metadata.cartographic_data' | translate }}</label>
      <div *ngFor="let cd of metadata.cartographicData">
        <div class="app-value" *ngIf="cd.scale">{{ cd.scale }}</div>
        <div class="app-value" *ngIf="cd.coordinates">{{ cd.coordinates }}</div>
      </div>
      <div class="divider"></div>
    </div>


    <div *ngIf="metadata.extent">
      <label>{{ 'metadata.extent' | translate }}</label>
      <div class="app-value" >{{ metadata.extent }}</div>
      <div class="divider"></div>
    </div>


    <div *ngIf="metadata.abstracts.length > 0">
      <label>{{ 'metadata.abstract' | translate }}</label>
      <ng-container *ngFor="let abstract of metadata.abstracts; let i = index">
        <div class="app-value" *ngIf="abstract.length > 115 && !expand['abstract' + i]" >{{ abstract.substring(0, 110) + "..." }}</div>
        <div class="app-value" *ngIf="!(abstract.length > 115 && !expand['abstract' + i])" >{{ abstract }}</div>
        <mat-icon *ngIf="abstract.length > 115" (click)="expand['abstract' + i] = !expand['abstract' + i]" class="app-more">more_horiz</mat-icon>
        <div class="divider"></div>
      </ng-container>
    </div>

    <div *ngIf="metadata.contents.length > 0">
      <label>{{ 'metadata.content' | translate }}</label>
      <div *ngFor="let content of metadata.contents" class="app-value" >{{ content }}</div>
      <div class="divider"></div>
    </div>
    
    <div *ngIf="metadata.notes.length > 0">
      <label>{{ 'metadata.notes' | translate }}</label>
      <div *ngFor="let note of metadata.notes" class="app-value">
        <div [innerHTML]="toHtml(note) | safeHtml"></div>
      </div>
      <div class="divider"></div>
  </div>


  <div *ngIf="metadata.review && metadata.review" >
    <label>{{ 'metadata.review_of' | translate }}</label>
    <app-metadata [metadata]="metadata.review" class="app-nested" [showControls]="false"></app-metadata>
    <div class="divider"></div>
  </div>


  <div *ngIf="metadata.activePage">
    <label>{{ 'metadata.page' | translate }}</label>
    <div class="app-value" >
      {{ metadata.activePage.number }} {{ metadata.activePage.title }}
    <span *ngIf="metadata.activePageRight"> - {{ metadata.activePageRight.number }} {{ metadata.activePageRight.title }}</span>
    </div>
    <div class="divider"></div>
  </div>



  </div>
</div>