@import './src/variables.scss';

a {
  position: relative;
  display: block;
  cursor: pointer;
  border-radius: unset;
  background: #fff;
  box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0,0,0,0.1), 0 3px 1px -20px rgba(0,0,0,0.1);
  border: 1px solid $app-grey-l-2;
  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #d3d3d3;
  }
  .app-card-content {
    font-size: 0.9rem;
    color: $app-grey-d-1;
    padding: 10px 0;
    overflow: hidden;
    .app-card-title {
      font-weight: 400;
      font-size: $app-card-title-font-size;
      margin-bottom: 5px;
      color: $primary-color;
      line-height: 23px;
      height: 23px;
      padding: 0 4px;
      overflow: hidden;
    }
    .app-card-subtitle {
      line-height: 19px;
      height: 19px;
      padding: 0 4px;
      overflow: hidden;
    }
    .app-card-thumb {
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 95px;
      height: 140px;
      background-position-y: top;
      background-position-x: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
      .app-lock {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.30);
        background: #fff;
        height: 36px;
        width: 36px;
        padding: 6px;
        display: block;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        color: $app-grey-d-2;
        opacity: 0.8;
        margin: auto;
        top: 0; left: 0; bottom: 0; right: 0;
        &.app-lock-licence-open, &.app-lock-licence-locked {
          color: $app-licence-color;
        }
      }
    }
  }
}