.app-signin-wrapper {
  padding-top:50px;
  padding-bottom:50px;
  height: 100%;
  overflow: auto;
  background: #f5f5f5;
  .app-signin {
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
    background: #ffffff;
    overflow: auto;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    .app-title {
      margin-bottom: 40px;
      font-size: 22px;
      color: #333;
    }
    .app-error {
      color: #b44;
      margin-bottom: 10px;
    }
    mz-spinner {
      float: right;
    }
    .app-links {
      margin-bottom: 12px;
      overflow: hidden;
    }
    .app-message {
      margin-bottom: 20px;
      color: #666;
    }
    .app-social-auth-wrapper {
      border-top: 1px solid #ddd;
      margin-top: 16px;
      padding-top: 16px;
      .app-social-auth {
        text-align: center;
        height:40px;
        line-height: 40px;
        width: 100%;
        color: #fff;
        &.app-google-auth {
          background: #dd4b39;
          margin-bottom: 10px;
        }
        &.app-facebook-auth {
          background: #3a5997;
        }
      }
    }

  }
}
