#geo_ol {
  position: absolute;
  // width: 100%;
  // height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.select-container {
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 0.5em;
}