// --- NAVIGATION ITEM ---

.app-pages-wrapper {
  text-align: center;
  user-select: none;
  .app-pages {
    overflow-y: auto;
    .app-page-wrapper {
      //padding: 2px;
      padding: 6px;
      cursor: pointer;
      width: 140px;
      overflow: hidden;
      float: left;
      position: relative;
      &:hover {
        //opacity: 0.6;
        box-shadow: 0 8px 17px 0 rgba(38, 50, 56, 0.2), 0 6px 20px 0 rgba(38, 50, 56, 0.2);
      }
      .app-page-thumb {
        background-repeat: no-repeat;
        width: 100%;
        height: 175px;
        overflow: hidden;
        // background-size: cover;
        // background-position-x: center;    
        background-color: #c5c5c5;
        border: solid 1px #adadad;
        background-size: contain;
        background-position-x: center;
        background-position-y: center;
        &.hidden {
          opacity: 0.1;
        }
      }
      .app-page-title {
        position: absolute;
        font-size: 13px;
        top: 0.5rem;
        right: 0.5rem;
        padding: 2px;
        text-align: center;
        color: #000;
        background: rgba(255, 255, 255, 0.6);
      }
      .app-page-check {
        display: none;
        position: absolute;
        top: 10px;
        left: 10px;
      }

      &:hover {
        .app-page-check {
          display: block;
        }
      }

      &.active {
        // background: #757575;
        .app-page-check {
          display: block;
          border-radius: 50%;
          background: #0377bd;
          color: #fff;
          padding: 2px;
          width: 28px;
          height: 28px;
          border: solid 1px #fff;
        }
      }

    }
  }
}
mz-modal-footer {
  mz-spinner {
    margin-top: 5px;
  }
  .app-error {
    float: left;
    color: #aa4444;
    margin-left: 24px;
  }
  .app-message {
    float: left;
    margin-left: 24px;
    color: #585858;
  }
}