<div class="row">
  <div class="col s12 m12 l12 {{ anyFilter() ? 'offset-xl1 xl11' : 'xl12' }}">
    <div class="app-search-bar-wrapper" [class.app-hover]="searchStr">
      <div class="input-field">
        <label for="autocomplete-input" class="app-hidden-label">{{ getPlaceholder() }}</label>
        <ng2-completer #completer (keyup)="onKeyUp($event)" (selected)="onSelected($event)" [(ngModel)]="searchStr" [matchClass]="'highlight'"
        [datasource]="service" [minSearchLength]="1" [inputId]="'autocomplete-input'" [inputClass]="'autocomplete'" [placeholder]="getPlaceholder()" [inputName]="'autocomplete-input'">
        </ng2-completer>
      </div>
      <mat-icon (click)="onMagnifyIconClick()" class="app-button-search">search</mat-icon>
      <mat-icon *ngIf="searchStr" (click)="cleanQuery()" class="app-button-close" [matTooltip]="'searchbar.delete_query' | translate">close</mat-icon>
      <mat-icon tabindex="0" (click)="showHelp()" class="app-button-help" [matTooltip]="'searchbar.help' | translate">info_outline</mat-icon>
    </div>
    <mat-checkbox *ngIf="accessibilityFilterEnabled()" color="primary" (change)="onAccessibilityFilterChanged()" [(ngModel)]="accessibilityFilter">{{ 'home.public_filter' | translate }}</mat-checkbox>
    <mat-checkbox *ngIf="preselectedLicencesFilterEnabled()" color="primary" (change)="onPreselectedLicencesFilterChanged()" [(ngModel)]="preselectedLicencesFilter">{{ 'home.preselected_licences_filter' | translate }}</mat-checkbox>

  </div>
</div>
<div class="row">
  <div class="col s12">
    <button (click)="onSearchButtonClick()" mat-raised-button color="primary">{{ (!!searchStr ? 'home.btn_search' : 'home.btn_enter') | translate }}</button>
  </div>
</div>