<div class="row">
  <div class="col s12 m12 l12 offset-xl1 xl11">
    <div class="app-search-bar-wrapper" [class.app-hover]="searchStr">
      <div class="input-field">
        <ng2-completer #completer (keyup)="onKeyUp($event)" (selected)="onSelected($event)" [(ngModel)]="searchStr" [matchClass]="'highlight'"
        [datasource]="service" [minSearchLength]="1" [inputId]="autocomplete-input" [inputClass]="'autocomplete'" [placeholder]="getPlaceholder()" [inputName]="'autocomplete-input'">
        </ng2-completer>
      </div>
      <mat-icon (click)="onMagnifyIconClick()" class="app-button-search">search</mat-icon>
      <mat-icon *ngIf="searchStr" (click)="cleanQuery()" class="app-button-close" [matTooltip]="'searchbar.delete_query' | translate">close</mat-icon>
    </div>
    <mat-checkbox [class.app-hide-filter]="!appSettings.availableFilter('accessibility')" color="primary" (change)="onAccessibilityFilterChanged()" [(ngModel)]="accessibilityFilter">{{ 'navbar.checkbox_label' | translate }}</mat-checkbox>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <button (click)="onSearchButtonClick()" mat-raised-button color="primary">{{ (!!searchStr ? 'home.btn_search' : 'home.btn_enter') | translate }}</button>
  </div>
</div>