<mz-modal #modal [fixedFooter]="false" class="app-dialog-authors">
  <mz-modal-header>
    {{ 'authors-dialog.title' | translate }}
  </mz-modal-header>
  <mz-modal-content>
    <mz-input-container>

      <div class="app-author-table">
        <div class="app-row app-header">
          <div class="app-cell app-name">{{ 'authors-dialog.name' | translate }}</div>
          <div class="app-cell app-date">{{ 'authors-dialog.date' | translate }}</div>
          <div class="app-cell app-role">{{ 'authors-dialog.role' | translate }}</div>
        </div>
        <div class="app-row" *ngFor="let author of authors; let even=even;" [ngClass]="{ even: even }">
            <div class="app-cell app-name">{{ author.name }}</div>
            <div class="app-cell app-date">{{ author.date }}</div>
            <div class="app-cell app-role">
              <span *ngFor="let role of author.roles; let last=last">
                  {{ 'relator.' + role | translate }}<span *ngIf="!last">, </span>
              </span>
            </div>
          </div>
      </div>

    </mz-input-container>

  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>{{ 'common.close' | translate }}</button>
  </mz-modal-footer>
</mz-modal>