@import './src/variables.scss';
.app-licences {
    .app-label {
      font-size: 13px;
      color: #888;
      margin-bottom: 6px;
      margin-top: 8px;
    }
    .app-licences-list {
      margin-left: -8px;
      .app-licence {
        line-height: 30px;
        height: 30px;
        overflow: hidden;
        .app-btn {
          float: left;
          font-size: 22px;
          cursor: pointer;
          padding: 0 10px;
          color: #ccc;
          &:hover {
            color: $primary-color;
          }
          &.app-btn-remove {
            &:hover {
              color: red;
            }
          }
        }
        .app-col-name {
          color: #444;
          margin-left: 10px;
          margin-right: 10px;
        }
        .app-col-desc {
          color: #999;
          font-size: 12px;
        }
        &:hover {
          background: #eeeeee;
        }
      }
    }
    .app-actions {
      margin-top: 10px;
    }
  }