<div class="app-navbar">
  <div *ngIf="!state.atHome()" class="col app-col-left" [class.app-col-hidden]="mobileSearchBarExpanded">
    <a class="app-arrow-left" (click)="goBack()">
      <mat-icon [matTooltip]="'navbar.back' | translate" matTooltipPosition="above">arrow_back</mat-icon>
    </a>
    <app-logo></app-logo>
  </div>

  <div *ngIf="state.atHome() && appSettings.landingPage" class="sp-header-logo" [matTooltip]="'sp.logo_tooltip' | translate" matTooltipPosition="right">
    <a [routerLink]="['/']">
      <img [src]="'sp.header.logo' | translate">
    </a>
  </div>
  
  <div class="col app-col-right" [class.app-col-right-home]="state.atHome()" [class.app-search-bar-displayed]="mobileSearchBarExpanded">
    <app-navbar-search-bar *ngIf="!state.atHome()" [class.app-search-bar-show]="mobileSearchBarExpanded"></app-navbar-search-bar>
    <div class="app-buttons">
      
      <div class="app-navbar-item">
        <ng-container *ngIf="appSettings.k5Compat(); else newCollections">
          <a (click)="analytics.sendEvent('navbar', 'collections');" *ngIf="!appSettings.richCollections" [routerLink]="appSettings.getRouteFor('browse')" [queryParams]="{category: 'collections'}">{{ 'navbar.collections' | translate }}</a>
          <a (click)="analytics.sendEvent('navbar', 'collections');" *ngIf="appSettings.richCollections" [routerLink]="appSettings.getRouteFor('collections')">{{ 'navbar.collections' | translate }}</a>
        </ng-container>
        <ng-template #newCollections>
          <a (click)="analytics.sendEvent('navbar', 'collections');" [routerLink]="appSettings.getRouteFor('search')" [queryParams]="{doctypes: 'collection'}">{{ 'navbar.collections' | translate }}</a>
        </ng-template>
      </div>
      <div class="app-navbar-item">
        <a (click)="analytics.sendEvent('navbar', 'browse');" [routerLink]="appSettings.getRouteFor('browse')">{{ 'navbar.browse' | translate }}</a>
      </div>
      <div class="app-navbar-item" *ngIf="appSettings.aboutPage">
        <a (click)="analytics.sendEvent('navbar', 'about');" [routerLink]="appSettings.getRouteFor('about')">{{ 'navbar.about' | translate }}</a>
      </div>
      <div class="app-navbar-item" *ngIf="appSettings.faqPage">
        <a (click)="analytics.sendEvent('navbar', 'faq');" [routerLink]="appSettings.getRouteFor('faq')">{{ 'navbar.faq' | translate }}</a>
      </div>
      <div class="app-navbar-item" *ngIf="appSettings.impressumPage">
        <a (click)="analytics.sendEvent('navbar', 'impressum');" [routerLink]="appSettings.getRouteFor('impressum')">{{ 'navbar.impressum' | translate }}</a>
      </div>
      <ng-container *ngIf="appSettings.auth || appSettings.krameriusLogin || appSettings.keycloak">
        <div class="app-navbar-item" *ngIf="authService.isLoggedIn()">
          <a (click)="logout()">{{ 'navbar.logout' | translate }}</a>
        </div>
        <div class="app-navbar-item" *ngIf="!authService.isLoggedIn()">
          <a (click)="login()">{{ 'navbar.login' | translate }}</a>
        </div>
      </ng-container>


      <div class="app-language">
        <div *ngIf="languages().length > 1" class="app-dropdown-language" [matMenuTriggerFor]="languagesMenu">
          <img src="assets/img/flag_{{translate.currentLang}}.png">
        </div>

      </div>

    </div>
    <a class="app-btn-search-bar" (click)="toggleMobileSearchBar()" *ngIf="!state.atHome()">
      <mat-icon  *ngIf="!mobileSearchBarExpanded">search</mat-icon>
      <mat-icon  *ngIf="mobileSearchBarExpanded">close</mat-icon>
    </a>
    
    <div class="app-mobile-menu-trigger" [matMenuTriggerFor]="mobileMenu" [class.app-home]="state.atHome()" >
      <mat-icon>more_vert</mat-icon>
    </div>
  </div>
</div>


<mat-menu #mobileMenu="matMenu" xPosition="after" class="app-mobile-menu">
  <ng-template matMenuContent ngFor>

    <div class="app-navbar-item">
      <ng-container *ngIf="appSettings.k5Compat(); else newCollections">
        <a (click)="analytics.sendEvent('navbar', 'collections');" *ngIf="!appSettings.richCollections" [routerLink]="appSettings.getRouteFor('browse')" [queryParams]="{category: 'collections'}">{{ 'navbar.collections' | translate }}</a>
        <a (click)="analytics.sendEvent('navbar', 'collections');" *ngIf="appSettings.richCollections" [routerLink]="appSettings.getRouteFor('collections')">{{ 'navbar.collections' | translate }}</a>
      </ng-container>
      <ng-template #newCollections>
        <a (click)="analytics.sendEvent('navbar', 'collections');" [routerLink]="appSettings.getRouteFor('search')" [queryParams]="{doctypes: 'collection'}">{{ 'navbar.collections' | translate }}</a>
      </ng-template>
    </div>

    <div class="app-navbar-item">
      <a (click)="analytics.sendEvent('navbar', 'browse');" [routerLink]="appSettings.getRouteFor('browse')">{{ 'navbar.browse' | translate }}</a>
    </div>
    <div class="app-navbar-item" *ngIf="appSettings.aboutPage">
      <a (click)="analytics.sendEvent('navbar', 'about');" [routerLink]="appSettings.getRouteFor('about')">{{ 'navbar.about' | translate }}</a>
    </div>
    <div class="app-navbar-item" *ngIf="appSettings.faqPage">
      <a (click)="analytics.sendEvent('navbar', 'faq');" [routerLink]="appSettings.getRouteFor('faq')">{{ 'navbar.faq' | translate }}</a>
    </div>
    <div class="app-navbar-item" *ngIf="appSettings.impressumPage">
      <a (click)="analytics.sendEvent('navbar', 'impressum');" [routerLink]="appSettings.getRouteFor('impressum')">Impressum</a>
    </div>

    <ng-container *ngIf="appSettings.auth || appSettings.krameriusLogin || appSettings.keycloak">
      <div class="app-navbar-item" *ngIf="authService.isLoggedIn()">
        <a (click)="logout()">{{ 'navbar.logout' | translate }}</a>
      </div>
      <div class="app-navbar-item" *ngIf="!authService.isLoggedIn()">
        <a (click)="login()">{{ 'navbar.login' | translate }}</a>
      </div>
    </ng-container>

    <div (click)="$event.preventDefault();$event.stopPropagation()" *ngIf="languages().length > 1" class="app-language" [matMenuTriggerFor]="languagesMenu">
      <img src="assets/img/flag_{{translate.currentLang}}.png">
    </div>

  </ng-template>
</mat-menu>



<mat-menu #languagesMenu="matMenu" xPosition="after" class="app-languages-menu">
  <ng-template matMenuContent ngFor>
    <div class="app-dropdown-item" *ngFor="let lang of languages()" (click)="onLanguageChanged(lang)">
      <div class="app-language">
        <img src="assets/img/flag_{{lang}}.png">
        <div class="app-language-name">{{ 'lang.' + lang | translate }}</div>
      </div>
    </div>
  </ng-template>
</mat-menu>
