<mz-navbar>
  <a [routerLink]="['']" class="brand-logo">Kramerius</a>


  <div class="library-search-wrapper">
      <div (keyup.enter)="onEnter()" class="input-field" style="width:100%; height:100%;">
         <ng2-completer (selected)="onSelected($event)" [(ngModel)]="searchStr" [matchClass]="'highlight'"
          [datasource]="service" [minSearchLength]="1" [inputId]="autocomplete-input" [inputClass]="'autocomplete'" [placeholder]="'Hledat v digitální knihovně'" [inputName]="'autocomplete-input'">
          </ng2-completer>
      </div>
    </div>
    


  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a routerLink='documents'>Dokument</a></mz-navbar-item>      
    <!-- <mz-navbar-item [active]="router.isActive('/collections')"><a routerLink='collections'>Sbírky</a></mz-navbar-item>
    <mz-navbar-item [active]="router.isActive('/browse')"><a routerLink='browse'>Procházet</a></mz-navbar-item>
    <mz-navbar-item [active]="router.isActive('/help')"><a routerLink='help'>Nápověda</a></mz-navbar-item> -->
    <mz-navbar-item><a routerLink='collections'>Sbírky</a></mz-navbar-item>
    <mz-navbar-item><a routerLink='browse'>Procházet</a></mz-navbar-item>
    <mz-navbar-item><a routerLink='help'>Nápověda</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>


