.app-periodical-unit-layout-wrapper {
  height: 100%;
  overflow: auto;
  padding: 0.5rem;
  app-document-card {
    float: left;
    width:16.66666%;
    @media (max-width: 2300px) {
      //width:20%;
      width:25%;
    }
    @media (max-width: 1900px) {
      //width:25%;
      width:33.33333%;
    }
    @media (max-width: 1500px) {
      //width:33.33333%;
      width:50%;
    }
    @media (max-width: 1260px) {
      //width:50%;
      width:100%;
    }
    @media (max-width: 992px) {
      width:50%;
    }
    @media (max-width: 800px) {
      width:100%;
    }
  }
} 