<mz-modal #modal [fixedFooter]="true" class="app-dialog app-dialog-advanced-search">

  <mz-modal-header>
      {{ 'advanced_search.title' | translate }}
  </mz-modal-header>

<mz-modal-content>

    <div class="app-tab-content-wrapper">

      <div class="app-tab-content app-field">


        <div class="app-form-item">
            <label style="margin-bottom: 8px;">{{ 'advanced_search.field.field' | translate }} </label>
            <a id="app-btn-field" href="#">{{ 'advanced_search.field.' + fieldType | translate }} <i class="app-mdi-menu-down"></i></a>
            <mz-dropdown [id]="'app-field'" [dropdownButtonId]="'app-btn-field'" [constrainWidth]="false">
              <mz-dropdown-item *ngFor="let field of fields"><a (click)="fieldType = field">{{ 'advanced_search.field.' + field | translate }}</a></mz-dropdown-item>
            </mz-dropdown>
        </div>




        <div class="app-form-item">
            <label>{{ 'advanced_search.field.value' | translate }}: </label>          
            <mz-input-container>
            <input mz-input
              [(ngModel)]="fieldValue"
              [validate]="false"
              (keydown)="onKeydown($event)"
              [placeholder]="'advanced_search.field.value_placeholder' | translate"
              type="text">
              </mz-input-container>
        </div>


        
        <a mz-button 
          (click)="onSearch()" 
          class="app-button" 
          [disabled]="!fieldValue" 
          style="margin-top: 0px;"
          mz-modal-close>
            <i mz-icon-mdi [icon]="'magnify'" [align]="'left'"></i>
            <span>{{'advanced_search.field.search' | translate}}</span>
        </a>


      </div>




    </div> 
  

</mz-modal-content>

  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>{{ 'common.close' | translate }}</button>
  </mz-modal-footer>

</mz-modal>