<mz-modal #modal [fixedFooter]="false" style="max-width: 400px;" class="app-dialog-pdf">
  <mz-modal-header>
    {{ 'pdf-dialog.title_' + type | translate }}
  </mz-modal-header>
  <mz-modal-content>

    <p>{{ 'pdf-dialog.message_' + type | translate }}</p>

    <mz-input-container inline="true">
      <input mz-input label="{{ 'pdf-dialog.page_from' | translate }}" [(ngModel)]="pageFrom" (change)="onFromValueChanged()" type="number">
    </mz-input-container>

    <mz-input-container inline="true">
      <input mz-input label="{{ 'pdf-dialog.page_to' | translate }}" [(ngModel)]="pageTo" (change)="onToValueChanged()" type="number">
    </mz-input-container>

    <p [class.invalid-range]="!isValid()">
      {{ 'pdf-dialog.page_count'| translate }}
      <strong>{{ selectedPages() }}</strong>
      <br/>
      {{ 'pdf-dialog.max_page_count'| translate }}
      <strong>{{ maxPageCount }}</strong>
    </p>

    <p [class.app-highlight]="inProgress">{{ 'pdf-dialog.warning_' + type | translate }}</p>
    <p *ngIf="downloadError" class="app-error">{{ 'pdf-dialog.error_generate' | translate }}</p>


  </mz-modal-content>
  <mz-modal-footer>
    <mz-spinner *ngIf="inProgress"
      [color]="'blue'"
      [size]="'small'">
    </mz-spinner>
    <button mz-button [flat]="true" mz-modal-close>{{ 'common.cancel' | translate }}</button>
    <button mz-button (click)="action()" [disabled]="inProgress || !isValid()">{{ 'pdf-dialog.action_' + type | translate }}</button>
  </mz-modal-footer>
</mz-modal>
