.app-presentation {
    overflow: auto;
    display: block;
    height: 100%;
    background-color: #f5f5f5;
    .app-presentation-content {
        padding-left:20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        // background: #fff;
        overflow: hidden;
        h3 {
            text-align: left;
            font-size: 25px;
            margin-top: 0;
        }
        .app-description {
            font-size: 16px;
            color: #404040;
        }
    }
    .app-documents {


        app-document-card {
            float: left;
            width:16.66666%;
            @media (max-width: 2300px) {
              width:20%;
            }
            @media (max-width: 1900px) {
              width:25%;
            }
            @media (max-width: 1500px) {
              width:33.33333%;
            }
            @media (max-width: 1260px) {
              width:50%;
            }
            @media (max-width: 900px) {
              width:100%;
            }
          }


    }
    .app-subcollections {
        padding-left:15px;
        padding-right: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        // background-color: #f5f5f5;
        .app-subcollection {
            margin-bottom: 12px;
            width: 50%;
            float: left;
            padding: 0px 5px;
            a {
                outline: none !important;
            }
            .app-card {
                display: block;
                cursor: pointer;
                padding: 10px;
                height: 160px;
                overflow: hidden;
                background-color: #fff;
                border-width: 1px 1px 1px 1px;
                border-style: solid;
                border-color: #e0e0e0;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -20px rgba(0, 0, 0, 0.1);

                    .app-card-media {
                      height: 200px;
                      width: 160px;
                      float: left;
          
                      .app-card-thumb {
                        height: 100%;
                        width: 100%;
                        background-repeat: no-repeat;
                        background-position: top center;
                        background-size: contain;
                        position: relative;
                      }
                    }
                    .app-card-content {
                        width: calc(100% - 160px);
                        float: left;
                        padding-left: 10px;
                        height: 100%;
                        overflow: hidden;
                      .app-card-title {
                        font-weight: 500;
                        font-size: 15px;
                        margin-bottom: 5px;
                        color: #0277bd;
                        overflow: hidden;
                        line-height: 20px;
                        height: 20px;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        display: -webkit-box;
                        text-overflow: ellipsis;
                      }
                      .app-card-description {
                        padding-bottom: 25px;
                        font-size: 1rem;
                        color: #444;
                      }
                    }
                    &:hover {
                        border-width: 1px 1px 1px 1px;
                        border-style: solid;
                        border-color: lightgray;
                        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    }
                  } 
                
              








        }
    }
}