@import './src/variables.scss';

.app-ocr-dialog {
  padding: 16px 10px 0;
  max-width: 1000px;
  .app-dialog-actions {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    text-align: right;
  }
  .app-citation {
    margin-top:15px; 
    padding-top: 10px; 
    border-top: 1px solid #ccc;
  }
  input, textarea {
    height: 0px;
    position: absolute;
    top: -10px;
    width: 1px;
  }
  .app-actions {
    display: flex;
    align-items: center;
    height: 32px;
    margin-top: 5px;
    mat-icon.app-share-btn {
      display: block;
      float: left;
      cursor: pointer;
      font-size: 18px;
      height: 18px;
      margin-right: 5px;
    }
  }
}


::ng-deep {
  .app-ocr-dialog {
    .app-text-content {
      p {
        padding: 0;
        margin: 7px 0;
      }
      img {
        display: none;
      }
      ul {
        margin-left: 14px;
        padding: 0;
        li {
          list-style-type: disc;
          margin-bottom: 3px;
        }
      }
    }
  }
}
