@import './src/variables.scss';

.app-ocr-dialog {
  padding: 16px 10px 0;
  .app-dialog-actions {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    text-align: right;
  }
  .app-citation {
    margin-top:15px; 
    padding-top: 10px; 
    padding-bottom: 2px; 
    border-top: 1px solid #ccc;
  }
}
