@import './src/variables.scss';

.app-ocr-dialog {
  padding: 16px 10px 0;
  .app-dialog-actions {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    text-align: right;
  }
  .app-citation {
    margin-top:15px; 
    padding-top: 10px; 
    border-top: 1px solid #ccc;
  }
  input, textarea {
    height: 0px;
    position: absolute;
    top: -10px;
    width: 1px;
  }
  mat-icon.app-share-btn {
    display: block;
    margin-top: 5px;
    cursor: pointer;
    font-size: 18px;
    height: 18px;
  }
}
