<div *ngIf="state != 'loading'" class="app-reprepage">
  


  <mz-radio-button-container>

    <div class="app-label">Zvolit stranu jako reprezentativní stranu pro</div>

    <ng-container *ngFor="let c of context"> 
      <input mz-radio-button 
        *ngIf="c.type != 'page'"
        [label]="'model_4p.' + c.type | translate | lowercase"
        [withGap]="true"
        [value]="c.uuids[0]"
        id="rb-accessibility-{{c.uuids[0]}}"
        name="c.uuids[0]"
        [(ngModel)]="objectPid"
        type="radio">
    </ng-container>

    <div *ngIf="collections.length > 0" class="app-label" style="margin-top: 10px;">Sbírku</div>
    <input mz-radio-button *ngFor="let c of collections"
      [label]="c.name"
      [withGap]="true"
      [value]="c.uuid"
      id="rb-accessibility-{{c.uuid}}"
      name="c.uuid"
      [(ngModel)]="objectPid"
      type="radio">

  </mz-radio-button-container>

  <button mz-button [disabled]="!objectPid" style="margin-top: 10px" (click)="apply()">Nastavit</button>


  <div class="app-progress" *ngIf="state == 'progress'">
    <mz-spinner 
      [color]="'blue'"
      [size]="'small'">
    </mz-spinner>
  </div>

</div>