<div class="app-search-toolbar">

  <div class="app-col-right">
      <ng-container *ngIf="settings.mapSearch">
        <div [matTooltip]="'toolbar.tooltip_display_cards' | translate"  (click)="search.selectContentType('grid')" class="app-view-button" [class.app-active]="search.contentType == 'grid'">
          <mat-icon>grid_view</mat-icon>
        </div>
        <div [matTooltip]="'toolbar.tooltip_display_map' | translate"  (click)="search.selectContentType('map')" class="app-view-button" [class.app-active]="search.contentType == 'map'">
          <mat-icon>map</mat-icon>
        </div>
      </ng-container>
      <div *ngIf="search.contentType == 'grid'" class="app-ordering">
          <label>{{ 'search.ordering.label' | translate }}: </label>
          <span class="app-dropdown" [matMenuTriggerFor]="orderingMenu">
            <span>{{ 'search.ordering.' + search.query.ordering | translate }}</span>
            <mat-icon>arrow_drop_down</mat-icon>
          </span>
        </div>
  </div>

    <div class="app-col-left">
      <a (click)="toggleFilters()" class="hide-on-med-and-up app-filter-toggle">
        <mat-icon *ngIf="search.activeMobilePanel == 'results'">filter_alt</mat-icon>
        <mat-icon *ngIf="search.activeMobilePanel == 'filters'" class="grey-text">filter_alt_off</mat-icon>
      </a>
      <span class="app-collection-title" *ngIf="search.collection" class="app-hide-on-med">
        {{ search.getCollectionTitle() }}
      </span>
      <span *ngIf="settings.k3"><a [href]="search.buildK3Link()" class="app-hide-on-med" (click)="analytics.sendEvent('search', 'k3');" target="_blank">{{ 'search.k3' | translate }}</a></span>
    </div>

</div>

<mat-menu #orderingMenu="matMenu" xPosition="after" class="app-ordering-menu app-dropdown-menu">
  <ng-template matMenuContent>
    <div class="app-dropdown-item" (click)="search.changeOrdering('relevance')" *ngIf="search.query.relevanceOrderingEnabled()">
      {{ 'search.ordering.relevance' | translate }}
    </div>
    <div class="app-dropdown-item" (click)="search.changeOrdering('alphabetical')">
      {{ 'search.ordering.alphabetical' | translate }}
    </div>
    <div class="app-dropdown-item" (click)="search.changeOrdering('newest')">
      {{ 'search.ordering.newest' | translate }}
    </div>
    <div class="app-dropdown-item" (click)="search.changeOrdering('latest')">
      {{ 'search.ordering.latest' | translate }}
    </div>
    <div class="app-dropdown-item" (click)="search.changeOrdering('earliest')">
      {{ 'search.ordering.earliest' | translate }}
    </div>
  </ng-template>
</mat-menu>