<div class="row app-clean-mg">
  <div *ngIf="metadata" class="col app-col-left">
    <h5>{{metadata.getTitle()}}</h5>
  </div><!--/.col -->
  <div class="col app-col-right">
    <ul class="right">
      <li *ngIf="gridLayoutEnabled" (click)="selectLayout('grid')" [class.active]="activeLayout == 'grid'">
        <span mz-tooltip [tooltip]="'toolbar.tooltip_display_grid' | translate" [position]="'top'" class="app-cursor-pointer">
          <i class="app-mdi-view-grid"></i>
        </span>
      </li>
      <li *ngIf="yearsLayoutEnabled" (click)="selectLayout('years')" class="layout-button" [class.active]="activeLayout == 'years'">
        <span mz-tooltip [tooltip]="'toolbar.tooltip_display_years' | translate" [position]="'top'" class="app-cursor-pointer">
          <i class="app-mdi-calendar-blank"></i>
        </span>
      </li>
      <li *ngIf="calendarLayoutEnabled" (click)="selectLayout('calendar')" class="layout-button" [class.active]="activeLayout == 'calendar'">
        <span mz-tooltip [tooltip]="'toolbar.tooltip_display_calendar' | translate" [position]="'top'" class="app-cursor-pointer">
          <i class="app-mdi-calendar-range"></i>
        </span>
      </li>
    </ul>
  </div><!--/.col -->
</div><!--/.row -->


