@import './src/variables.scss';

.app-periodical-toolbar {
  display: block;
  height: $app-toolbar-height;
  padding-left: 14px;
  padding-right: 6px;
  border-bottom: 1px solid $app-grey-l-2;
  position: relative;
  margin: 0;
  .col {
   padding: 0;
    &.app-periodical-info {
      .app-periodical-title {
        display: block;
        color: $app-grey-d-1;
        height: $app-toolbar-height;
        line-height: $app-toolbar-height;
        overflow: hidden;
        font-size: 1.4rem;
      }
      mat-icon {
        color: $app-grey;
        margin-top: 15px;
        float: left;
        display: block;
      }
      &:hover {
        mat-icon, .app-periodical-title:not(.app-periodical-root) {
          color: #000;
        }
      }
      
      //mq
      //@media #{$small-400-and-down} {
      @media #{$small-800-and-down} {
        display: none;
        
        &.app-no-volume-detail {
          width: 45%;
          display: block;
        }
      }
      
      @media #{$small-400-and-down} {
        &.app-no-volume-detail {
          display: none;
        }
      }
    }
    
    &.app-volume-info {
      height: $app-toolbar-height;
      overflow: hidden;
      
      .app-volume-title {
        color: $app-grey-d-1;
        font-size: 1.3rem;
        margin: 0 5px;
        height: $app-toolbar-height;
        line-height: $app-toolbar-height;
        float: left;
        max-width: calc(100% - 58px);
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media #{$small-400-and-down} {
          margin: 0;
        }
      }

      a {
        color: $app-grey;
        display: block;
        width: 24px;
        float: left;
        margin-top: 15px;
        &:before {
          vertical-align: bottom !important;
        }

        &:not(.app-disabled):hover {
          color: #000;
        }

        &.app-disabled {
          opacity: 0.3;
          cursor: default !important;
        }
      }
      
      //mq
      @media #{$small-800-and-down} {
        width: 45%;
        text-align: left;
      }
      
      @media #{$small-400-and-down} {
        width: 40%;
      }
      
      @media #{$small-300-and-down} {
        display: none;
      }
    }
    
    // col right
    &.app-nav-item {
      height: $app-toolbar-height;
      overflow: hidden;
      line-height: $app-toolbar-height;
      margin-right: -8px;
      ul {
        li {
          user-select: none;
          padding: 0 8px;
          cursor: pointer;
          color: $app-grey-l-1;
          &:not(.active) {
            &:hover {
              color: $app-grey-d-1;
            } 
          }
          &.active {
            color: $primary-color;
            @media #{$small-and-down} {
              &.active-mobile-dismiss {
                color: $app-grey-l-1;
                &:hover {
                  color: $app-grey-d-1;
                }
              }
            }
          }
          mat-icon {
            line-height: inherit;
            // border-left: 1px solid $app-grey-l-2;
          }
          &.app-nav-item-sort {
            #app-sort {
              z-index: 1060;
            }
            // mq
            @media #{$small-400-and-down} {
              display: none;
            }
          }
          &.app-nav-item-mobile {
            display: none;
          }
          // mq
          @media #{$small-and-down} {
            &.app-nav-item-mobile {
              display: block;
            }
          }
          
          @media #{$medium-and-down} {
            &.app-nav-item-tablet {
              display: block;
            }
          }
        }
      }
      
      //mq
      @media #{$small-800-and-down} {
        width: 55%;
        &.app-no-volume-detail {
          width: 55%;
        }
      }
      
      @media #{$small-400-and-down} {
        width: 60%;
        
        &.app-mq-small-1 {
          width: 100%;
        }
        
        &.app-no-volume-detail {
          .app-nav-item-sort {
            display: block;
          }
        }
      }
      
      @media #{$small-300-and-down} {
        width: 100%;
      }
    }
    
    // common
    ul {
      margin: 0;
      li {
        float: left;
      }
    }
  }
}