// --- LANDING PAGE (DK) ---

.app-dk {
  
  .dk-logo {
    text-align: center;
    color: #555;
    margin: 25px 0 10px;
    img {
      height: 120px;
      @media only screen and (max-width: 500px) {
        height: 90px;        
      }
    }
  }

  mz-card {
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.16);
    transition: none;
  }
  mz-card:hover {
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.28);
  }

  .dk-message {
    padding-top: 11px;
    margin: 0 auto 30px;
    font-size: 16px;
    max-width: 562px;
    color: #9c9c9c;
    text-align: center;
    border-top: 1px solid #d8d8d8;
  }

  .dk-section-title {
    font-size: 15px;
    padding-left: 10px;
    color: #555;
  }

  .dk-section-subtitle {
    font-size: 14px;
    padding-left: 10px;
    color: #999;
  }

  .dk-library-card {
    .card-content {
      padding: 10px 20px;
      mz-card-content {
        overflow: hidden;
        display: block;
        .dk-library-logo {
          height: 75px;
          width: 75px;
          margin-right: 12px;
          background-size: cover;
          float: left;
        }
        .dk-library-title {
          font-size: 16px;
          flex:1;
          height: 75px;
          display: flex;
          align-items: center;
        }
      }
    }
    
  }

}