// --- PERIODICAL YEARS LAYOUT ---

app-periodical-years-layout {
  .app-periodical-years-layout-wrapper {
    height: 100%;
    overflow: auto;
    padding: 0.5rem;

    @import "styles/app-periodical-years-item";
  }
}