// --- SEARCH FILTERS ---

app-search-filters, 
app-browse-filters {
  float: left;
  
  .app-filters-wrapper {
    height: calc(100% - #{$app-toolbar-height});
    overflow-x: auto;
    
    .collapsible {
      margin: 0 0 0px 0;
      border: none !important;
      @extend .z-depth-0;
      
      & > li {
        padding: 15px 0 !important;
        @include set-border(bottom, 1, solid, $app-grey-l-2);
      }

      .collapsible-header {
        position: relative;
        color: $app-grey-d-4;
        background-color: transparent;
        padding: 0 20px;
        min-height: 1.6rem;
        line-height: 1.6rem;
        border: none;
        @extend .app-font-bold;

        .mdi-chevron-down, .mdi-chevron-left, .mdi-close-circle {
          position: absolute;
          top: 0;
          right: 10px;
          line-height: 1.6rem;
        }

        .mdi-chevron-down {
          display: none;
        }
        .mdi-chevron-left {
          display: block;
        }
        &.active {
          .mdi-chevron-down {
            display: block;
          }
          .mdi-chevron-left {
            display: none;
          }
        }
      }
      .collapsible-body {
        @extend .app-clean-pd;
        border: none;
        
        .collection-item {
          background-color: transparent;
          border: none;
          padding: 0 20px;
        }

        .app-row {
          display: table;
          width: 100%;
          a {
            display: table-cell;
            width: 90%;
            vertical-align: top;
            color: $app-grey-d-1;
            &:hover {
              color: $app-grey-d-4;
            }
          }
          span {
            display: table-cell;
            width: 10%;
            text-align: right;
            vertical-align: top;
            color: $app-grey-d-1;
          }
          &.selected {
            @extend .app-font-bold;
            span, a {
              //color: $primary-color !important;
            }
          }
        }
      }
    }
  }
}