// --- NAVIGATION ---

app-navigation {
  // overflow: hidden;
  transition: margin-left 0.5s;
  @include set-border(right, 1, solid, $app-grey-l-2);
  
  &.panel-hidden {
    margin-left: -$app-side-col-width;
    overflow: hidden;
  }
  
  app-book-controls {
    .collection {
      .collection-item {
        i[class*="app-mdi-"] {
          margin-left: 10px; 
          margin-right: 10px;    
          color: $app-grey;
          &:hover {
            color: color("shades", "black");
          }
        }
      }
    }
  }


  app-book-search {
    display: block;
    height: 60px;
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    .book-search-wrapper {
      position: relative;
      background-color: #ffffff;
      height: 42px;
      border: 1px solid #e0e0e0;
      input {
        box-sizing: border-box !important;
        height: 40px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        margin: 0px !important;
        border: none !important;
        &:focus {
          background-color: transparent;
          box-shadow: none !important;
        }
        &::-ms-clear {
          display: none; // for IE - not display his display button
        }
      }
      .mdi-magnify,
      .mdi-close {
        position: absolute;
        line-height: normal;
        height: auto;
        font-size: inherit;
        top: 0.6rem;
        @extend .app-cursor-pointer;
        color: $app-grey;
      }
      .mdi-magnify {
        left: 0.5rem;
      }
      .mdi-close {
        right: 0.5rem;
      }
    }
  }

  .app-navigation-header {
    padding: 5px 20px 8px 20px;
    margin-bottom: 1rem;
    @include set-border(bottom, 1, solid, $app-grey-l-2);
    
    .app-current-page {
      @extend .app-font-bold;
      @extend .app-clean-mg;
      width: 30px;
      text-align: center;
      height: 2rem;
      color: $primary-color;
    }
    
    span {
      &:nth-child(2) {
        margin: 0 8px 0 2px;
      }
      &:nth-child(3) {
        @extend .app-font-bold;
      }
      &:last-child {
        margin-left: 5px;
      }
    }
  }
    
  .app-navigation-pages {
    height: calc(100% - 174px);
    margin-top: 10px;
    overflow: scroll;
    padding: 0.5rem;
    padding-top: 0;
    
    @import "styles/app-navigation-item";
  }
}