// --- BOOK TABS ---

.app-navigation-tabs {
  .tabs {
    overflow: inherit;
    background: transparent;
    border-bottom: 1px solid $app-grey-l-2;
    .tab  {
      &.tab-1 {
        width: 100%;
      }
      &.tab-2 {
        width: calc(50% - 1.5px);
      }
      &.tab-3 {
        width: calc(33% - 1.5px);
      }
      a {
        padding: 0px;
        &.active {
          position: relative;
  
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            background-color: $primary-color;
            width: 100%;
          }
        }

        @media #{$small-and-down} {
          color: $app-grey-l-1;;

          &.active {
            color: $app-grey-d-1;

            &:after {
              background-color: $app-grey-d-1;
            }
          }
        }
      }
    }
  }
}