// --- PDF Viwer ---

app-pdf-viewer {
  flex: 1;
  height: 100%;
  width: 100%;
  background-color: $app-grey-l-4;    
  overflow: scroll;
  position: relative;
  pdf-viewer {
    display: block;
  }
  

  .app-handle {
    position: absolute;
    top: 32px;
    height: 40px;
    z-index: 990;
    background: rgba(255, 255, 255, 0.9);
    color: $app-grey;
    cursor: pointer;
    
    &.app-left-handle {
      left: 0;
      @include set-border(right-top-bottom, 1, solid, #{$app-grey-l-2});
      border-top-right-radius: $app-border-radius-sidebar;
      border-bottom-right-radius: $app-border-radius-sidebar;
    
      @media #{$medium-and-down} {
        .app-mdi-tablet {
          &:before {
            content: "\F35F";
          }
        }
        .app-mdi-menu-right {
          &:before {
            content: "\F35E";
          }
        }
      }
    }
    
    &.app-right-handle {
      right: 0;
      @include set-border(left-top-bottom, 1, solid, #{$app-grey-l-2});
      border-top-left-radius: $app-border-radius-sidebar;
      border-bottom-left-radius: $app-border-radius-sidebar;
  
      @media #{$medium-and-down} {
        .app-mdi-tablet {
          &:before {
            content: "\F35E";
          }
        }
        .app-mdi-menu-left {
          &:before {
            content: "\F35F";
          }
        }
      }
    }

    &:hover {
      color: color("shades", "black");  
      background: $app-grey-l-2;
    }
  }


}
