// --- PERIODICAL GRID LAYOUT ---

app-periodical-grid-layout {
 .app-periodical-grid-layout-wrapper {
    height: 100%;
    overflow: auto;
    padding: 0.5rem;
   
    @import "styles/app-periodical-grid-item";
  } 
}