// --- CALENDAR ---

app-search-calendar {
  section {
    margin: 1rem 0.5rem;
    
    .row {
      .col {
        .input-field {
          .mdi {
            color: $primary-color;
          }
          .datepicker {
            margin-bottom: 0;
          }
        }
        
        .app-btn-wrapper {
          height: 4rem;
          position: relative;
          
          .btn {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
          }
        }
      }
    }
  }
}