// --- METADATA ---

app-metadata {
  float: right;
  margin-left: auto;
  @include set-border(left, 2, solid, $app-grey-l-2);
  
  .app-metadata-wrapper {
    padding: 1rem;
    font-weight: 300;
    height: 100%;
    overflow: auto;
    h5 {
      font-size: 1.1rem;
      line-height: 1.6rem;
      @extend .app-clean-mg;
      color: $primary-color;
    }
    label {
      font-size: 0.9rem;
    }
    .app-subtitle {
      color: $app-grey-d-3;
    }
    .divider {
      margin: 10px 0;
    }
    .app-value {
      font-weight: 400;
      font-size: 15px;
      color: $app-grey-d-2;
      &.space {
        //margin-top: 5px;
      }
    }
  }
}