// --- NAVIGATION ---

app-navigation {
  transition: margin-left 0.5s;
  &.panel-hidden {
    margin-left: -$app-side-col-width;
    overflow: hidden;
  }
  @include set-border(right, 2, solid, $app-grey-l-2);
  
  .app-navigation-controls {
    display: block;
    width:100%;
    height: 40px;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 30px;
    .book-control {
      cursor: pointer;
      display: block;
      float: left;
      margin: 0 4px;
      padding: 8px;
      opacity: 0.3;
      &:hover {
        opacity: 1;
      }
    }
  }

  .app-navigation-header {
    height: 50px;
    overflow: hidden;
    text-align: center;
    color: #767c82;

    input.current-page {
      height: 45px;
      margin: 0;
      width: 30px;
      text-align: right;
      margin-right: 3px;
      border-bottom: none;
      font-size: 21px;
      color: #333;
    }
  }
    
  .app-navigation-pages {
    height: calc(100% - 100px);
    overflow: scroll;
    //padding: 10px 4px;
    padding: 0.5rem;
    padding-top: 0;
    
    @import "styles/app-navigation-item";
  }


}