// --- MUSIC HEADER ---

app-music-header {
  padding: 16px;
  display: block;
  height: 182px;
  .app-music-header-wrapper {

    .app-cover-image-wrapper {
      height: 150px;
      float: left;
      margin-right: 20px;
      width: 150px;
      
      .app-cover-image {
        background-size: cover;
        height: 100%;
        width: 100%;
        background-position: center center;
      }
    }
    
    .app-album-title {
      font-size: 18px;
      color: $app-grey-d-3;
      line-height: 30px;
      height: 30px;
      overflow: hidden;
    }
    
    .app-album-author {
      font-size: 15px;
      color: $app-grey;
      line-height: 20px;
      height: 20px;
      overflow: hidden;
    }
  } 
}