app-home-logo {
  .brand-logo {
    font-size: inherit;
    position: inherit;
    display: table;
    line-height: normal;
    height: 40px;
    margin-right: auto;
    margin-left: auto;    
    @media #{$medium-and-down} {
      transform: none;
    }

    .app-brand-img {
      display: table-cell;
      vertical-align: middle;

      img {
        height: 40px;
      }
    }

    .app-brand-text {
      display: table-cell;
      vertical-align: middle;
      padding: 0 10px;
      font-size: 1.1rem;
      line-height: 1.1rem;
      color: $app-grey;
    }
    .app-brand-handle {
      display: table-cell;
      vertical-align: middle;
      color: #666;
    }


    #app-logo-dropdown-selector {
      width: 450px;
      @media (max-width: 500px) {
        width: 400px;
      }
      @media (max-width: 450px) {
        width: 350px;
      }
      @media (max-width: 400px) {
        width: 300px;
      }
      @media (max-width: 350px) {
        width: 250px;
      }
      @media (max-width: 300px) {
        width: 100%;
      }
      text-align: center;
      cursor: pointer;
    }
  }
}