mz-modal.app-dialog-share {
  .modal {
    max-width: 600px;
    .modal-content {
      padding-bottom: 0;
    }
  }
  mz-modal-content {
    display: block;
    padding-top: 10px;
    input {
      cursor: text;
    }
  }

  .copy-to-clipboard {
    position: absolute;
    right: 0px;
    cursor: pointer;
    top: 4px;
  }

  .social {
    .label {
      margin-bottom: 15px;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.42);
    }
    padding-top: 20px;
      i {
      cursor: pointer;
      margin-right: 25px;
      color: $app-grey;
      &:hover {
        color: color("shades", "black");
      }
    }
  }



}