// --- ALERTS ---

app-alert {
 .alert {
    @extend .text-darken-4, .z-depth-0;
    margin-bottom: 0;
    margin-top: 60px;
    font-size:22px;


    &.alert-success {
      @extend .green-text;
    }

    &.alert-info {
      @extend .blue-text;
    }

    &.alert-warning {
      @extend .yellow-text;
    }

    &.alert-danger {
      @extend .red-text;
    }

    .close {
      position: absolute;
      top: 50%;
      right: 0.5rem;
      color: inherit;
      margin-top: -18px;
    }

    i {
      margin-right: 5px;
      vertical-align: sub;
    }

    .app-description {
      padding: 10px 20px;
      color: #222;
    }
  }

  app-root main app-book app-viewer .app-viewer-wrapper & {
    position: absolute;
    width: 100%;
  }
}
