// --- MUSIC PLAYER ---

app-music-player {
  height: 100%;
  flex: 1;
  position: relative;
  .music-player {
    background: $app-white;
    display: flex;
    flex-direction: column;
    
    @import "styles/app-music-header";
    @import "styles/app-music-playlist";

  }
}

.spinner-wrapper {
  flex: 1;
  height: 100%;
  position: relative;
}