// --- Viwer ---

app-viewer {
  flex: 1;
  height: 100%;
  
  .app-viewer-wrapper {
    width: 100%;
    height: 100%;
    background-color: $app-grey-l-4;    
    position: relative;

    .hide-on-inactivity {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.5s;
      transition-timing-function: linear;
    }

    .app-handle {
      position: absolute;
      top: 10px;
      height: 40px;
      z-index: 990;
      background: rgba(255, 255, 255, 0.9);
      color: $app-grey;
      cursor: pointer;
      
      &.app-left-handle {
        left: 0;
        @include set-border(right-top-bottom, 1, solid, #{$app-grey-l-2});
        border-top-right-radius: $app-border-radius-sidebar;
        border-bottom-right-radius: $app-border-radius-sidebar;
      
        @media #{$medium-and-down} {
          .app-mdi-tablet {
            &:before {
              content: "\F35F";
            }
          }
          .app-mdi-menu-right {
            &:before {
              content: "\F35E";
            }
          }
        }
      }
      
      &.app-right-handle {
        right: 0;
        @include set-border(left-top-bottom, 1, solid, #{$app-grey-l-2});
        border-top-left-radius: $app-border-radius-sidebar;
        border-bottom-left-radius: $app-border-radius-sidebar;
    
        @media #{$medium-and-down} {
          .app-mdi-tablet {
            &:before {
              content: "\F35E";
            }
          }
          .app-mdi-menu-left {
            &:before {
              content: "\F35F";
            }
          }
        }
      }
  
      &:hover {
        color: color("shades", "black");  
        background: $app-grey-l-2;
      }
    }
  }
}