// --- VARIABLES --

// font path
$roboto-font-path:          "~/assets/fonts" !default;
$mdi-font-path:             "assets/fonts" !default;

// colors
$primary-color:             color("light-blue", "darken-3") !default; // 0277bd -> hlavni barva, logo, titulky, aktivni filtry, aktivni bg
$primary-color-light:       lighten($primary-color, 15%) !default;
$primary-color-dark:        darken($primary-color, 15%) !default;

$secondary-color:           $primary-color !default;
$link-color:                $primary-color !default;

// custom
$app-grey:                  color("grey", "base") !default; // 9e9e9e -> arrow back next to logo
$app-grey-l-5:              color("grey", "lighten-5") !default; // fafafa -> bg navbar, bg facets, bg metadata
$app-grey-l-2:              color("grey", "lighten-2") !default; // e0e0e0 -> item border, search box border, facet separator line
$app-grey-l-1:              color("grey", "lighten-1") !default; // bdbdbd -> light mdi color

$app-grey-d-1:              color("grey", "darken-1") !default; // 757575 -> text color, dark mdi color
$app-grey-d-2:              color("grey", "darken-2") !default; // 616161 -> text color darker
$app-grey-d-4:              color("grey", "darken-4") !default; // 212121 -> text color black - facet title, arrows etc.

$app-grey-c-2:              color("custom", "grey-l-2") !default; // d2d2d2 -> navbar bottom border
$app-grey-c-1:              color("custom", "grey-l-1") !default; // ebebeb -> tabs line, tabs of document type line

$app-red:                   color("red", "accent-4") !default; // d50000 -> remove color
$app-orange:                color("orange", "accent-2") !default; // ffab40 -> count of periodica color

// type of document
$app-type-monograph:        color("pink", "lighten-1") !default; // ec407a -> knihy
$app-type-map:              color("lime", "darken-1") !default; // c0ca33 -> mapy
$app-type-periodical:       color("green", "lighten-1") !default; // 66bb6a -> noviny a casopisy
$app-type-graphic:          color("red", "lighten-1") !default; // ef5350 -> grafiky
$app-type-soundrecording:   color("orange", "accent-2") !default; // ffab40 -> audio
$app-type-archive:          color("teal", "accent-4") !default; // 00bfa5 -> archivalie
$app-type-sheetmusic:       color("deep-purple", "lighten-2") !default; // 9575cd -> hudebniny
$app-type-manuscript:       color("blue-grey", "lighten-1") !default; // 78909c -> rukopisy

// global
$app-border-radius:         2px !default;

// search bar
$app-search-bar-height:     44px !default;

// layout
$app-side-col-width:        300px !default;

// toolbar
$app-toolbar-height:        55px !default;

// materialize variables
$navbar-font-color:         $app-grey-d-1 !default;
$navbar-height:             68px !default;

$button-padding:            0 1rem !default;

$tabs-underline-color:      $primary-color !default;


/*
blue-grey lighten-5	  -> eceff1 -> separator line - home page, facet right border
*/