// --- LOGO ---

app-logo {
  .brand-logo {
    font-size: inherit;
    position: inherit;
    display: table;
    line-height: normal;
    height: $navbar-height;
    left: initial !important;
    // mq
    @media #{$medium-and-down} {
      transform: none;
    }

    .app-brand-img {
      display: table-cell;
      vertical-align: middle;

      img {
        height: 34px;
      }
    }

    .app-brand-text {
      display: table-cell;
      vertical-align: middle;
      padding: 0 8px;
      font-size: 0.9rem;
      line-height: 1.1rem;
      color: $app-grey;
    }

    // only for navbar
    .app-pipe {
      app-navbar & {
        padding-left: 10px;
        @include set-border(left, 1, solid, $app-grey-l-2);

        /* if arrow left is hidden
        @media #{$small-and-down} {
          padding-left: 0;
          border: none;
        }
        */
      }
    }

    // only for home
    .home-top & {
      height: 40px;
      margin-right: auto;
      margin-left: auto;

      .app-brand-img {
        img:not(.app-logo-default) {
          height: 40px;
        }
      }

      .app-brand-text {
        font-size: 1.1rem;
        line-height: 1.1rem;
      }
    }
  }
}
