// --- MUSIC TOOLBAR ---

app-music-toolbar {
  display: block;
  height: $app-toolbar-height;
  @include set-border(bottom, 1, solid, $app-grey-l-2);
  position: relative;
          
  .col {
    @extend .app-clean-pd;
    
    .tabs {
      height: inherit;
      
      .tab {
        line-height: calc(#{$app-toolbar-height} - 1px);
        height: calc(#{$app-toolbar-height} - 1px);
    
        a {
          &:not(.active) {
            color: $app-grey-l-1; 
          }
          
          &.active {
            position: relative;

            &:after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              height: 2px;
              background-color: $primary-color;
              width: 100%;
            }
          }
          
          i {
            display: none;
            &:before {
              vertical-align: middle;
            }
            
            // mq
            @media #{$small-350-and-down} {
              display: block;
            }
          }
          
          span {
            padding-left: 0.5rem;
            
            // mq
            @media #{$small-350-and-down} {
              display: none;
            }
          }
        }
      }
    
      .indicator {
        display: none;
      }
    }
  }
}