// --- VARIABLES --

// font path
$roboto-font-path:          "~/assets/fonts" !default;
$mdi-font-path:             "assets/fonts" !default;

// colors
$primary-color:             color("light-blue", "darken-3") !default; // 0277bd -> hlavni barva, logo, titulky, aktivni filtry, aktivni bg
$primary-color-light:       lighten($primary-color, 15%) !default;
$primary-color-dark:        darken($primary-color, 15%) !default;

$secondary-color:           $primary-color !default;
$link-color:                $primary-color !default;

// custom
$app-grey:                  color("grey", "base") !default; // 9e9e9e -> arrow back next to logo
$app-grey-l-5:              color("grey", "lighten-5") !default; // fafafa -> bg navbar, bg facets, bg metadata
$app-grey-l-4:              color("grey", "lighten-4") !default; // f5f5f5
$app-grey-l-3:              color("grey", "lighten-3") !default; // eeeeee
$app-grey-l-2:              color("grey", "lighten-2") !default; // e0e0e0 -> item border, search box border, facet separator line
$app-grey-l-1:              color("grey", "lighten-1") !default; // bdbdbd -> light mdi color

$app-grey-d-1:              color("grey", "darken-1") !default; // 757575 -> text color, dark mdi color
$app-grey-d-2:              color("grey", "darken-2") !default; // 616161 -> text color darker
$app-grey-d-3:              color("grey", "darken-3") !default; // 424242 -> metadada subtitle
$app-grey-d-4:              color("grey", "darken-4") !default; // 212121 -> text color black - facet title, arrows etc.

$app-grey-c-2:              color("custom", "grey-l-2") !default; // d2d2d2 -> navbar bottom border
$app-grey-c-1:              color("custom", "grey-l-1") !default; // ebebeb -> tabs line, tabs of document type line

$app-red:                   color("red", "accent-4") !default; // d50000 -> remove color
$app-orange:                color("orange", "accent-2") !default; // ffab40 -> count of periodica color
$app-white:                 color("shades", "white") ! default;
$app-black:                 color("shades", "black") ! default;

// type of document
$app-type-monograph:        color("pink", "lighten-1") !default; // ec407a -> knihy
$app-type-map:              color("lime", "darken-1") !default; // c0ca33 -> mapy
$app-type-periodical:       color("green", "lighten-1") !default; // 66bb6a -> noviny a casopisy
$app-type-graphic:          color("red", "lighten-1") !default; // ef5350 -> grafiky
$app-type-soundrecording:   color("orange", "accent-2") !default; // ffab40 -> audio
$app-type-archive:          color("teal", "accent-4") !default; // 00bfa5 -> archivalie
$app-type-sheetmusic:       color("deep-purple", "lighten-2") !default; // 9575cd -> hudebniny
$app-type-manuscript:       color("blue-grey", "lighten-1") !default; // 78909c -> rukopisy

// global
$app-border-radius:         2px !default;
$app-border-radius-sidebar: 4px !default;

// search bar
$app-search-bar-height:     44px !default;

// fulltext search bar
$app-fulltext-search-bar-height: 47px !default;

// layout
$app-side-col-width:        300px !default;

// logo
$app-mobile-logo-width:     115px !default;

// toolbar
$app-toolbar-height:        55px !default;

// mobile panel - facets, metadata
$app-mobile-panel-height:   100% !default;

$app-mobile-panelv-height:  100% !default;

// card
$app-card-title-font-size:  1.1rem !default;

// materialize variables
$navbar-font-color:         $app-grey-d-1 !default;
$navbar-height:             68px !default;
$navbar-height-mobile:      $navbar-height !default;

$button-padding:            0 1rem !default;

$tabs-underline-color:      $primary-color !default;

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$small-500-screen: 500px !default;
$small-400-screen: 400px !default;
$small-350-screen: 350px !default;
$small-300-screen: 300px !default;
$small-200-screen: 200px !default;


$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$large-only: "only screen and (max-width : #{$large-screen}) and (min-width : #{$medium-screen})" !default;

$small-500-and-down: "only screen and (max-width : #{$small-500-screen})" !default;
$small-400-and-down: "only screen and (max-width : #{$small-400-screen})" !default;
$small-350-and-down: "only screen and (max-width : #{$small-350-screen})" !default;
$small-300-and-down: "only screen and (max-width : #{$small-300-screen})" !default;
$small-200-and-down: "only screen and (max-width : #{$small-200-screen})" !default;