// --- LAYOUT ---
html,
body, 
app-root {
  width: 100%;
  height: 100%;
  display: block;
}

app-root {
  main {
    height: calc(100% - #{$navbar-height});
    width: 100%;
    
    app-search,
    app-periodical,
    app-book {
      height: 100%;
      width: 100%;
      display: flex;
      flex-flow: row;
    }
    
    app-search {
      app-search-filters {
        float: left;
        height: 100%;
        width: $app-side-col-width;
        z-index: 10;
        //width: 260px;
        //box-shadow: 0px 2px 1px 1px hsla(0, 0%, 0%, 0.15);
      }
      app-search-results {
        flex: 1;
        height: 100%;
        background: #f0f0f0;
        padding: 5px;
      }
    }
    
    app-book {
      app-viewer {
        flex: 1;
        height: 100%;
      }
      app-navigation {
        float: left;
        height: 100%;
        width: $app-side-col-width;
        z-index: 10;
        //width: 230px;
        //box-shadow: 0px 2px 1px 1px hsla(0, 0%, 0%, 0.15);
      }
      app-metadata {
        float: right;
        width: $app-side-col-width;
        height: 100%;
        z-index: 10;
        //width: 300px;
        //box-shadow: 0px 2px 1px 1px hsla(0, 0%, 0%, 0.15);
      }
    }

    app-periodical  {
      app-periodical-content {
        flex: 1;
        height: 100%;
      }
      app-metadata {
        float: right;
        width: $app-side-col-width;
        height: 100%;
        z-index: 10;
        //width: 300px;
        //box-shadow: 0px 2px 1px 1px hsla(0, 0%, 0%, 0.15);
      }
    }
  }
}