// --- SEARCH BAR CSS FOR NAVBAR & HOME ---

app-navbar-search-bar,
app-home-search-bar {
  .app-search-bar-wrapper {
    position: relative;
    display: inline-block;
    width: calc(100% - 60px);
    height: $app-search-bar-height;
    vertical-align: middle;
    margin-bottom: 3px;
    background-color: color("shades", "white");
    @include set-border(all, 1, solid, $app-grey-l-2);
    border-radius: $app-border-radius;
    box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.05);
    
    &:focus, &:hover, &.app-hover {
      @include set-border(all, 1, solid, $app-grey-c-1);
      box-shadow:  0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.1), 0 3px 2px -1px rgba(0, 0, 0, 0.05);
    }
    
    .mdi-magnify,
    .mdi-close {
      position: absolute;
      line-height: normal;
      height: auto;
      font-size: inherit;
      top: 0.6rem;
      @extend .app-cursor-pointer;
      color: $app-grey;
    }
    .mdi-magnify {
      left: 0.8rem;
    }
    .mdi-close {
      right: 0.8rem;
    }
    
    .input-field {
      padding-right: 3rem;
      margin-top: 0;
      
      input[type=search] {
        height: $app-search-bar-height;
        line-height: $app-search-bar-height;
        padding-left: 3rem;
        border: none !important;
        width: calc(100% - 4rem);

        &:focus {
          background-color: transparent;
          box-shadow: none !important;
        }
        &::-ms-clear {
          display: none; // for IE - not display his display button
        }
      }      
    }
  }
  .checkbox-field {
    display: block;
    color: $app-grey;
    margin-bottom: 0;
    margin-top: 0.75rem;
  }
  [type="checkbox"] + label:before, 
  [type="checkbox"]:not(.filled-in) + label:after {
    border-color: $app-grey;
  }
}

// home
app-home-search-bar {
  .app-search-bar-wrapper {
    width: 100%; 
  }
  
  // mq
  @media #{$extra-large-and-up} {
    .checkbox-field {
      display: inline-block;
      padding-left: 20px;
      margin-top: 0;
    }
  }
  @media #{$large-and-up} {
    .app-search-bar-wrapper {
      width: 600px;
    }
  }
}

// navbar
app-navbar-search-bar {
  @media #{$extra-large-and-up} {
    .app-search-bar-wrapper {
      width: 600px;
    }
  }
  @media #{$large-only} {
    .app-search-bar-wrapper {
      width: 450px;
    }
  }
  @media #{$small-400-and-down} {
    display: none;
    
    &.app-search-bar-show {
      display: initial;
      
      .app-search-bar-wrapper {
        width: calc(100% - 87px);
      }
    }
  }
}
      