// --- Viwer ---

app-viewer {
  flex: 1;
  height: 100%;
  
  .app-viewer-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $app-grey-l-4;    
    position: relative;

    .app-licence-bar {
      position: absolute;
      top: 0;
      height: 32px;
      background: #435cadd6;
      width: 100%;
      z-index: 12;
      .app-info {
        line-height: 32px;
        padding-left: 32px;
        font-size: 15px;
        color: #fff;
        a {
          padding-left: 8px;
          color: #eee;
          &:hover {
            color: #fff;
          }
        }

      }
      .app-user {
        float:right;
        line-height: 32px;
        padding-right: 32px;
        font-size: 15px;
        color: #fff;
      }
    }

    app-licence-messages {
      display: block;
      max-width: 800px;
      margin: 0 auto;
      padding: 40px 12px 10px;
      overflow: auto;
      height: 100%;
    }

    .hide-on-inactivity {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.5s;
      transition-timing-function: linear;
    }

    .app-handle {
      position: absolute;
      top: 10px;
      height: 40px;
      z-index: 990;
      background: rgba(255, 255, 255, 0.9);
      color: $app-grey;
      cursor: pointer;
      
      &.app-left-handle {
        left: 0;
        @include set-border(right-top-bottom, 1, solid, #{$app-grey-l-2});
        border-top-right-radius: $app-border-radius-sidebar;
        border-bottom-right-radius: $app-border-radius-sidebar;
      
        @media #{$medium-and-down} {
          .app-mdi-tablet {
            &:before {
              content: "\F35F";
            }
          }
          .app-mdi-menu-right {
            &:before {
              content: "\F35E";
            }
          }
        }
      }
      
      &.app-right-handle {
        right: 0;
        @include set-border(left-top-bottom, 1, solid, #{$app-grey-l-2});
        border-top-left-radius: $app-border-radius-sidebar;
        border-bottom-left-radius: $app-border-radius-sidebar;
    
        @media #{$medium-and-down} {
          .app-mdi-tablet {
            &:before {
              content: "\F35E";
            }
          }
          .app-mdi-menu-left {
            &:before {
              content: "\F35F";
            }
          }
        }
      }
  
      &:hover {
        color: color("shades", "black");  
        background: $app-grey-l-2;
      }
    }
  }
}