// --- PERIODICAL FULLTEXT ITEM ---

app-periodical-fulltext-item {
  float: left;
  width:16.66666%;
  @media (max-width: 2300px) {
    //width:20%;
    width:25%;
  }
  @media (max-width: 1900px) {
    //width:25%;
    width:33.33333%;
  }
  @media (max-width: 1500px) {
    //width:33.33333%;
    width:50%;
  }
  @media (max-width: 1260px) {
    //width:50%;
    width:100%;
  }
  @media (max-width: 992px) {
    width:50%;
  }
  @media (max-width: 800px) {
    width:100%;
  }



  .card {
    @extend .app-cursor-pointer;
    margin: 0.5rem;
    height: 144px;
    @include setCardShadow(0, 0, 0, $app-grey-l-2);
    &>div {
      height: 100%;
    }
    .card-content {
      padding: 10px;
      height: 100%;
      overflow: hidden;
      height: 100%;

      mz-card-content {
        display: table;
        width: 100%;
        height: 100%;

        .app-card-media {
          display: table-cell;
          height: 100%;
          width: 90px;

          .app-card-thumb {
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: contain;
            position: relative;
            .app-lock {
              @extend .z-depth-2;
              background: color("shades", "white");
              height: 36px;
              width: 36px;
              display: block;
              border-radius: 50%;
              text-align: center;
              position: absolute;
              color: $app-grey-d-2;
              opacity: 0.8;
              margin: auto;
              top: 0; left: 0; bottom: 0; right: 0;
            }
          }
        }

        .app-card-content {
          display: table-cell;
          vertical-align: top;
          padding-left: 15px;
          font-size: 0.9rem;
          color: $app-grey-d-1;
          position: relative;

          .app-card-row {
            overflow: hidden;
            line-height: 17px;
            height: 17px;
            margin-bottom: 3px;
            .app-card-row-right {
              float: right;
            }
            .app-card-row-left {
              overflow: hidden;
              -webkit-line-clamp: 1;
              display: block;
              display: -webkit-box;
              text-overflow: ellipsis; 
            }
            &.app-main-title {
              font-weight: 600;
              margin-bottom: 5px;
              overflow: hidden;
              line-height: 20px;
              max-height: 40px;
              -webkit-line-clamp: 2;
              display: -webkit-box;
              text-overflow: ellipsis;
            }
          }

          .app-card-doctype {
            position: absolute;
            bottom: 0;
            right: 0;
            color: #ffffff;
            padding: 0 6px;
            border-radius: 2px;
            &.app-card-article {
              background: $app-type-article;
            }
            &.app-card-monograph {
              background: $app-type-monograph;
            }
          }

          .app-card-title {
            font-weight: 500;
            font-size: $app-card-title-font-size;
            margin-bottom: 5px;
            color: $primary-color;
            overflow: hidden;
            line-height: 20px;
            height: 40px;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            text-overflow: ellipsis;
          }

          .app-card-ocr {
            overflow: hidden;
            font-size: 12px;
            color: $app-grey;
            line-height: 16px;
            margin-top: 5px;
            height: 64px;

            strong {
              color: $primary-color;
              @extend .app-font-bold;
            }
          }
        }
      }
    }
  }
}
