// --- NAVIGATION ARTICLES ---

.app-navigation-articles {
  overflow: auto;
  .app-article {
    padding: 8px 16px;
    cursor: pointer;
    &.app-article-selected {
      background: $app-grey-l-3;
    }
    &:hover {
      background: $app-grey-l-4;
    }
  }

  // mq
  @media #{$small-and-down} {
    height: calc(#{$app-mobile-panel-height} - 48px);
  }
}