// --- ABOUT ---

.app-about {

  flex: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  .app-page-content {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;
    color: #444;
    h1,h2,h3,h4,h5 {
      line-height: 120%;
      color: #444;
      font-weight: 400;
      text-align: left;
    }
    h1: {
      text-align: center;
    }
    h1, h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 28px;
    }
    h4 {
      font-size: 24px;
    }
    h5 {
      font-size: 20px;
    }
    b, strong {
      font-weight: 600;
    }
    ul {
      padding-left: 0;
      list-style-type: none;
      margin-top: 5px;
    }
  }
}