// --- RESULT CARD ---

app-document-card {
  position: relative;
  
  .card {
    @extend .app-cursor-pointer;
    margin: 0.5rem;
    height: 144px;
    @include setCardShadow(0, 0, 0, $app-grey-l-2);
    
    .app-card-mark {
      width: 3px; // 5
      height: 40px; // 30
      background-color: $app-grey-l-1;
      position: absolute;
      top: 15px;
      left: -2px; // -3
    }
    
    // set type of document color
    .app-card-mark,
    .app-card-doctype {
      &.monograph {background-color: $app-type-monograph}
      &.periodical {background-color: $app-type-periodical}
      &.soundrecording {background-color: $app-type-soundrecording}
      &.map {background-color: $app-type-map}
      &.graphic {background-color: $app-type-graphic}
      &.sheetmusic {background-color: $app-type-sheetmusic}
      &.archive {background-color: $app-type-archive}
      &.manuscript {background-color: $app-type-manuscript}
    }
    
    .card-content {
      padding: 10px;
      height: 100%;
      overflow: hidden;
      
     // p {
        height: 100%;
        
        mz-card-content {
          display: table;
          width: 100%;
          height: 100%;

          .app-card-media {
            display: table-cell;
            height: 100%;
            width: 90px;

            .app-card-thumb {
              height: 100%;
              width: 100%;
              background-repeat: no-repeat;
              background-position: top center;
              background-size: contain;
              position: relative;
              .app-lock {
                @extend .z-depth-2;
                background: color("shades", "white");
                height: 36px;
                width: 36px;
                display: block;
                border-radius: 50%;
                text-align: center;
                position: absolute;
                color: $app-grey-d-2;
                opacity: 0.8;
                margin: auto;
                top: 0; left: 0; bottom: 0; right: 0;
              }
            }
          }
          
          .app-card-content {
            display: table-cell;
            vertical-align: top;
            padding-left: 15px;
            font-size: 0.9rem;
            color: $app-grey-d-1;
            position: relative;
            
            .app-card-title {
              font-weight: 500;
              font-size: $app-card-title-font-size;
              margin-bottom: 5px;
              color: $primary-color;
              overflow: hidden;
              line-height: 20px;
              height: 40px;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              display: -webkit-box;
              text-overflow: ellipsis;
            }
            
            .app-card-authors {
              overflow: hidden;
              line-height: 1.1rem;
              height: 1.1rem;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              display: -webkit-box;
              text-overflow: ellipsis;
            }

            .app-card-doctype {
              position: absolute;
              bottom: 0;
              right: 0;
              color: color("shades", "white");
              padding: 0 6px;
              border-radius: $app-border-radius;
            } 
            
            .app-card-hits {
              /*position: absolute;
              bottom: 23px;
              right: 0;*/
              
              strong {
                @extend .app-font-bold;
              }
            }
            
            .mdi:before {
              font-size: 1rem;
            }
          }
        } 
      //}
    }
  }
}