// --- NAVIGATION ---

app-navigation {
  display: flex;
  flex-direction: column;
  transition: margin-left 0.5s;
  @include set-border(right, 1, solid, $app-grey-l-2);
  
  &.app-panel-hidden {
    margin-left: -$app-side-col-width;
    overflow: hidden;
  }
  
  // mq
  @media #{$medium-and-down} {
    &.app-panel-mobile-hidden {
      margin-left: -$app-side-col-width;
      overflow: hidden;
    }
    &.app-panel-hidden {
      margin-left: 0;
      overflow: inherit;
    }
  }
  
  @media #{$small-and-down} {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: $app-toolbar-height;
    margin-left: 0 !important;
    border: none;
    height: calc(#{$app-mobile-panel-height} - #{$app-toolbar-height});
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    z-index: 1001;
    
    &.app-panel-mobile-hidden {
      display: none;
    }
  }
  
  @import "styles/app-book-controls";
  @import "styles/app-book-tabs";
  @import "styles/app-book-search";
  @import "styles/app-navigation-header";
  @import "styles/app-navigation-articles";
  @import "styles/app-navigation-pages";
}