mz-modal.app-dialog-advanced-search {

  .modal {
    // max-height: calc(100% - 130px);
    // height: calc(100% - 130px);
    max-width: 800px;
    width: calc(100% - 130px);
    @media screen and (max-width: 600px) {
      width: calc(100% - 20px);
    }
    top: 65px !important;
    .modal-content {
      height: 100%;
    }
  }

  .app-content-wrapper {
    // height: 650px;
    .app-content {
      height: 230px;
      padding: 0.5rem;
      overflow: auto;
      display: block;
      .app-form-item {
        label {
          margin-top: 16px;
          display: block;
          font-size: 0.9rem;
        }
        .input-field {
          margin-top: -4px;
        }
      }
    }
    .app-help {
      height: 400px;
      padding-bottom: 10px;
      overflow: scroll;
      .app-label {
        overflow: hidden;
        line-height: 36px;
      }

      .app-rule {
        margin-bottom: 10px;
        .app-title {
          color: $primary-color;
          font-size: 15px;
          margin-bottom: 5px;
        }
        .app-description {
          color: #777;
          font-size: 14px;
          strong {
            color: $primary-color;
          }
        }
      }
    }


  }

}