// --- METADATA ---

app-metadata {
  margin-left: auto;
  transition: margin-right 0.5s;
  @include set-border(left, 1, solid, $app-grey-l-2);
  
  &.panel-hidden {
    margin-right: -$app-side-col-width;
    overflow: hidden;
  }
  
  .app-metadata-wrapper {
    padding: 1rem;
    font-weight: 300;
    height: 100%;
    overflow: auto;
    
    h5 {
      font-size: 1.1rem;
      line-height: 1.6rem;
      @extend .app-clean-mg;
      color: $primary-color;
      
      &.app-cut {
        line-height: 1.6rem;
        height: 3.2rem;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
      }
    }
    
    .app-more {
      color: $app-grey;
      
      &:hover {
        color: color("shades", "black");
      }
    }
    
    label {
      font-size: 0.9rem;
    }
    
    .app-subtitle {
      color: $app-grey-d-3;
    }
    
    .divider {
      margin: 10px 0;
    }
    
    .app-value {
      font-weight: 400;
      font-size: 15px;
      color: $app-grey-d-2;
      &.space {
        //margin-top: 5px;
      }
    }
  }
}