// --- NAVIGATION ITEM ---

.app-item {
  //padding: 2px;
  padding: 5px;
  cursor: pointer;
  width: 33.333%;
  overflow: hidden;
  float: left;
  position: relative;
  &:hover {
    //opacity: 0.6;
    box-shadow: 0 8px 17px 0 rgba(38, 50, 56, 0.2), 0 6px 20px 0 rgba(38, 50, 56, 0.2);
  }
  .app-item-thumb {
    background-repeat: no-repeat;
    width: 100%;
    height: 120px;
    overflow: hidden;
    // background-size: cover;
    // background-position-x: center;    
    background-color: #c5c5c5;
    border: solid 1px #adadad;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    &.hidden {
      opacity: 0.1;
    }
    .app-lock {
      background: #fff;
      height: 36px;
      width: 36px;
      display: block;
      border-radius: 50%;
      text-align: center;
      position: absolute;
      color: #616161;
      opacity: .8;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
  .app-item-title {
    position: absolute;
    font-size: 11px;
    top: 0.5rem;
    right: 0.5rem;
    padding: 2px;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    color: color("shades", "black");
  }
  .app-item-type {
    position: absolute;
    font-size: 12px;
    bottom: 0.5rem;
    padding: 2px;
    width: calc(100% - 1rem);
    display: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    color: color("shades", "black");
  }

  &.active {
    background: $app-grey-d-1;
  }
  
  &:hover {
    .app-item-type {
      display: block;
    }
  }

  // mq
  @media #{$small-and-down} {
    width: 16.66666%;
  }
  @media #{$small-500-and-down} {
    width: 20%;
  }
  @media #{$small-400-and-down} {
    width: 25%;
  }
  @media #{$small-300-and-down} {
    width: 33.33333%;
  }
  @media #{$small-200-and-down} {
    width: 50%;
  }
}