// --- LANDING PAGE (DK) ---

.app-libraries {
  
  .app-libraries-title {
    font-size: 20px;
    text-align: center;
    color: #555;
    margin: 25px 0 10px;
  }

  .app-libraries-message {
    padding-top: 11px;
    margin: 0 auto 12px;
    font-size: 16px;
    max-width: 562px;
    color: #9c9c9c;
    text-align: center;
    border-top: 1px solid #d8d8d8;
  }

  .app-library-card {
    .card-content {
      padding: 10px 20px;
      mz-card-content {
        display: flex;
        overflow: hidden;
        align-items: center;
        .app-library-logo {
          height: 75px;
          width: 75px;
          background-size: cover;
          float: left;
          margin-right: 12px;
        }
        .app-librar-title {
          font-size: 16px;
        }
      }
    }
    
  }

}