mz-modal.app-dialog-pdf-generator {
  .modal {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    max-height: 100%;
    top: 25px !important;
  }
  input {
    width: 100px;
  }
  p {
    color: #666;
    &.invalid-range {
      color: #b44;
    }
    strong {
      color: #000; 
    }
    &.app-highlight {
      color: #000;
      font-weight: 600;
    }

    &.app-error {
      color: #b44;
    }
  
  }
  mz-spinner {
    float: left;
    margin-left: 20px;
  }
  

}