// --- SEARCH FILTERS ---

app-search-filters, 
app-browse-filters,
app-periodical-filters {
  float: left;
  
  &.app-filters-mobile {
    display: none;
  }
  
  @media #{$small-and-down} {
    &.app-filters-mobile {
      float: none;
      position: absolute;
      width: 100% !important;
      top: calc(#{$navbar-height} + #{$app-toolbar-height});
      left: 0;
      border: 0;
      height: calc(#{$app-mobile-panel-height} - #{$navbar-height} - #{$app-toolbar-height});
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
      display: block;
      border: none !important;
      
      .app-filters-wrapper {
        mz-collapsible {
          &:last-child {
            .collapsible {
              & > li {
                border: none;
              }
            }
          }
        }
      }
    }
    
    &.app-filters-desktop,
    &.app-panel-mobile-hidden {
      display: none;
    }
  }
  
  .app-filters-wrapper {
    height: calc(100% - #{$app-toolbar-height});
    overflow-x: auto;
    
    .collapsible {
      margin: 0 0 0px 0;
      border: none !important;
      @extend .z-depth-0;
      
      & > li {
        padding: 15px 0 !important;
        @include set-border(bottom, 1, solid, $app-grey-l-2);
      }

      .collapsible-header {
        position: relative;
        color: $app-grey-d-4;
        background-color: transparent;
        padding: 0 20px;
        min-height: 1.6rem;
        line-height: 1.6rem;
        border: none;
        @extend .app-font-bold;

        .mdi-chevron-down, .mdi-chevron-left, .mdi-close-circle {
          position: absolute;
          top: 0;
          right: 10px;
          line-height: 1.6rem;
        }

        .mdi-chevron-down {
          display: none;
        }
        .mdi-chevron-left {
          display: block;
        }
        &.active {
          .mdi-chevron-down {
            display: block;
          }
          .mdi-chevron-left {
            display: none;
          }
        }
      }
      .collapsible-body {
        @extend .app-clean-pd;
        border: none;
        
        .collection-item {
          background-color: transparent;
          border: none;
          padding: 0 20px;
        }

        .app-row {
          display: table;
          width: 100%;
          a {
            display: table-cell;
            width: 90%;
            vertical-align: top;
            color: $app-grey-d-1;
            &:hover {
              color: $app-grey-d-4;
            }
          }
          span {
            display: table-cell;
            width: 10%;
            text-align: right;
            vertical-align: top;
            color: $app-grey-d-1;
          }
          &.selected {
            @extend .app-font-bold;
            span, a {
              //color: $primary-color !important;
            }
          }
        }
      }
    }
  }
  .year-range-wrapper {
    padding: 10px 20px;
    .year-range {
      span {
        color: #888;
      }
      input {
        width: 70px !important;
        margin: 0 10px !important;
      }
    }
    a.btn {
      margin-top: 20px;
    }
  }
}


// just for browser filters
app-browse-filters,
app-periodical-filters {
  .app-filters-wrapper {
    height: calc(100% - #{$app-toolbar-height} - #{$app-fulltext-search-bar-height});
  }
}