mz-modal.app-dialog-admin-metadata {
  .modal {
    max-height: calc(100% - 130px);
    height: calc(100% - 130px);
    max-width: calc(100% - 130px);
    width: calc(100% - 130px);
    top: 65px !important;
  }

  .app-tab-content-wrapper {
    height: calc(100% - 30px);
    overflow: scroll;
    margin-top: 10px;
    .app-tab-content {
      padding: 0.5rem;
      overflow: auto;
      display: block;
      white-space: pre;
    }
  }

}