mz-modal.app-dialog-citation {
  .modal {
    max-width: 600px;
    .modal-content {
      padding-bottom: 0;
    }
  }

  .app-citation {
    font-size: 14px;
    color: #222222;
    margin-top: 10px;
  }


}