// --- NAVIGATION ITEM ---

.app-item {
  //padding: 2px;
  padding: 5px;
  cursor: pointer;
  width: 33.333%;
  overflow: hidden;
  float: left;
  position: relative;
  &:hover {
    //opacity: 0.6;
    box-shadow: 0 8px 17px 0 rgba(38, 50, 56, 0.2), 0 6px 20px 0 rgba(38, 50, 56, 0.2);
  }
  .app-item-thumb {
    background-repeat: no-repeat;
    width: 100%;
    height: 120px;
    overflow: hidden;
    // background-size: cover;
    // background-position-x: center;    
    background-color: #c5c5c5;
    border: solid 1px #adadad;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    .app-lock {
      background: #fff;
      height: 26px;
      width: 26px;
      display: block;
      border-radius: 50%;
      text-align: center;
      position: absolute;
      color: #616161;
      opacity: .8;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      &:before {
        font-size: 17px;
      }
      &.app-lock-licence-open, &.app-lock-licence-locked {
        color: $app-licence-color;
      }
    }
  }
  .app-item-title {
    position: absolute;
    font-size: 11px;
    top: 4px;
    right: 4px;
    padding: 2px;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    color: color("shades", "black");
  }
  .app-item-name {
    position: absolute;
    font-size: 12px;
    bottom: 0.5rem;
    padding: 2px;
    width: calc(100% - 1rem);
    display: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    color: color("shades", "black");
  }
  .app-item-type {
    position: absolute;
    font-size: 12px;
    bottom: 0.5rem;
    padding: 2px;
    display: none;
    text-align: center;
    width: calc(100% - 10px);
    word-break: break-word;
    background: rgba(255, 255, 255, 0.8);
    color: color("shades", "black");
  }
  &.app-display-2 {
    opacity: 0.6;
  }
  &.app-display-1 {
    .app-item-title {
      background: $primary-color;
      color: #fff
    }
  }
  &.app-active {
    background: $primary-color;
    // .app-item-title {
    //   background: $primary-color;
    //   color: #fff
    // }
  }
  &:hover {
    .app-item-type {
      display: block;
    }
    .app-item-name {
      display: block;
    }
  }

  // mq
  @media #{$small-and-down} {
    width: 16.66666%;
  }
  @media #{$small-500-and-down} {
    width: 20%;
  }
  @media #{$small-400-and-down} {
    width: 25%;
  }
  @media #{$small-300-and-down} {
    width: 33.33333%;
  }
  @media #{$small-200-and-down} {
    width: 50%;
  }
}