// --- NAVBAR ---

app-navbar {
  nav {
    position: relative;
    z-index: 995;
    background-color: $app-grey-l-5;
    @include set-border(bottom, 1, solid, $app-grey-c-1);
    box-shadow: 0 2px 2px 0 rgba(38, 50, 56, 0), 0 1px 5px 0 rgba(38, 50, 56, 0.12), 0 3px 1px -20px rgba(38, 50, 56, 0.1);
    
    .nav-wrapper {
      .app-arrow-left {
        color: $app-grey;
        
        /* if arrow left is hidden
        @media #{$small-and-down} {
          display: none;
        }
        */
        
        .mdi-arrow-left {
          margin-right: 7px;
        }
      }
      .sp-header-logo {
        height: 100%;
        padding: 12px 0;
        margin-left: 15px;
        float: left;
        img {
          height: 100%;
        }
      }
      .col {
        float: left;
        
        &.app-col-left {
          width: $app-side-col-width;
          padding-left: 15px;
          
          //mq
          @media #{$small-and-down} {
            width: $app-mobile-logo-width;
          }
          @media #{$small-and-down} {
            &.app-col-hidden {
              display: none;
            }
          }
        }
        
        &.app-col-right {
          width: calc(100% - #{$app-side-col-width});
          display: flex;
          flex-direction: row;
          .app-btn-search-bar {
            display: none;
            margin-right: 12px;
          }
          
          // mq
          @media #{$small-and-down} {
            width: calc(100% - #{$app-mobile-logo-width});
          }
          @media #{$small-400-and-down} {
            &.app-search-bar-displayed {
              padding-left: 1rem;
              width: 100%;
            }
            .app-btn-search-bar {
              display: block; 
            }
          }
          .app-buttons {
            display: initial;
            mz-navbar-item.active > li > a {
            }
          }
          @media only screen and (max-width : 991px) {
            .app-buttons {
              display: none;
            }
          }
        }
          
        &.app-col-right-home {
          width: auto;
          float: right;
          display: block;
          $large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
          .app-buttons {
            display: initial;
          }
        }
        .app-language {
          margin-right: 5px;
          #btn-dropdown-language {
            height: 68px;
            padding: 14px 16px;
            img {
              height: 40px;
            }
          }
          .dropdown-content {
            mz-dropdown-item {
              .app-language {
                width: 125px;
                line-height: 60px;
                img {
                  height: 30px;
                  width: 30px;
                  float: right;
                  margin-top: 15px;
                  margin-right: 15px;
                  margin-left: 15px;
                }
                .app-language-name {
                  text-align: right;
                }
              }
            }
          }
        }
        .app-profile {
          & > li {
            height: 68px;
          } 
          .app-profile-img {
            width: 40px;
            height: 40px;
            margin: 14px;
            border-radius: 50%;
            cursor: pointer;
          }
          .app-profile-txt {
            width: 40px;
            height: 40px;
            margin: 14px;
            background: $primary-color;
            border-radius: 50%;
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 600;
            line-height: 40px;
            cursor: pointer;
          }
          .dropdown-content {
              width: auto !important;
              right: 14px !important;
              top: 50px !important;
              left: auto !important;
            .app-profile-name {
              line-height: 50px;
              padding-left: 16px;
              padding-right: 16px;
              background: $primary-color;
              color: #fff;
              cursor: default;
            }
          }
        }
      }
    }
  }
  
  // btn side nav
  #app-btn-sidenav {
    padding: 0 1rem;
    
    @media #{$small-400-and-down} {
      padding-left: 10px;
    }
  }
  
  // side nav
  .side-nav {
    z-index: 1026;

    .subheader {
      background-color: $primary-color;
      color: color("shades", "white");
      height: $navbar-height;
      line-height: $navbar-height;
      font-size: 1.4rem;
    }
  }
}

#sidenav-overlay {
  z-index: 1005;
}