.app-login-wrapper {
  padding-top:50px;
  max-width: 600px;
  margin: 0 auto;

  .app-title {
    margin-bottom: 40px;
    font-size: 24px;
    text-align: center;
  }
  mz-input-container {
    margin-top: 30px;
    display: block;
  }
  button {
    margin: 10px auto 0;
    display: block;
  }
  .app-error {
    color: #b44;
  }

}