// --- LAYOUT ---
html,
body, 
app-root {
  width: 100%;
  height: 100%;
  display: block;
}

app-root {
  main {
    width: 100%;
    height: calc(100% - #{$navbar-height});
    
    app-search,
    app-periodical,
    app-book,
    app-home {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row;
    }
    
    // home
    app-home {
      .app-content-wrapper {
        flex: 1;
        height: 100%;
        overflow: auto;
      }
    }
    
    // common behavior
    app-search-filters,
    app-navigation,
    app-metadata {
      width: $app-side-col-width;
      height: 100%;
      z-index: 10;
      background-color: $app-grey-l-5;
      @include set-border(right, 2, solid, $app-grey-l-2);
    }
    
    /*app-search {
      app-search-filters {
        float: left;
        //width: 260px;
      }
      app-search-results {
        flex: 1;
        height: 100%;
        background-color: color("shades", "white")
        padding: 0.5rem;
      }
    }*/
    
    // search
    app-search {
      app-search-filters {
        float: left;
      }
      .app-search-wrapper {
        flex: 1;
        height: 100%;
        background-color: color("shades", "white");
        
        app-search-filters-doctype {
          display: block;
          height: 55px;
          line-height: 55px;
          margin: 0 1rem;
          @include set-border(bottom, 1, solid, $app-grey-c-2);
          
          .col {
            padding: 0;
          }
        }
        
        app-search-results {
          display: block;
          height: calc(100% - 55px);
          overflow: auto;
          padding: 0.5rem;
        }
      }
    }
    
    // book
    app-book {
      app-viewer {
        flex: 1;
        height: 100%;
      }
      app-navigation {
        float: left;
        @include set-border(right, 2, solid, $app-grey-l-2);
        //width: 230px;
      }
      app-metadata {
        float: right;
        @include set-border(left, 2, solid, $app-grey-l-2);
        //width: 300px;
      }
    }
    
    // periodical
    app-periodical  {
      app-periodical-content {
        flex: 1;
        height: 100%;
      }
      app-metadata {
        float: right;
        margin-left: auto;
        @include set-border(left, 2, solid, $app-grey-l-2);
        //width: 300px;
      }
    }
  }
}