// --- LAYOUT ---

html,
body, 
app-root {
  width: 100%;
  height: 100%;
  display: block;
}

app-root {
  main {
    width: 100%;
    height: calc(100% - #{$navbar-height});
    
    // common behavior
    app-search,
    app-browse,    
    app-periodical,
    app-music,
    //app-book,
    .app-book-wrapper,
    app-home {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row;
    }
    app-search-filters,
    app-browse-filters,    
    app-navigation,
    app-metadata,
    app-periodical-filters {
      width: $app-side-col-width;
      height: 100%;
      z-index: 10;
      background-color: $app-grey-l-5;
      @include set-border(right, 1, solid, $app-grey-l-2);
    }
    
    // home
    app-home {
      .app-content-wrapper {
        flex: 1;
        height: 100%;
        overflow: auto;
        
        @import "styles/app-home";
      }
    }
    
    // browse
    app-help {
      @import "styles/app-help";
    }
    
    // search
    app-search {
      @import "styles/app-search-count";
      @import "styles/app-search-filters-used";
      @import "styles/app-search-filters";
      .app-search-wrapper {
        flex: 1;
        height: 100%;
        background-color: color("shades", "white");

        @import "styles/app-search-toolbar";
        @import "styles/app-search-chart-bar";
        @import "styles/app-search-calendar";
        @import "styles/app-search-results";
      }
    }

    // browse
    app-browse {
      @import "styles/app-search-count";
      @import "styles/app-browse-search";
      @import "styles/app-search-filters";
      .app-browse-wrapper {
        flex: 1;
        height: 100%;
        background-color: color("shades", "white");

        @import "styles/app-browse-toolbar";
        @import "styles/app-browse-results";
      }
    }
    
    // book
    app-book {
      display: block;
      height: 100%;
      width: 100%;
      position: relative;
      
      @import "styles/app-book-toolbar";
      .app-book-wrapper {
        @media #{$small-and-down} {
          height: calc(100% - #{$app-toolbar-height});
        }
        
        @import "styles/app-book-toolbar";
        @import "styles/app-search-count";
        @import "styles/app-viewer";
        @import "styles/app-pdf-viewer";
        @import "styles/app-viewer-controls";      
        @import "styles/app-navigation";
        @import "styles/app-metadata";
      }
    }
    
    // periodical
    app-periodical  {
      @import "styles/app-search-filters";
      @import "styles/app-periodical-filters";
      @import "styles/app-periodical-content";
      @import "styles/app-metadata";
    }

    // music
    app-music  {
      @import "styles/app-music-player";
      @import "styles/app-metadata";
    }
  }
}