// --- SEARCH RESULTS --

app-browse-results {
  display: block;
  height: calc(100% - #{$app-toolbar-height});
  overflow: auto;
  padding: 1rem 0;
  
  /*@media #{$small-and-down} {
    &.app-panel-mobile-open {
      padding-top: calc(#{$app-mobile-panel-height} + 1rem);
    }
  }*/

  .app-browse-item {
    padding: 0.5rem 1rem;
    font-size: 15px;
    color: $app-grey-d-1;
    display: block;
    
    &.even {
      background: $app-grey-l-4;
    }
    
    &.hidden {
      display: none;
    }

    &:hover {
      color: $primary-color;
      background-color: $app-grey-l-2;
    }
  }
}