// --- ALERTS ---

app-alert {
 .alert {   
    @extend .text-darken-4, .z-depth-0;
    margin-bottom: 0;
    margin-top: 60px;

    &.alert-success {
      @extend .green-text;
    }

    &.alert-info {
      @extend .blue-text;
    }

    &.alert-warning {
      @extend .yellow-text;
    }

    &.alert-danger {
      @extend .red-text;
    }

    .close {
      position: absolute;
      top: 50%;
      right: 0.5rem;
      color: inherit;
      margin-top: -18px;
    }

    i {
      margin-right: 5px;
      vertical-align: sub;
    }

    .app-description {
      padding: 10px 20px;
      text-align: left;
      color: #444;
      margin: 10px auto 0;
      max-width: 800px;
    }
    
    .app-html {
      padding: 10px 20px;
      overflow: auto;
      text-align: left;
      color: #444;
      margin: 10px auto 0;
      max-width: 800px;
      h1,h2,h3,h4,h5 {
        line-height: 120%;
        color: #444;
        font-weight: 400;
        text-align: left;
      }
      h1: {
        text-align: center;
      }
      h1, h2, h3 {
        font-size: 24px;
      }
      h4 {
        font-size: 22px;
      }
      h5 {
        font-size: 20px;
      }
      b, strong {
        font-weight: 600;
      }
      ul {
        padding-left: 0;
        list-style-type: none;
        margin-top: 5px;
      }
    }
  }
  
  app-root main app-book app-viewer .app-viewer-wrapper & {
    // position: absolute;
    width: 100%;
    .row {
      overflow: auto;
      height: 100%;
    }
  }
}
