// --- NAVIGATION HEADER ---

.app-navigation-header {
  padding: 5px 20px 8px 20px;
  @include set-border(bottom, 1, solid, $app-grey-l-2);
  
  &.app-hidden {
    display: none;
  }

  .app-current-page {
    @extend .app-font-bold;
    @extend .app-clean-mg;
    width: 30px;
    text-align: center;
    height: 2rem;
    color: $primary-color;
  }
  
  span {
    &:nth-child(2) {
      margin: 0 8px 0 2px;
    }
    &:nth-child(3) {
      @extend .app-font-bold;
    }
    &:last-child {
      margin-left: 5px;
    }
  }
}