// --- MUSIC PLAYLIST ---

app-music-playlist {
  padding: 16px;
  display: block;
  //height: calc(100% - 254px);
  //overflow: hidden;
  
  .app-music-playlist-wrapper {
    height: 100%;
    
    .app-music-playlist-header {
      overflow: hidden;
      @include set-border(bottom, 1, solid, $app-grey-l-2);
      padding: 0 5px; 
      
      .app-music-playlist-header-item {
        float: left;
        height: 30px;
        line-height: 30px;
        font-weight: 600;
        color: $app-grey;
        
        &.app-music-playlist-header-icon {
          width: 26px;
        }
        
        &.app-music-playlist-header-name {
          width: 50%;
          
          // mq
          @media #{$medium-and-down} {
            width: calc(100% - 26px);
          }
        }
      }
    }
    
    .app-music-track-list {
      overflow: scroll;
      height: calc(100% - 31px);
      
      .app-music-track {
        overflow: hidden;
        padding: 5px;
        @include set-border(bottom, 1, solid, $app-grey-l-2);
        cursor: pointer;
        
        .app-music-track-icon {
          margin-right: 8px;
          float: left;
          height: 27px;
          width: 18px;

          .app-music-track-lock {
            color: $app-grey-l-1;
            display: block;
          }
          
          .app-music-track-play, .app-music-track-pause {
            color: $app-grey-d-4;
            display: none;
          }
        }

        .app-music-track-download {
          float: right;
          height: 27px;
          width: 18px;
          .app-music-track-download-icon {
            color: $app-grey-l-1;
            display: block;
            &:hover {
              color: $app-black;
            }
            &.app-private {
              color: $app-grey-l-2;
              &:hover {
                color: $app-grey-l-2;
              }
            }
          }
        }
        
        .app-music-track-name {
          float: left;
          width: 50%;
          height: 27px;
          line-height: 27px;
          color: $app-grey-d-1;
          
          // mq
          @media #{$medium-and-down} {
            width: calc(100% - 44px);
          }
        }
        
        .app-music-track-unit {
          float: left;
          height: 27px;
          line-height: 27px;
          color: $app-grey-d-1;
        }
        
        &:hover {
          background: $app-grey-l-5;
          
          .app-music-track-icon {
            .app-music-track-play {
              display: block;
            }
          }
        }
        
        &.active {
          @extend .app-font-bold;
        }
        
        &:hover, &.active {
          .app-music-track-icon {
            .app-music-track-lock {
              display: none;
            }
          }
          
          .app-music-track-name {
            color: $app-black;
          }
          
          .app-music-track-unit {
            color: $app-black;
          }
        }
        
        &.active {
          .app-music-track-icon {
            .app-music-track-play {
              display: none;
            }
            
            .app-music-track-pause {
              display: block;
            }
          }
          
          &.playing {
            .app-music-track-icon {
              .app-music-track-play {
                display: block;
              }
              .app-music-track-pause {
                display: none;
              }
            }
          }
        }
        
        &:hover.active {
          .app-music-track-icon {
            .app-music-track-play {
              display: block;
            }
            
            .app-music-track-pause {
              display: none;
            }
          }
          
          &.playing {
            .app-music-track-icon {
              .app-music-track-play {
                display: none;
              }
              
              .app-music-track-pause {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}