// --- PERIODICAL TOOLBAR ---

app-periodical-toolbar {
  display: block;
  height: $app-toolbar-height;
  padding: 0 1rem;
  @include set-border(bottom, 1, solid, $app-grey-l-2);
          
  .col {
    @extend .app-clean-pd;
    
    &.app-periodical-info {
      .app-periodical-title {
        display: block;
        color: $app-grey-d-1;
        height: $app-toolbar-height;
        line-height: $app-toolbar-height;
        overflow: hidden;
        font-size: 1.4rem;
      }
      
      i {
        color: $app-grey;
        display: inline-block;
        display: block;
        float: left;
        margin-top: 15px;
      }
      
      &:hover {
        i, .app-periodical-title {
          color: color("shades", "black");
        }
      }
    }
    
    &.app-volume-info {
      .app-volume-title {
        color: $app-grey-d-1;
        font-size: 1.4rem;
        margin: 0 10px;
        height: $app-toolbar-height;
        line-height: $app-toolbar-height;
      }

      a {
        color: $app-grey;
        display: inline-block;

        &:before {
          vertical-align: bottom !important;
        }

        &:not(.disabled):hover {
          color: color("shades", "black");
        }

        &.disabled {
          opacity: 0.3;
          cursor: default !important;
        }
      }
    }
    
    // col right
    &.app-nav-item {
      line-height: $app-toolbar-height;
      ul {
        li {
          &.active {
            color: $primary-color;
          }

          span {
            padding: 0 0.8rem;

            &.app-mdi-in {
              padding-right: 0.4rem;
            }

            label {
              font-size: inherit;
            }
          }

          &:not(:first-child) {
            & > span {
              @include set-border(left, 1, solid, $app-grey-l-2);
            } 
          }
        }
      }  
    }
    
    // common
    ul {
      @extend .app-clean-mg;

      li {
        float: left;
        color: $app-grey-l-1;

        &:not(.active) {
          span {
            &:hover {
              color: $app-grey-d-1;
            } 
          }
        }
      }
    }
  }
}