// --- BROWSE TOOLBAR ---

app-browse-toolbar {
  display: block;
  height: $app-toolbar-height;
  line-height: $app-toolbar-height;
  padding: 0 1rem;
  @include set-border(bottom, 1, solid, $app-grey-l-2);
  position: relative;
  
  & > .row {
    overflow: hidden;
    height: $app-toolbar-height;
    
    .col {
      @extend .app-clean-pd;

      // common
      ul {
        @extend .app-clean-mg;

        li {
          float: left;
          color: $app-grey-l-1;

          &:not(.active) {
            span {
              &:hover {
                color: $app-grey-d-1;
              } 
            }
          }
        }
      }

      // col left
      &.app-col-left {
        position: relative;
      }

      // col right
      &.app-col-right {
        ul {
          li {
            &.active {
              color: $primary-color;
            }

            span {
              padding: 0 0.8rem;

              &.app-mdi-in {
                padding-right: 0.4rem;
              }

              label {
                font-size: inherit;
              }
            }

            &:not(:first-child) {
              & > span {
                @include set-border(left, 1, solid, $app-grey-l-2);
              } 
            }
          }
        }  
      }
    } 
  }
}