// --- MUSIC HEADER ---

app-music-header {
  padding: 16px;
  display: block;
  height: 182px;
  .music-header {

    .cover-image-wrapper {
      height: 150px;
      float: left;
      margin-right: 20px;
      width: 150px;
      .cover-image {
        background-size: cover;
        height: 100%;
        width: 100%;
        background-position: center center;
      }
    }
    .album-title {
      font-size: 18px;
      color: #333333;
      line-height: 30px;
      height: 30px;
      overflow: hidden;
    }
    .album-author {
      font-size: 15px;
      color: #888888;
      line-height: 20px;
      height: 20px;
      overflow: hidden;
    }
  } 
}