// --- BOOK SEARCH ---

app-book-search {
  &.app-hidden {
    display: none;
  }
  .app-book-search-bar-wrapper {
    width: 100%;
    padding: 0 20px 0 20px;
    @include set-border(bottom, 1, solid, $app-grey-l-2);

    .app-book-search-bar {
      position: relative;

      input {
        @extend .app-clean-mg;
        border-bottom-color: transparent;
        padding-left: 30px;
        padding-right: 30px;
        width: calc(100% - 60px);        
        &::placeholder {
          color: $app-grey;
        }
      }

      .mdi-close {
        position: absolute;
        right: 0;
        top: 5px;
        color: $app-grey;
      }

      .mdi-magnify {
        position: absolute;
        left: 0;
        top: 5px;
        color: $app-grey;
      }

      &.app-is-query {
        input {
          border-bottom: 1px solid $primary-color !important;
          box-shadow: 0 1px 0 0 $primary-color;
        }
      }

      &.app-is-query, &:focus-within {
        .mdi-magnify  {
          color: $primary-color;
        }
      }
    }
  }
}
