// --- PERIODICAL YEARS ITEM ---

app-periodical-years-item {
  width:12.5%;
  //overflow: hidden;
  float: left;
  
  @media (max-width: 1900px) {
    width:14.2857%;
  }
  @media (max-width: 1750px) {
    width:16.66666%;
  }
  @media (max-width: 1600px) {
    width:20%;
  }
  @media (max-width: 1450px) {
    width:25%;
  }
  @media (max-width: 1300px) {
    width:33.33333%;
  }
  @media (max-width: 1150px) {
    width:50%;
  }
  @media (max-width: 992px) {
    width:33.33333%;
  }
  @media (max-width: 400px) {
    width:50%;
  }
  
  .card {
    margin: 0.5rem;
    color: $app-grey-d-3;
    @include setCardShadow(0, 0, 0, $app-grey-l-2);

    .card-content {
      @extend .app-clean-pd;
      @extend .center-align;
      height: 55px;
      line-height: 55px;
      overflow: hidden;
      position: relative;
      
      .app-lock {
        color: $app-grey-d-2;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 10px;
      }
    }
    
    &.app-missing {
      background-color: $app-grey-l-4;
      color: $app-grey-l-1;
    }
  }
}