// --- PERIODICAL CONTENT ---

app-periodical-content {
  flex: 1;
  height: 100%;
  position: relative;
  
  @media #{$small-and-down} {
    &.app-panel-mobile-open {
      .periodical-content {
        app-periodical-grid-layout,
        app-periodical-years-layout,
        app-periodical-calendar-layout {
          & > div[class*="-layout-wrapper"] {
            padding-top: calc(#{$app-mobile-panel-height} + 0.5rem);
          }
        }
      }
    }
  }
  
  .periodical-content {
    background: $app-white;
    height: 100%;

    // common
    app-periodical-grid-layout,
    app-periodical-years-layout,
    app-periodical-calendar-layout {
      height: calc( 100% - #{$app-toolbar-height});
      display: block;
      background-color: $app-grey-l-4;
    }
    
    @import "styles/app-periodical-toolbar";
    @import "styles/app-periodical-grid-layout";
    @import "styles/app-periodical-calendar-layout";
    @import "styles/app-periodical-years-layout";
  }
}

.spinner-wrapper {
  flex: 1;
  height: 100%;
  position: relative;
}