// --- SEARCH FILTERS USED ---

app-search-filters-used {
  .collection {
    padding: 15px 0;
    margin: 0;
    border: none;
    @include set-border(bottom, 1, solid, $app-grey-l-2);
    
    .collection-header {
      position: relative;
      @extend .app-font-bold;
      color: $primary-color;
      padding: 0 20px !important;
      border: none !important;
      background-color: transparent !important;
      min-height: 1.6rem;
      line-height: 1.6rem;
      
      .mdi-close-circle{
        position: absolute;
        top: 0;
        right: 15px;
        color: $app-red;
        
        &:before {
          font-size: 18px;
        }
      }
    }
    .collection-item {
      background-color: transparent;
      padding: 0 20px !important;
      border: none;
      color: $app-grey-d-1;
      
      span {
        .mdi {
          &:before {
            font-size: 18px;
          }
          &.mdi-close {
            &:before {
              display: none !important; 
            }
          }
        }
        &:hover {
          color: $app-red;
          
          .mdi-check {
            display: none;
          }
          .mdi-close {
            &:before {
              display: inline-block !important; 
            }
          }
        }
      }
    }
  }
}