// --- PDF Viwer ---

app-pdf-viewer {
  flex: 1;
  height: 100%;
  width: 100%;
  background-color: $app-grey-l-4;    
  overflow: scroll;
  position: relative;
  pdf-viewer {
    display: block;
  }
  
}