// --- PERIODICAL TOOLBAR ---

app-periodical-toolbar {
  display: block;
  height: $app-toolbar-height;
  /*line-height: $app-toolbar-height;*/
  margin: 0 1rem;
  @include set-border(bottom, 1, solid, $app-grey-c-2);
          
  .col {
    @extend .app-clean-pd;
    
    // common
    ul {
      @extend .app-clean-mg;

      li {
        float: left;
        color: $app-grey-l-1;

        &:not(.active) {
          span {
            &:hover {
              color: $app-grey-d-1;
            } 
          }
        }
      }
    }
    
    // col left
    &.app-col-left {
      width: 90%;
      h5 {
        @extend .app-clean-mg;
        color: $app-grey-d-1;
        height: $app-toolbar-height;
        line-height: $app-toolbar-height;
        overflow: hidden;
        font-size: 1.4rem;
      }
    }
    
    // col right
    &.app-col-right {
      float: right;
      line-height: $app-toolbar-height;
      ul {
        li {
          &.active {
            color: $primary-color;
          }

          span {
            padding: 0 0.8rem;

            .app-mdi-menu-down {
              margin-right: -4px;
            }

            label {
              font-size: inherit;
            }
          }

          &:not(:first-child) {
            & > span {
              @include set-border(left, 1, solid, $app-grey-l-2);
            } 
          }
        }
      }  
    }
  }
}