// --- GLOBAL ---

// body {
//   font-family: 'Roboto-Condensed-Regular';
// }

// * {
//   box-sizing: border-box;    
// }

// :-ms-fullscreen {
//   width: auto;
//   height: auto;
//   margin: auto;
// }

// a,
// .app-cursor-pointer {
//   cursor: pointer !important;
// }

// // font
// .app-font-bold {
//   font-family: 'Roboto-Condensed-Bold';
// }

// //cleaners
// .app-clean-mg {
//   margin: 0 !important;
// }

// .app-clean-pd {
//   padding: 0 !important;
// }

// .app-clean-border {
//   border: 0 !important;
// }

// clearfix
.clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// others
// button {
//   @extend .z-depth-0;
//   i {
//     &.left {
//       margin-right: 5px;
//     }
//     &.right {
//       margin-left: 5px;
//     } 
//   }
// }

// mdi
i.left {
  margin-right: 5px;
}

mz-spinner.medium-centered-spinner {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

mz-spinner.app-small-spinner {
  .preloader-wrapper {
    width: 20px;
    height: 20px;
  }
}

// mq
@media #{$medium-and-down} {
  .material-tooltip {
    display: none !important;
  }
}



.ol-dragbox {
  background: #0277bd44;
  border: solid 1px #0277bd
}






.app-dropdown-menu {
  .app-dropdown-item {
    display: block;
    overflow: hidden;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    color: $app-grey-d-1;
    &:hover {
      background: #e5e5e5;
    }
  }
}

mat-spinner.medium-centered-spinner {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}



app-metadata {
  margin-left: auto;
  transition: margin-right 0.3s;
  border-left: 1px solid $app-grey-l-2;
  &.app-panel-hidden {
    margin-right: -$app-side-col-width;
    overflow: hidden;
  }
  @media #{$medium-and-down} {
    &.app-book-metadata {
      &.app-panel-mobile-hidden {
        margin-right: -$app-side-col-width;
        transition: margin-right 0.0s;
        overflow: hidden;
      }
      &.app-panel-hidden {
        margin-right: 0;
        overflow: inherit;
      }
    }
  }
  @media #{$small-and-down} {
    &:not(.app-nested) {
      position: absolute;
      width: 100%;
      top: calc(#{$navbar-height} + #{$app-toolbar-height});
      left: 0;
      border: 0;
      height: calc(#{$app-mobile-panel-height} - #{$navbar-height} - #{$app-toolbar-height});
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
      display: block;
      z-index: 1001;
    }
    &.app-panel-mobile-hidden {
      display: none;
    }
    &.app-book-metadata {
      top: $app-toolbar-height;
      height: calc(#{$app-mobile-panel-height} - #{$app-toolbar-height});
    }
  }
  &.app-nested {
    width: auto;
    margin: 5px 0 20px;
    border-left: 5px solid $app-grey-l-2;
    display: block;
    .app-metadata-wrapper {
      overflow: unset;
      .app-metadata-content {
        padding: 8px 0 0 8px;
        margin-bottom: -10px;
      }
    }
  }
}