// --- BOOK CONTROLS ---

app-book-controls {
  .collection {
    .collection-item {
      i[class*="app-mdi-"] {
        margin-left: 21px; 
        margin-right: 21px;    
        color: $app-grey;
        &:hover {
          color: color("shades", "black");
        }
      }
    }
  }
}