// --- MUSIC CONTROLS ---

app-music-controls {
  height: 72px;
  display: block;
  
  .app-music-controls-wrapper {
    background: $app-white;
    height: 100%;
    @include set-border(top, 1, solid, $app-grey-l-2);


    .app-controls-buttons-wrapper {
      height: 100%;
      text-align: center;
      float: left;
      width: 70px;
      @include set-border(right, 1, solid, $app-grey-l-2);
      
      .app-controls-button {
        color: $app-grey-d-2;
        cursor: pointer;
        
        &:hover {
          color: $app-black;
        }
      }
    }

    .app-soundunit-info-wrapper {
      width: 30%;
      height: 100%;
      float: left;
      padding: 5px; 
      
      .app-soundunit-info {
        .app-soundunit-image {
          background-size: cover;
          width: 60px;
          height: 60px;
          background-position: center center;
          float: left;
          margin-right: 8px;
        }
        
        .app-track-title {
          font-size: 17px;
          color: $app-grey-d-3;
          line-height: 30px;
          height: 30px;
          overflow: hidden;
        }
        
        .app-soundunit-title {
          font-size: 15px;
          color: $app-grey;
          line-height: 20px;
          height: 20px;
          overflow: hidden; 
        }
      }
    }
    
    .app-track-progress-wrapper {
      height: 100%;
      float: left;
      width: calc(70% - 80px);
      padding: 20px 10px;
      
      // mq
      @media #{$medium-and-down} {
        width: calc(100% - 70px);
      }
      
      .app-track-position {
        float: left;
        width: 40px;
        text-align: left;
        line-height: 35px;
        height: 35px;
        overflow: hidden;
      }
      
      .app-track-duration {
        float: left;
        width: 40px;
        text-align: right;
        line-height: 35px;
        height: 35px;
        overflow: hidden;
      }
      
      .app-track-slider {
        float: left;
        width: calc(100% - 80px);
        
        .thumb {
          display: none;
        }
      }
    }
  } 
}