// --- MDI ---

// common 
.app-mdi-menu-down {@include set-mdi-icon(before, F35D, 24, middle);}
.app-mdi-chart-bar {@include set-mdi-icon(before, F128, 24, middle);}
.app-mdi-calendar-range {@include set-mdi-icon(before, F678, 24, middle);}
.app-mdi-calendar-blank {@include set-mdi-icon(before, F0EE, 24, middle);}
.app-mdi-view-grid {@include set-mdi-icon(before, F570, 24, middle);}
.app-mdi-information {@include set-mdi-icon(before, F2FC, 24, middle);}
.app-mdi-google-controller {@include set-mdi-icon(before, F2B4, 24, middle);}
.app-mdi-book-open {@include set-mdi-icon(before, F0BD, 24, middle);}
.app-mdi-view-module {@include set-mdi-icon(before, F0BD, 24, middle);}
.app-mdi-filter {@include set-mdi-icon(before, F232, 24, middle);}

// doctype icons
.app-mdi-monograph {@include set-mdi-icon(before, F5DA, 24, text-bottom);}
.app-mdi-periodical {@include set-mdi-icon(before, F395, 24, text-bottom);}
.app-mdi-soundrecording {@include set-mdi-icon(before, F40C, 24, text-bottom);}
.app-mdi-map {@include set-mdi-icon(before, F34D, 24, text-bottom);}
.app-mdi-graphic {@include set-mdi-icon(before, F3D8, 24, text-bottom);}
.app-mdi-sheetmusic {@include set-mdi-icon(before, F759, 24, text-bottom);}
.app-mdi-archive {@include set-mdi-icon(before, F03C, 24, text-bottom);}
.app-mdi-manuscript {@include set-mdi-icon(before, F478, 24, text-bottom);}

// viewer controls
.app-mdi-zoom-in {@include set-mdi-icon(before, f415, 24, middle);}
.app-mdi-zoom-out {@include set-mdi-icon(before, f374, 24, middle);}
.app-mdi-rotate-right {@include set-mdi-icon(before, f467, 24, middle);}
.app-mdi-rotate-left {@include set-mdi-icon(before, f465, 24, middle);}
.app-mdi-fit-to-screen {@include set-mdi-icon(before, f1a2, 24, middle);}
.app-mdi-fullscreen {@include set-mdi-icon(before, f293, 24, middle);}
.app-mdi-fullscreen-exit {@include set-mdi-icon(before, f294, 24, middle);}
.app-mdi-page-left {@include set-mdi-icon(before, f141, 24, middle);}
.app-mdi-page-right {@include set-mdi-icon(before, f142, 24, middle);}
.app-mdi-menu-left {@include set-mdi-icon(before, f35e, 20, middle);}
.app-mdi-menu-right {@include set-mdi-icon(before, f35f, 20, middle);}
.app-mdi-double-page {@include set-mdi-icon(before, f0be, 24, middle);}

// book controls
.app-mdi-book-print {@include set-mdi-icon(before, f42a, 20, middle);}
.app-mdi-book-pdf {@include set-mdi-icon(before, f225, 20, middle);}
.app-mdi-book-jpg {@include set-mdi-icon(before, f2e9, 20, middle);}
.app-mdi-book-ocr {@include set-mdi-icon(before, f284, 20, middle);}
.app-mdi-book-quote {@include set-mdi-icon(before, f27e, 20, middle);}
.app-mdi-book-share {@include set-mdi-icon(before, f497, 20, middle);}

// share
.app-mdi-share-facebook {@include set-mdi-icon(before, f20c, 30, middle);}
.app-mdi-share-gplus {@include set-mdi-icon(before, f2bd, 30, middle);}
.app-mdi-share-twitter {@include set-mdi-icon(before, f544, 30, middle);}

// periodicals
.app-mdi-periodical-previous {@include set-mdi-icon(before, f141, 24, middle);}
.app-mdi-periodical-next {@include set-mdi-icon(before, f142, 24, middle);}
.app-mdi-periodical-up {@include set-mdi-icon(before, f143, 24, middle);}