mz-modal.app-dialog-metadata {
  .modal {
    max-width: 1200px;
  }

  .app-tab-content-wrapper {
    height: calc(100% - 30px);
    overflow: scroll;
    margin-top: 10px;
    .app-tab-content {
      padding: 0.5rem;
      overflow: auto;
      display: block;
      white-space: pre;
    }
  }

}