// --- HOME ---

.home-top {
  margin-top: 80px;
  
  & > .row {
    &:first-child {
      margin-bottom: 5px;
    }
    &:nth-child(2) {
      margin-bottom: 10px;
    }
    
    .col {      
      &.app-desc {
        font-size: 0.8rem !important;
        color: $app-grey-l-2;
        
        span {
          &:first-child {
            color: $app-grey-d-2;
          }
          &:last-child {
            color: $app-grey;
          }
        }
      }
    }
  }
}

.home-bottom {
  margin-top: 80px;  
  mz-tab {
    .tabs {
      @include set-border(bottom, 1, solid, $app-grey-c-2);
      
      .tab {
        width: 33.33333333%; 
      }
    }
    & > div {
      padding: 10px 0;
      
      mz-tab-item {
        & > div {
          @extend .clearfix;
          
          app-document-card {
            width: 33.33%;
            display: block;
            float: left;
          }
        } 
      }
    } 
  }
}
