// --- PAGINATION ---

app-paginator {
  text-align: center;
  
  .pagination {
    margin-top: 20px;
    
    li {
      .active {
        background-color: $primary-color;
      }
      &:not(.app-arrow):not(.active):hover {
        background-color: $app-grey-l-2;
      }
      &.disabled {
        opacity: 0.3;
        a {
          cursor: default !important;
        }
      }
    }
  }
}