// --- MUSIC PLAYLIST ---

app-music-playlist {
  padding: 16px;
  display: block;
  height: calc(100% - 254px);
  overflow: hidden;
  .music-playlist {
    height: 100%;
    .music-playlist-header {
      overflow: hidden;
      border-bottom: 1px solid #e8e8e8;
      padding: 0 5px; 
      .music-playlist-header-item {
        float: left;
        height: 30px;
        line-height: 30px;
        font-weight: 600;
        color: #aaaaaa;
        &.music-playlist-header-icon {
          width: 26px;
        }
        &.music-playlist-header-name {
          width: 50%;
        }
      }
    }
    .music-track-list {
      overflow: scroll;
      height: calc(100% - 31px);
      .music-track {
        overflow: hidden;
        padding: 5px;
        border-bottom: 1px solid #e8e8e8;
        cursor: pointer;
        .music-track-icon {
          margin-right: 8px;
          float: left;
          height: 27px;
          width: 18px;
          .music-track-lock {
            color: #aaaaaa;
            display: block;
          }
          .music-track-play, .music-track-pause {
            color: #666666;
            display: none;
          }
        }
        .music-track-name {
          float: left;
          width: 50%;
          height: 27px;
          line-height: 27px;
          color: #666666;
        }
        .music-track-unit {
          float: left;
          height: 27px;
          line-height: 27px;
          color: #777777;
        }
        &:hover {
          background: #fbfbfb;
          .music-track-icon {
            .music-track-play {
              display: block;
            }
          }
        }
        &.active {
          font-weight: 600;
        }
        &:hover, &.active {
          .music-track-icon {
            .music-track-lock {
              display: none;
            }
          }
          .music-track-name {
            color: #000000;
          }     
          .music-track-unit {
            color: #000000;
          }
        }
        &.active {
          .music-track-icon {
            .music-track-play {
              display: none;
            }
            .music-track-pause {
              display: block;
            }
          }
          &.playing {
            .music-track-icon {
              .music-track-play {
                display: block;
              }
              .music-track-pause {
                display: none;
              }
            }
          }
        }
        &:hover.active {
          .music-track-icon {
            .music-track-play {
              display: block;
            }
            .music-track-pause {
              display: none;
            }
          }
          &.playing {
            .music-track-icon {
              .music-track-play {
                display: none;
              }
              .music-track-pause {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}