// --- SEARCH COUNT ---

app-search-count, 
app-browse-count, 
app-book-controls,
app-periodical-count {
  display: block;
  height: $app-toolbar-height;
  line-height: $app-toolbar-height;
  @include set-border(bottom, 1, solid, $app-grey-l-2);
  background-color: $app-white;
  
  .collection {
    border: none;
    @extend .app-clean-mg;
    color: $app-grey-d-1;
    
    .collection-item {
      padding: 15px 20px;
    }
  }
}