// --- SEARCH TOOLBAR ---

app-search-toolbar {
  display: block;
  height: $app-toolbar-height;
  line-height: $app-toolbar-height;
  padding: 0 1rem;
  @include set-border(bottom, 1, solid, $app-grey-l-2);
  position: relative;
  z-index: 990;
  
  & > .row {
    height: $app-toolbar-height;
    overflow: hidden;
    
    .app-col {
      @extend .app-clean-pd;
      &.app-col-right {  
        float: right;
      }
      ul {
        @extend .app-clean-mg;
        li {
          float: left;
          color: $app-grey-l-1;
          &.active {
            color: $primary-color;
          }

          span {
            &.app-btn-txt {
              &:hover {
                color: $primary-color;
              }
              color: $primary-color;
              cursor: pointer;
            }
            padding: 0 0.8rem;
            &.app-mdi-in {
              padding-right: 0.4rem;
            }
            label {
              font-size: inherit;
              
              // mq
              @media #{$large-only} {
                display: none;
              }
            }
          }

          &:not(.active) {
            span.app-btn-icon {
              &:hover {
                color: $app-grey-d-1;
              } 
            }
          }

          &:not(:last-child) {
            & > span {
              @include set-border(right, 1, solid, $app-grey-l-2);
            } 
          }
        }
      }  
    }
  }
}