mz-modal.app-dialog-citation {
  .modal {
    max-width: 700px;
    .modal-content {
      padding-bottom: 0;
    }
  }

  .app-citation {
    font-size: 14px;
    color: #222222;
    margin-top: 10px;
  }

  .app-tabs {
    overflow: hidden;
    .app-dialog-title {
      float: left;
      padding-right: 8px;
      color: $primary-color;
    }
    .app-tab {
      float: left;
      padding: 0 8px;
      color: #777;
      cursor: pointer;
      border-left: 1px solid #ccc;
      &.active {
        color: $primary-color;
      }
      &:hover {
        color: #000;
      }
    }
  }


}