// --- METADATA ---

app-metadata {

  strong {
    @extend .app-font-bold;
    color: $app-grey-d-4;
  }
  margin-left: auto;
  transition: margin-right 0.3s;
  @include set-border(left, 1, solid, $app-grey-l-2);

  &.app-panel-hidden {
    margin-right: -$app-side-col-width;
    overflow: hidden;
  }

  // mq
  @media #{$medium-and-down} {
    &.app-book-metadata {
      &.app-panel-mobile-hidden {
        margin-right: -$app-side-col-width;
        transition: margin-right 0.0s;
        overflow: hidden;
      }
      &.app-panel-hidden {
        margin-right: 0;
        overflow: inherit;
      }
    }
  }
  
  @media #{$small-and-down} {
    &:not(.app-nested) {
      position: absolute;
      width: 100%;
      top: calc(#{$navbar-height} + #{$app-toolbar-height});
      left: 0;
      border: 0;
      height: calc(#{$app-mobile-panel-height} - #{$navbar-height} - #{$app-toolbar-height});
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
      display: block;
      z-index: 1001;
    }
    &.app-panel-mobile-hidden {
      display: none;
    }
    
    &.app-book-metadata {
      top: $app-toolbar-height;
      height: calc(#{$app-mobile-panel-height} - #{$app-toolbar-height});
    }
  }
  
  .app-metadata-wrapper {
    height: 100%;
    overflow: hidden;

    .app-metadata-controls {
      display: block;
      height: 55px;
      line-height: 55px;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: #e0e0e0;
      background-color: #FFFFFF;
      i[class*="app-mdi-"] {
        margin-left: 19px; 
        margin-right: 19px;  
        float: right;  
        color: $app-grey;
        &.app-favourite {
          color: $primary-color;
        }
        &:hover {
          color: color("shades", "black");
        }
      }
    }

    .app-metadata-content {
      padding: 1rem;
      font-weight: 300;
      overflow: auto;
      height: calc(100% - 55px);
      h1 {
        font-size: 1.1rem;
        line-height: 1.6rem;
        font-weight: 400;
        @extend .app-clean-mg;
        color: $app-grey-d-2;
        
        &.app-cut {
          line-height: 1.6rem;
          height: 3.2rem;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          display: -webkit-box;
        }
      }

      .single-line {
        overflow: hidden;
        line-height: 20px;
        height: 20px;
        -webkit-line-clamp: 1;
        display: block;
        display: -webkit-box;
        text-overflow: ellipsis;
      }
      
      .app-more {
        color: $app-grey;
        
        &:hover {
          color: color("shades", "black");
        }
      }
      
      label {
        font-size: 0.9rem;
      }
      
      .app-subtitle {
        color: $app-grey-d-3;
      }
      .app-identifier {
        color: $app-grey-d-1;
        font-size: 14px;
      }
      .app-part-number {
        color: $app-grey-d-1;
      }
      .app-part-name {
        color: $app-grey-d-3;
      }
      
      .divider {
        margin: 10px 0;
        background: transparent;
      }
      
      .app-value {
        font-weight: 400;
        font-size: 15px;
        color: $app-grey-d-2;
      }
      .app-policy {
        .app-lock {
          color: $app-grey-d-2;
          margin-right: 4px;
          &.app-dnnt {
            color: $app-dnnt;
          }
        }
        .app-message {
          color: $app-grey-d-2;
        }
        .app-help {
          color: $primary-color;
          cursor: pointer;
        }
      }
    }
  }


  &.app-nested {
    width: auto;
    margin: 5px 0 20px;
    @include set-border(left, 5, solid, $app-grey-l-2);
    display: block;
    .app-metadata-wrapper {
      overflow: unset;
      .app-metadata-content {
        padding: 8px 0 0 8px;
        margin-bottom: -10px;
      }
    }
  }




}