// --- Viwer Controls ---

app-viewer-controls {
  position: absolute;
  left: 50%;
  z-index: 1000;
  bottom: 24px;
  
  .app-view-controls {
    background: rgba(255, 255, 255, 0.9);
    @extend .z-depth-2;
    position: relative;
    transition: opacity .4s ease 0s;
    opacity: 1;
    margin-right: -50%;
    display: inline-block;
    -webkit-transform: translate(-50%, 0%);    
    transform: translate(-50%, 0%);
    border-radius: $app-border-radius;
    padding: 5px 10px;
    user-select: none;
  }
  i[class*="app-mdi-"] {
    @extend .app-cursor-pointer;
    display: block;
    float: left;
    padding: 6px 8px;
    color: $app-grey;
    
    &:hover {
      color: color("shades", "black");
    }
    
    &.app-mdi-page-left {
      margin-right: 20px;
    }
    
    &.app-mdi-page-right {
      margin-left: 20px;
    }
    
    &.app-inactive {
      opacity: 0.2;
      cursor: default;
      
      &:hover {
        color: $app-grey;
      }
    }
  }
}