// --- NAVBAR ---

app-navbar {
  nav {
    position: relative;
    z-index: 1024;
    background-color: $app-grey-l-5;
    @include set-border(bottom, 1, solid, $app-grey-c-1);
    box-shadow: 0 2px 2px 0 rgba(38, 50, 56, 0), 0 1px 5px 0 rgba(38, 50, 56, 0.12), 0 3px 1px -20px rgba(38, 50, 56, 0.1);
    
    .nav-wrapper {
      .app-arrow-left {
        color: $app-grey;
      }
      .brand-logo {
        .app-pipe {
          padding-left: 20px;
          @include set-border(left, 1, solid, $app-grey-l-2);
        }
      }
      .col {
        float: left;
        
        &.app-col-left {
          width: $app-side-col-width;
          padding-left: 20px;
        }
      }
    }
  }
}