<div class="music-playlist">
  <div class="music-playlist-header">
    <div class="music-playlist-header-item music-playlist-header-icon"></div>
    <div class="music-playlist-header-item music-playlist-header-name">SKLADBA</div>
    <div class="music-playlist-header-item">ČÁST ALBA</div>
  </div>
  <div class="music-track-list">
    <div *ngFor="let track of musicService.tracks">
      <div class="music-track" (click)="musicService.selectTrack(track)" [class.active]="musicService.isActiveTrack(track)">
        <div class="music-track-icon">
          <i *ngIf="!track.isPublic" mz-icon-mdi [size]="'18px'" [icon]="'lock'" class="music-track-lock"></i>
          <i mz-icon-mdi [size]="'18px'" [icon]="'play'" class="music-track-play"></i>
        </div>
        <div class="music-track-name">{{ track.name }}</div>
        <div class="music-track-unit">{{ track.unit.name }}</div>
      </div>
    </div>
  </div>

</div>
