<div class="app-share app-dialog">


  <div class="app-tabs" *ngIf="selection">
    <div class="app-dialog-title">{{ 'share-dialog.title' | translate }}</div>
    <div *ngFor="let item of items" class="app-tab" [class.active]="selection.type === item.type"
      (click)="changeTab(item)">
      {{ 'model_4p.' + item.type | translate | lowercase }}
    </div>
  </div>

  <div class="app-dialog-content">

    <div class="app-label">{{ 'share-dialog.link' | translate }}</div>
    <div class="app-link">
      <input #inputTarget readonly [(ngModel)]="selection.link" type="text">
      <mat-icon (cbOnSuccess)="onCopied($event)" [ngxClipboard]="inputTarget" [matTooltip]="'common.copy_to_clipboard' | translate">content_copy</mat-icon>
    </div>


    <div class="app-label">{{ 'share-dialog.social' | translate }}</div>

    <div class="app-social">
      <img src="/assets/img/ic_share_facebook.png" (click)="share('facebook')">
      <img src="/assets/img/ic_share_twitter.png" (click)="share('twitter')">
    </div>

  </div>
      

  <div class="app-dialog-actions">
    <button mat-button (click)="onCancel()">{{ 'common.close' | translate }}</button>
  </div>

</div>



