<mz-modal #modal [fixedFooter]="true" class="app-dialog-metadata">
  <mz-modal-header>
    Metadata
  </mz-modal-header>
  <mz-modal-content>

      <div class="tabs" *ngIf="selection">
          <div *ngFor="let item of data" class="tab" [class.active]="selection.tab === item.tab" (click)="changeTab(item)">
            {{ 'model.' + item.tab | translate }}
          </div>
        </div>

      <div class="app-tab-content" *ngIf="selection">{{ selection.mods }}</div>

  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>{{ 'common.close' | translate }}</button>
  </mz-modal-footer>
</mz-modal>