<div class="app-book-controls">
   <mat-icon *ngIf="showPrintPreparation()" (click)="print()" [matTooltip]="'book_controls.tooltip_print' | translate">print</mat-icon>
   <mat-icon *ngIf="showPdfGeneration()" (click)="pdf()" [matTooltip]="'book_controls.tooltip_pdf' | translate">picture_as_pdf</mat-icon>
   <mat-icon *ngIf="showPageJpeg()" (click)="jpeg()" [matTooltip]="'book_controls.tooltip_jpg' | translate">image</mat-icon>
   <mat-icon *ngIf="showPageOcr()" (click)="ocr()" [matTooltip]="'book_controls.tooltip_ocr' | translate">title</mat-icon>
</div>
<input style="display: none" id="app-file-input" type="file" accept="application/epub+zip" (change)="openFile($event)">
