<div class="app-static-page">

  <div class="app-page-content" *ngIf="data">
    <!-- <h1>{{ 'navbar.' + page | translate }}</h1> -->
    <div [innerHTML]="data"></div>

    <div class="app-terms-controls" *ngIf="page == 'terms'">
      <mat-checkbox color="primary" [(ngModel)]="termsAgreed">{{ 'terms.agreement' | translate }}</mat-checkbox>
      <button mat-raised-button [disabled]="!termsAgreed" color="primary" (click)="login()">{{ 'terms.login' | translate }}</button>
    </div>
  </div>
  
  <mat-spinner *ngIf="loading"
        class="medium-centered-spinner" 
        [strokeWidth]="3" 
        [diameter]="40">
  </mat-spinner>

  <span class="app-version" *ngIf="page == 'about'">v2.4.0</span>
  
</div>