<div class="app-search-bar-wrapper">
  <div class="input-field">
    <ng2-completer (keyup)="onKeyUp($event)" (selected)="onSelected($event)" [(ngModel)]="searchStr" [matchClass]="'highlight'"
    [datasource]="service" [minSearchLength]="1" [inputId]="autocomplete-input" [inputClass]="'autocomplete'" [placeholder]="'searchbar.placeholder' | translate" [inputName]="'autocomplete-input'">
    </ng2-completer>
  </div>
  <i mz-icon-mdi [icon]="'magnify'" (click)="search()" class="app-cursor-pointer"></i>
  <i *ngIf="searchStr" mz-icon-mdi [icon]="'close'" (click)="cleanQuery()" class="app-cursor-pointer"></i>
</div>
<mz-checkbox-container *ngIf="!onSearchScreen()">
  <input mz-checkbox [(ngModel)]="accessibilityFilter" [label]="'navbar.checkbox_label' | translate" id="checkbox-id" type="checkbox">
</mz-checkbox-container> 