<div class="app-search-bar-wrapper" [class.app-hover]="searchStr">
  <div class="input-field">
    <ng2-completer  #completer (keyup)="onKeyUp($event)" (selected)="onSelected($event)" [(ngModel)]="searchStr" [matchClass]="'highlight'"
    [datasource]="service" [minSearchLength]="1" [inputId]="autocomplete-input" [inputClass]="'autocomplete'" [placeholder]="getPlaceholder()" [inputName]="'autocomplete-input'">
    </ng2-completer>
  </div>
  <mat-icon (click)="onMagnifyIconClick()" class="app-button-search">search</mat-icon>
  <mat-icon *ngIf="searchStr" (click)="cleanQuery()" class="app-button-close" [matTooltip]="'searchbar.delete_query' | translate">close</mat-icon>
</div>