<section id="app-calendar" style="display:none">
  <div class="row">
    <div class="col s5">
      <mz-datepicker-container>
        <i mz-icon-mdi mz-input-prefix [icon]="'calendar'"></i>
        <input mz-datepicker [label]="'search.datepicker.label_start_date' | translate" [ngModel] id="app-date-start" type="tel" />
      </mz-datepicker-container>
    </div>
    <div class="col s5">
      <mz-datepicker-container>
        <i mz-icon-mdi mz-input-prefix [icon]="'calendar'"></i>
        <input mz-datepicker [label]="'search.datepicker.label_end_date' | translate" [ngModel] id="app-date-end" type="tel" />
      </mz-datepicker-container>
    </div>
    <div class="col s2">
      <div class="app-btn-wrapper">
        <a mz-button class="light-blue darken-3 z-depth-0">
          {{'search.datepicker.btn_use_this_settings' | translate}}
        </a>
      </div>
    </div>
  </div>
</section>