<a class="document-card-wrapper" *ngIf="item" routerLink="{{item.getUrl()}}">
  <div class="document-card">      
    <div class="document-card-strip">
      <div class="document-card-strip-in document-card-strip-{{item.doctype}}"></div>
    </div>
    <div class="document-card-image">
      <div class="image" [style.background-image]="getThumb()"></div>
    </div>
    <div class="document-card-content">
        <div class="document-card-title">{{item.title}}</div>
        <div class="document-card-authors">{{item.authors}}</div>
        <div class="document-card-date">{{item.date}}</div>
        <div class="document-card-doctype">{{ 'model.' + item.doctype | translate }}</div>
    </div>
  </div>
</a>