<a *ngIf="item" routerLink="{{item.url}}" [queryParams]="item.params" (click)="analytics.sendEvent(in, 'document', item.title);">
  <div class="app-card-content-wrapper">
    <div class="app-card-mark {{item.doctype}}"></div>
    <div class="app-card-media">
      <div class="app-card-thumb" [style.background-image]="thumb">
        <div matTooltipPosition="above" [matTooltip]="lock.tooltip" class="app-lock {{ lock.class }}" *ngIf="lock">
          <mat-icon>{{ lock.icon }}</mat-icon>
        </div>
      </div>
    </div>

    <div class="app-card-content">
      <div *ngIf="item.title" class="app-card-title">
        {{ getTitle() }}
      </div>
      <div *ngIf="item.authors && item.authors.length > 0" class="app-card-authors">
        <mat-icon>person</mat-icon>
        {{item.authors[0]}}
      </div>
      <div *ngIf="item.date" class="app-card-authors">
        <mat-icon>today</mat-icon>
        {{item.date}}
      </div>

      <div *ngIf="item.description" class="app-card-description">
        {{ getDescription() }}
      </div>

      <div *ngIf="item.hits" class="app-card-hits">
        <strong>{{item.hits}}</strong> 
        <span>{{ 'common.n_occurrences' | appPlural : item.hits }}</span>
      </div>
      <img *ngIf="item.library" class="app-card-logo" src="{{ libraryLogo() }}" >
      <div *ngIf="item.doctype" class="app-card-doctype app-doctype-{{item.doctype}}">
        {{ 'model.' + item.doctype | translate }}
      </div>
    </div>

  </div>
  <div *ngIf="selectable" class="app-selectable" [class.app-selected]="item.selected"
    (click)="item.selected = !item.selected; $event.preventDefault();$event.stopPropagation()">
    <div class="app-check"></div>
  </div>
</a>