<a *ngIf="item" routerLink="{{item.url}}" [queryParams]="item.params">
  <mz-card [hoverable]="true">
    <mz-card-content>
      <div class="app-card-mark {{item.doctype}}"></div>
      <div class="app-card-media">
        <div class="app-card-thumb" [style.background-image]="getThumb()">
          <i *ngIf="!item.public" mz-icon-mdi [icon]="'lock'" [class]="'app-lock'" mz-tooltip [tooltip]="'search.inaccessible_document' | translate" [position]="'top'"></i>
        </div>
      </div>
      <div class="app-card-content">
        <div *ngIf="item.title" class="app-card-title">
          {{item.title}}
        </div>
        <div *ngIf="item.authors" class="app-card-authors">
          <i mz-icon-mdi [icon]="'account'" [class]="'app-clean-mg'"></i>
          {{item.authors}}
        </div>
        <div *ngIf="item.date" class="app-card-date">
          <i mz-icon-mdi [icon]="'calendar-check'" [class]="'app-clean-mg'"></i>
          {{item.date}}
        </div>
        <div *ngIf="item.hits" class="app-card-hits">
          <strong>{{item.hits}}</strong> {{ 'search.hits' | translate: { hits: item.hits } }}
        </div>
        <div *ngIf="item.doctype" class="app-card-doctype {{item.doctype}}">
          {{ 'model.' + item.doctype | translate }}
        </div>
      </div>
    </mz-card-content>
  </mz-card>
</a>