@import './src/variables.scss';

.app-authors {
  max-width: 700px;
  width: calc(100vw - 10px);
  padding: 20px;
  overflow: hidden;
  .app-dialog-title {
    margin-bottom: 16px;
  }
  .app-dialog-content {
    overflow: hidden;
    margin: 0px auto;
    .app-row {
      overflow: hidden;
      &.app-header {
        color: #999;
      }
      .app-cell {
        padding: 5px;
        float: left;
        &.app-name {
          width: 40%;
        }
        &.app-date {
          width: 25%;
        }
        &.app-role {
          width: 35%;
        }
      }
      &.even {
        background: #e7e7e7;
      }
    }
  }
  .app-dialog-actions {
    margin-top: 20px;
    float: right;
  }
}
