<div class="app-similarity-dialog app-dialog">
  

<!-- <a *ngFor="let item of items" [href]="item.metadata.url" target="_blank">
  <div class="app-card-content-wrapper">
    <div class="app-title">{{ item.metadata.root_title }}</div>
    <div class="app-date">{{ item.metadata.date }}</div>
    <img class="app-card-thumb" [src]="getIIIFRegionUrl(item.metadata)">
  </div>
</a> -->

<mat-grid-list cols="4" rowHeight="300px" gutterSize="8px">
  <mat-grid-tile *ngFor="let item of items" [style.background]="'#f5f5f5'">
    <a class="app-grid-item" [href]="item.metadata.url" target="_blank">
      <img [src]="getIIIFRegionUrl(item.metadata)"  class="app-image" />
      <div class="app-details">
        <h3>{{ getTitle(item.metadata) }}</h3>
        <p>{{ item.metadata.date  }}</p>
      </div>
    </a>
  </mat-grid-tile>
</mat-grid-list>

</div>