<iframe *ngIf="bookService.pdf" [src]="bookService.pdfPath" width="100%" height="100%" frameborder="0"></iframe>

<span *ngIf="controlsService.leftPanelVisible && bookService.showNavigationPanel"
class="app-handle app-left-handle valign-wrapper hide-on-small-only" 
(click)="controlsService.hideLeftPanel()" 
mz-tooltip 
[tooltip]="'view_controls.tooltip_hide_left' | translate" 
[position]="'right'">
<i class="app-mdi-menu-left" [class.app-mdi-tablet]="controlsService.leftPanelVisible"></i>
</span>

<span *ngIf="!controlsService.leftPanelVisible && bookService.showNavigationPanel"
class="app-handle app-left-handle valign-wrapper hide-on-small-only" 
(click)="controlsService.showLeftPanel()" 
mz-tooltip 
[tooltip]="'view_controls.tooltip_show_left' | translate" 
[position]="'right'">
<i class="app-mdi-menu-right"></i>
</span>

<span *ngIf="controlsService.rightPanelVisible && !controlsService.fullscreenEnabled()"
class="app-handle app-right-handle valign-wrapper hide-on-small-only" 
(click)="controlsService.hideRightPanel()" 
mz-tooltip 
[tooltip]="'view_controls.tooltip_hide_right' | translate" 
[position]="'left'">
<i class="app-mdi-menu-right" [class.app-mdi-tablet]="controlsService.rightPanelVisible"></i>
</span>

<span *ngIf="!controlsService.rightPanelVisible && !controlsService.fullscreenEnabled()"
class="app-handle app-right-handle valign-wrapper hide-on-small-only" 
(click)="controlsService.showRightPanel()" 
mz-tooltip 
[tooltip]="'view_controls.tooltip_show_right' | translate" 
[position]="'left'">
<i class="app-mdi-menu-left"></i>
</span>

<ng-container *ngIf="bookService.isPageInaccessible()">
      <app-licence-messages [full]="true" [licences]="bookService.licences"></app-licence-messages>
</ng-container>

<app-alert *ngIf="bookService.isPageFailure()"
    type="danger"
    label="alert.error"
    message="alert.failed_to_load_image">
</app-alert>

<mz-spinner *ngIf="bookService.isPageLoading()"
    class="medium-centered-spinner"
    [color]="'blue'"
    [size]="'medium'">
</mz-spinner>