@import './src/variables.scss';

.app-folder-container {
    height: 100%;
    .app-folder-toolbar {
        height: 55px;
        line-height: 55px;
        border-bottom: 1px solid #e0e0e0;
        position: relative;
        z-index: 990;
        padding: 0 13px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        .app-folder-toolbar-title {
            font-size: 15px;
        }
        .app-folder-toolbar-actions {
            display: flex;
            flex-direction: row;
            .app-ordering {
              // width: 200px;
              color: $primary-color;
              margin-left: 10px;
              .app-label {
                color: $app-grey-d-1;
                font-size: 12px;
              }
              cursor: pointer;
              mat-icon {
                vertical-align: middle;
              }
            }
            .app-view-button {
              cursor: pointer;
              color: #757575;
              width: 44px;
              text-align: center;
              padding-top: 8px;
              &:hover {
                color: #111;
              }
            }
            .app-folder-search-button {
              color: #757575;
              &:hover {
                color: #111;
              }
            }
            .app-folder-search-bar-wrapper {
              display: flex;
              padding: 0 20px;
              margin-right: 10px;
              width: 100%;
              .app-folder-search-bar {
                position: relative;
                input {
                  margin: 0;
                  border-bottom-color: transparent;
                  padding: 0 0 0 34px;
                  &::placeholder {
                    color: $app-grey;
                  }
                }
                mat-icon {
                  cursor: pointer;
                  top: 16px;
                  left: 5px;
                  position: absolute;
                  color: $app-grey-text;
                }
                &.app-is-query {
                  input {
                    border-bottom: 1px solid $primary-color !important;
                    box-shadow: 0 1px 0 0 $primary-color;
                  }
                }
                
                &.app-is-query, &:focus-within {
                  .app-magnify  {
                    color: $primary-color;
                  }
                }
              }
            }
        }
    }
    // .app-folder-content {
    //     background: #fff;
    //     .app-folder-item {
    //         padding: 0.5rem 1rem;
    //         font-size: 15px;
    //         color: $app-grey-text;
    //         display: block;
    //         &.even {
    //         background: $app-grey-l-4;
    //         }
    //         &:hover {
    //         color: $primary-color;
    //         background-color: $app-grey-l-2;
    //         cursor: pointer;
    //         }
    //     }
    // }
    .app-cards-wrapper {
      height: calc(100% - 55px);
      overflow: auto;
      app-document-card {
        float: left;
        width:16.66666%;
        @media (max-width: 2300px) {
          width:20%;
        }
        @media (max-width: 1900px) {
          width:25%;
        }
        @media (max-width: 1500px) {
          width:33.33333%;
        }
        @media (max-width: 1260px) {
          width:50%;
        }
        @media (max-width: 900px) {
          width:100%;
        }
      }
    }
    
}



