<div class="app-folder-container" *ngIf="folder">
    <div class="app-folder-toolbar">
        <div class="app-folder-toolbar-title">{{folder.name}}</div>
        <div class="app-folder-toolbar-actions">
            <div tabindex="0" *ngIf="folderSelection" (click)="openAdminActions()" class="app-view-button" [class.app-active]="true" [matTooltip]="'Editovat vybrané'"><mat-icon>edit_note</mat-icon></div>
            <div tabindex="0" *ngIf="folderSelection" (click)="toggleAllSelected()" class="app-view-button" [class.app-active]="true" [matTooltip]="'Vybrat vše'"><mat-icon>done_all</mat-icon></div>
            <div tabindex="0" *ngIf="user === 'owner'" (click)="this.toggleFolderSelection()" class="app-view-button" [class.app-active]="folderSelection" style="margin-right: 16px;" [matTooltip]="'Hromadná úprava položek seznamu'"><mat-icon>check</mat-icon></div>
            <div tabindex="0" *ngIf="user === 'owner'" (click)="openAddItemToFolderDialog(folder.uuid)" [matTooltip]="'Přidat na seznam'"><mat-icon>add</mat-icon></div>
            <div tabindex="0" *ngIf="user === 'owner'" (click)="openEditFolderDialog(folder.uuid)" [matTooltip]="'Editovat název seznamu'"><mat-icon>drive_file_rename_outline</mat-icon></div>
            <div tabindex="0" *ngIf="user === 'owner'" (click)="openDeleteFolderDialog(folder.uuid)" [matTooltip]="'Smazat seznam'"><mat-icon>delete</mat-icon></div>
            <div tabindex="0" *ngIf="user === 'owner'" (click)="openShareFolderDialog(folder.uuid)"  [matTooltip]="'Sdílet seznam'"><mat-icon>share</mat-icon></div>
            <div tabindex="0" *ngIf="user === 'follower'" (click)="openUnfollowFolderDialog(folder)" [matTooltip]="'Odebrat ze sdílených seznamů'"><mat-icon>delete</mat-icon></div>
            <div tabindex="0" *ngIf="(authService.user.authenticated && user !== 'follower' && user !== 'owner')" (click)="openFollowFolderDialog(folder)" [matTooltip]="'Přidat do sdílených seznamů'"><mat-icon>add</mat-icon></div>
            <div tabindex="0" *ngIf="!authService.user.authenticated" (click)="openBasicDialog()" [matTooltip]="'Přidat do sdílených seznamů'"><mat-icon>add</mat-icon></div>
            <div class="app-ordering">
                <span class="app-hide-on-med app-label">{{ 'search.ordering.label' | translate }}: </span>
                <span tabindex="0" class="app-dropdown" [matMenuTriggerFor]="orderingMenu">
                  <span>{{ 'search.ordering.' + ordering | translate }}</span>
                  <mat-icon>arrow_drop_down</mat-icon>
                </span>
            </div>
        </div>
    </div>
    <!-- <div class="app-folder-content" *ngIf="folder && folder.items">
        <div class="app-folder-item" 
            *ngFor="let item of folder.items; let odd=odd; let even=even;" 
            [routerLink]="item.url"
            [ngClass]="{ odd: odd, even: even}">
            {{item.title}}, {{item.date}}, {{item.uuid}}
        </div>
    </div> -->
    <div *ngIf="user === 'owner'">
        <app-document-card *ngFor="let item of changeOrdering(folder.items, ordering)" [selectable]="folderSelection" [in]="'folder-owner'" [item]="item" [display]="'grid'" [folder]="folder"></app-document-card>
    </div>
    <div *ngIf="user === 'follower'">
        <app-document-card *ngFor="let item of changeOrdering(folder.items, ordering)" [selectable]="folderSelection" [in]="'folder-follower'" [item]="item" [display]="'grid'" [folder]="folder"></app-document-card>
    </div>
    <div *ngIf="!user">
        <app-document-card *ngFor="let item of changeOrdering(folder.items, ordering)" [selectable]="folderSelection" [in]="'folder-follower'" [item]="item" [display]="'grid'" [folder]="folder"></app-document-card>
    </div>
</div>
<mat-menu #orderingMenu="matMenu" xPosition="after" class="app-ordering-menu app-dropdown-menu">
    <ng-template matMenuContent>
      <div mat-menu-item tabindex="0" class="app-dropdown-item" (click)="changeOrdering(folder.items, 'alphabetical')">
        {{ 'search.ordering.alphabetical' | translate }}
      </div>
      <div mat-menu-item tabindex="0" class="app-dropdown-item" (click)="changeOrdering(folder.items, 'latest')">
        {{ 'search.ordering.latest' | translate }}
      </div>
      <div mat-menu-item tabindex="0" class="app-dropdown-item" (click)="changeOrdering(folder.items, 'earliest')">
        {{ 'search.ordering.earliest' | translate }}
      </div>
    </ng-template>
</mat-menu>

