<ul class="pagination" *ngIf="numberOfPages() > 1">
  <li *ngIf="hasPrevious()" class="waves-effect app-arrow">
    <a (click)="searchService.previousPage()"><i mz-icon-mdi [icon]="'chevron-left'"></i></a>
  </li>
  <li *ngFor="let page of pages()" [class.active]="page === searchService.query.page" class="waves-effect" >
    <a (click)="searchService.setPage(page)">{{page}}</a>
  </li>
  <li *ngIf="hasNext()" class="waves-effect app-arrow">
    <a (click)="searchService.nextPage()"><i mz-icon-mdi [icon]="'chevron-right'"></i></a>
  </li>
</ul>

