<mz-collection>
  <mz-collection-header>
    {{'filters.used_header' | translate}}
    <i mz-icon-mdi [icon]="'close-circle'" [class]="'app-clean-mg app-cursor-pointer'" mz-tooltip [tooltip]="'filters.tooltip_remove_filter_all' | translate" [position]="'top'"></i>
  </mz-collection-header>
  <mz-collection-item *ngFor="let facetUsed of facetsUsed">
    <span class="app-cursor-pointer" mz-tooltip [tooltip]="'filters.tooltip_remove_filter' | translate" [position]="'top'">
      <i mz-icon-mdi [icon]="'check'" [class]="'app-clean-mg light-blue-text text-darken-3'"></i>
      <i mz-icon-mdi [icon]="'close'" [class]="'app-clean-mg'"></i>
      {{facetUsed.title}}
    </span>
  </mz-collection-item>
</mz-collection>