@import './src/variables.scss';

.app-music-player-wrapper {
  background: #fff;
  height: 100%;
  background-color: $app-grey-l-4;
  
  // mq
  @media #{$small-and-down} {
    height: calc( 100% - #{$app-toolbar-height});
  }
    
  .app-music-content-wrapper {
    height: calc(100% - 90px);
    overflow: auto;   
    .app-music-content {
      margin: 0 auto;
      max-width: 1100px;
    }   
  }
}
