<div id="app-viewer" class="app-viewer-wrapper" (mousemove)="onMouseMove()" (click)="onMouseMove()">

<app-viewer-controls *ngIf="!bookService.isPageInaccessible()" [class.hide-on-inactivity]="hideOnInactivity"></app-viewer-controls>

<pdf-viewer 
    *ngIf="bookService.pdf" [src]="bookService.pdf"
    [render-text]="true"
    [rotation]="rotation"
    [stick-to-page]="true"
    [show-all]="true"
    [zoom]="pdf.zoom"
    [(page)]="pdf.pageIndex"
    [zoom-scale]="zoomScale"
    [autoresize]="true"
    [original-size]="false"
    (page-rendered)="pageRendered($event)"
    (error)="onError($event)"
    (after-load-complete)="afterLoadComplete($event)"
    >
</pdf-viewer>


<span *ngIf="controlsService.leftPanelVisible && !controlsService.fullscreenEnabled()"
class="app-handle app-left-handle valign-wrapper hide-on-small-only" 
(click)="controlsService.hideLeftPanel()" 
[matTooltip]="'view_controls.tooltip_hide_left' | translate">
<mat-icon>arrow_left</mat-icon>
</span>

<span *ngIf="!controlsService.leftPanelVisible && !controlsService.fullscreenEnabled()"
class="app-handle app-left-handle valign-wrapper hide-on-small-only" 
(click)="controlsService.showLeftPanel()" 
[matTooltip]="'view_controls.tooltip_show_left' | translate">
<mat-icon>arrow_right</mat-icon>
</span>

<span *ngIf="controlsService.rightPanelVisible && !controlsService.fullscreenEnabled()"
    class="app-handle app-right-handle valign-wrapper hide-on-small-only" 
    (click)="controlsService.hideRightPanel()" 
    [matTooltip]="'view_controls.tooltip_hide_right' | translate">
    <mat-icon>arrow_right</mat-icon>
</span>

<span *ngIf="!controlsService.rightPanelVisible && !controlsService.fullscreenEnabled()"
class="app-handle app-right-handle valign-wrapper hide-on-small-only" 
(click)="controlsService.showRightPanel()" 
[matTooltip]="'view_controls.tooltip_show_right' | translate">
<mat-icon>arrow_left</mat-icon>
</span>

<ng-container *ngIf="bookService.isPageInaccessible()">
      <app-licence-messages [full]="true" [licences]="bookService.licences"></app-licence-messages>
</ng-container>

<app-alert *ngIf="bookService.isPageFailure()"
    type="danger"
    label="alert.error"
    message="alert.failed_to_load_image">
</app-alert>
<mat-spinner *ngIf="bookService.isPageLoading() || (bookService.isPageSuccess() && pdfLoading)" 
    class="medium-centered-spinner" 
    [strokeWidth]="3"
    [diameter]="40">
</mat-spinner>

</div>