// --- LANDING PAGE (DK) ---

  .dk-logo {
    text-align: center;
    color: #555;
    margin: 25px 0 10px;
    img {
      height: 100px;
      @media only screen and (max-width: 500px) {
        height: 90px;
      }
    }
  }

  .dk-message {
    padding-top: 11px;
    margin: 0 auto 30px;
    font-size: 16px;
    max-width: 562px;
    color: #9c9c9c;
    text-align: center;
    border-top: 1px solid #d8d8d8;
  }

  .dk-section-title {
    font-size: 15px;
    padding-left: 10px;
    color: #555;
  }

  .dk-section-subtitle {
    font-size: 13px;
    padding-left: 10px;
    color: #999;
  }
  @media only screen and (min-width: 1350px) {
    .dk-section {
      overflow: hidden;
      .dk-section-title {
        padding-right: 10px;
        float: left;
      }
      .dk-section-subtitle {
        padding-top: 2px;
      }
    }
  }
  .dk-library-card-wrapper {
    padding: 8px 10px 8px;
    .dk-library-card {
      background: #fff;
      padding: 5px 10px;
      display: block;
      box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.16);
      &:hover {
        box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.28);
      }
      .dk-library-card-content {
        overflow: hidden;
        display: block;
        .dk-library-logo {
          height: 60px;
          width: 60px;
          margin-right: 12px;
          background-size: cover;
          float: left;
        }
        .dk-library-title {
          font-size: 16px;
          flex:1;
          height: 60px;
          display: flex;
          align-items: center;
        }
      }
      @media only screen and (max-width: 500px) {
        padding: 3px 6px;
        .dk-library-card-content {
          .dk-library-logo {
            height: 56px;
            width: 56px;
            margin-right: 10px;
          }
          .dk-library-title {
            height: 56px;
            font-size: 15px;
          }
        }
      }
    }
    &.dk-library-card-wrapper-vs {
      width: 33.33%;
      @media only screen and (max-width: 1400px) {
        width: 50%;
      }
      @media only screen and (max-width: 992px) {
        width: 100%;
      }
    }

  }




  .dk-footer {
    background: #444;
    overflow: hidden;
    .dk-footer-col {
      float: left;
      width: 33.33%;
      padding: 30px 0;
    }
    .dk-footer-logo {
      width: 160px;
      max-width: 90%;
    }
    .dk-footer-header {
      color: #8a8a8a;
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 12px;
    }
    .dk-footer-name {
      color: #c7c7c7;
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 6px;
    }
    .dk-footer-address {
      color: #b3b3b3;
      font-size: 15px;
    }
    .dk-footer-web {
      a {
        color: #ffffff;
      }
    }
    .dk-footer-socials {
      .dk-footer-social {
        a {
          float: right;
          margin-left: 12px;
          display: block;
          width: 46px;
          height: 46px;
          padding: 7px;
          border-radius: 50%;
          border: 2px solid #fff;
          opacity: 0.6;
          img {
            width: 30px;
          }
          &:hover {
            opacity: 1;
          }
        }
      }
    }


    @media only screen and (max-width: 850px) {
      .dk-footer-col {
        width: 100%;
      }
      .dk-footer-logo {
        width: 120px;
      }
      .dk-footer-socials .dk-footer-social a {
        float: left;
        margin-left: 0px;
        margin-right: 12px;
      }
    }


  }
