<div class="app-content-wrapper">
<div class="container">

  <div class="row dk-logo">
    <img [src]="'dk.logo' | translate" [alt]="'dk.title' | translate">
  </div>

  <div class="row dk-message">{{ 'dk.message' | translate }}</div>

  <div class="row" *ngIf="settings.krameriusVsList">
    <div class="dk-section">
      <div class="dk-section-title">{{ 'dk.vs_title' | translate }}</div>
      <div class="dk-section-subtitle">{{ 'dk.vs_subtitle' | translate }}</div>
    </div>

    <div class="dk-library-card-wrapper col s12 l6 xl4" *ngFor="let kramerius of settings.krameriusVsList">
      <a class="dk-library-card" [href]="kramerius.url" (click)="analytics.sendEvent('landing', 'kramerius', kramerius.code);">
        <div class="dk-library-card-content">
          <div class="dk-library-logo" [style.background-image]="getThumb(kramerius.logo)"></div>
          <div class="dk-library-title">{{ kramerius.title }}<br/>{{ kramerius.subtitle }}</div>
        </div>
      </a>
    </div>

  </div>

  <div class="row" *ngFor="let category of categories">
    <div class="dk-section-title">{{ 'dk.category.' + category | translate }}</div>
    <div class="dk-library-card-wrapper col s12 l6 xl4" *ngFor="let kramerius of libraries[category]">
      <a class="dk-library-card" [routerLink]="['/' + kramerius.code]" (click)="analytics.sendEvent('landing', 'kramerius', kramerius.title);">
        <div class="dk-library-card-content">
            <div class="dk-library-logo" [style.background-image]="getThumb(kramerius.logo)"></div>
            <div class="dk-library-title">{{ kramerius.title }}</div>
          </div>
      </a>
    </div>
  </div>

</div>


<div class="dk-footer">
  <div class="container">
    <div class="dk-footer-col">
      <img class="dk-footer-logo" [src]="'dk.footer.logo' | translate">
    </div>
    <div class="dk-footer-col">
      <div class="dk-footer-header">{{ 'dk.footer.contact' | translate }}</div>
      <div class="dk-footer-name">{{ 'dk.footer.contact_name' | translate }}</div>
      <div class="dk-footer-address">{{ 'dk.footer.contact_address1' | translate }}</div>
      <div class="dk-footer-address">{{ 'dk.footer.contact_address2' | translate }}</div>
      <div class="dk-footer-address">{{ 'dk.footer.contact_address3' | translate }}</div>
      <div class="dk-footer-web"><a href="https://www.mzk.cz" target="_blank" (click)="analytics.sendEvent('landing', 'footer', 'mzk');">www.mzk.cz</a></div>
    </div>
    <div class="dk-footer-col dk-footer-socials">
      <div class="dk-footer-social">
        <a href="https://www.facebook.com/DigitalniKnihovnaCZ" target="_blank" (click)="analytics.sendEvent('landing', 'footer', 'facebook');">
          <img src="/assets/shared/footer_facebook.png">
        </a>
      </div>
      <div class="dk-footer-social">
        <a href="https://www.instagram.com/digitalniknihovna.cz/" target="_blank" (click)="analytics.sendEvent('landing', 'footer', 'instagram');">
          <img src="/assets/shared/footer_instagram.png">
        </a>
      </div>
      <div class="dk-footer-social">
        <a href="https://twitter.com/KnihovnaMzk" target="_blank" (click)="analytics.sendEvent('landing', 'footer', 'twitter');">
          <img src="/assets/shared/footer_twitter.png">
        </a>
      </div>
      <div class="dk-footer-social">
        <a href="https://cz.pinterest.com/digitalni_knihovna_cz/" target="_blank" (click)="analytics.sendEvent('landing', 'footer', 'pinterest');">
          <img src="/assets/shared/footer_pinterest.png">
        </a>
      </div>
    </div>

  </div>
</div>

</div>
