.app-periodical-calendar-layout-wrapper {
  height: 100%;
  overflow: auto;
  padding: 0.5rem;
  .app-datepicker-container {
    float: left;
    width: 100%;
    padding: 0.5rem;
    
    @media (min-width: 1220px) {
      width: 50%;
    }
    @media (min-width: 1550px) {
      width: 33.333%;
    }
    @media (min-width: 1800px) {
      width: 25%;
    }
    @media (min-width: 2450px) {
      width: 16.666%;
    }
  }
} 
