<div class="app-forgot-password-wrapper">
  <div class="app-forgot-password">

  <div class="app-title">Zapomenuté heslo</div>

    <div class="app-description">
      Zadejte e-mailovou adresu, na kterou vám zašleme odkaz pro obnovení hesla k účtu.
    </div>

    <mz-input-container>
        <input mz-input
          [label]="'E-mail'"
          [(ngModel)]="email"
          [validate]="false"
          name="email"
          required=true
          [disabled]="state == 'loading' || state == 'success'"
          placeholder="Zadejte e-mailovou adresu"
          type="email">
      </mz-input-container>

        <div *ngIf="state === 'failure'" class="app-error">{{ message }}</div>

        <button mz-button (click)="login()" [disabled]="state == 'loading' || state == 'success'">
            Obnovit heslo
        </button>

        <div *ngIf="state === 'success'" class="app-message">
            Na vaší e-mailovou adresu byla odeslána zpráva s insturkcemi pro obnovu hesla k účtu.
        </div>

        <mz-spinner *ngIf="state == 'loading'"
          [color]="'blue'"
          [size]="'small'">
        </mz-spinner>

    </div>
</div>