<a [routerLink]="['']" class="brand-logo" title="{{'navbar.home' | translate}}">
  <span class="app-brand-img">
    <!-- This element should be visible only if the logo is setup in conf file -->
    <img src="{{ logo }}" class="img-responsive app-pipe" alt="{{'navbar.home' | translate}}" />

    <!-- // Default logo -> visible only if the logo is NOT setup in conf file
    -->
  </span>
  <!-- This element should be visible only if the logo is setup in conf file -->
  <span class="app-brand-text hide-on-small-only">{{ title }}</span>
</a>