.app-licence-message {
  .app-licence-title {
    color: #000;
    line-height: 120%;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .app-licence-content  {
    color: #444;
    ::ng-deep {
      h1,h2,h3,h4,h5 {
        color: #000;
        margin: 0;
        padding: 0;
        line-height: 120%;
        font-weight: 400;
        text-align: left;
        font-weight: 500;
        font-size: 18px;
      }
      b, strong {
        font-weight: 600;
      }
      ul {
        padding-left: 0;
        list-style-type: none;
        margin-top: 5px;
      }
    }
  }
}