.app-favourites-wrapper {
  overflow: auto;
  display: block;
  height: 100%;
  padding: 8px;
  background-color: #f5f5f5;
  .app-favourites {
    app-document-card {
      float: left;
      width:16.66666%;
      @media (max-width: 1900px) {
        width:20%;
      }
      @media (max-width: 1500px) {
        width:25%;
      }
      @media (max-width: 1100px) {
        width:33.33333%;
      }
      @media (max-width: 800px) {
        width:50%;
      }
      @media (max-width: 500px) {
        width:100%;
      }
    }
  }

}