<div class="app-view-controls">
  <i class="app-mdi-page-left" (click)="bookService.goToPrevious()" [class.app-inactive]="!bookService.hasPrevious()"
    mz-tooltip [tooltip]="'view_controls.tooltip_page_left' | translate" [position]="'top'"></i>
  <i class="app-mdi-zoom-in hide-on-small-only" (click)="controlsService.zoomIn()"
    mz-tooltip [tooltip]="'view_controls.tooltip_zoom_in' | translate" [position]="'top'"></i>
  <i class="app-mdi-zoom-out hide-on-small-only" (click)="controlsService.zoomOut()"
    mz-tooltip [tooltip]="'view_controls.tooltip_zoom_out' | translate" [position]="'top'"></i>
  <i class="app-mdi-fit-to-screen hide-on-small-only" (click)="controlsService.fitToScreen()"
    mz-tooltip [tooltip]="'view_controls.tooltip_fit_to_screen' | translate" [position]="'top'"></i>
  <i class="app-mdi-fullscreen" *ngIf="controlsService.fullscreenAvailable && !controlsService.fullscreenEnabled()" (click)="controlsService.enterFullscreen()"
    mz-tooltip [tooltip]="'view_controls.tooltip_enter_fullscreen' | translate" [position]="'top'"></i>
  <i class="app-mdi-fullscreen-exit" *ngIf="controlsService.fullscreenAvailable && controlsService.fullscreenEnabled()" (click)="controlsService.exitFullscreen()"
    mz-tooltip [tooltip]="'view_controls.tooltip_exit_fullscreen' | translate" [position]="'top'"></i>
  <i class="app-mdi-rotate-right hide-on-small-only" (click)="controlsService.rotateRight()"
    mz-tooltip [tooltip]="'view_controls.tooltip_rotate_right' | translate" [position]="'top'"></i>
  <i class="app-mdi-double-page hide-on-small-only" *ngIf="bookService.doublePageSupported() && bookService.doublePageEnabled" (click)="bookService.toggleDoublePage()" style="padding-top:5px;"
    mz-tooltip [tooltip]="'view_controls.tooltip_doublepage_off' | translate" [position]="'top'"></i>
  <i class="app-mdi-double-page hide-on-small-only" *ngIf="bookService.doublePageSupported() && !bookService.doublePageEnabled" (click)="bookService.toggleDoublePage()" style="padding-top:5px;"
    mz-tooltip [tooltip]="'view_controls.tooltip_doublepage_on' | translate" [position]="'top'"></i>
  <i disabled class="app-mdi-page-right" (click)="bookService.goToNext()" [class.app-inactive]="!bookService.hasNext()"
    mz-tooltip [tooltip]="'view_controls.tooltip_page_right' | translate" [position]="'top'"></i>
</div>