@import './src/variables.scss';

.app-search-help {
  max-width: 750px;
  width: calc(100vw - 10px);
  padding: 20px;
  overflow: hidden;
  .app-dialog-title {
    margin-bottom: 16px;
  }
  .app-dialog-content {
    overflow: hidden;
    margin: 0px auto;
   
    

    .app-case {
      padding-bottom: 10px;
      strong {
        width: 30px;
        display: block;
        float: left;
        text-align: right;
        margin-right: 15px;
      }
      .app-desc {
        margin-right: 5px;
      }
      .app-example {
        background: #eee;
        padding: 4px;
        border-radius: 5px;
      }
    }


  }
  .app-dialog-actions {
    margin-top: 0px;
    float: right;
  }
}
