<app-browse-count></app-browse-count>

<app-browse-search></app-browse-search>

<div class="app-filters-wrapper">
  <mz-collapsible [mode]="'expandable'">
      <mz-collapsible-item [active]="collapsedFilter">
        <mz-collapsible-item-header>
          {{ 'search.accessibility.label' | translate }}   
          <i mz-icon-mdi [icon]="'chevron-down'" [class]="'app-clean-mg'"></i>
          <i mz-icon-mdi [icon]="'chevron-left'" [class]="'app-clean-mg'"></i>
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
        <mz-collection>
          <ng-container>
            <mz-collection-item>
              <span class="app-row" [class.selected]="browseService.query.accessibility == 'public'">
                <a (click)="browseService.setAccessibility('public')">{{'search.accessibility.public' | translate }}</a>
              </span>
            </mz-collection-item>
            <mz-collection-item>
              <span class="app-row" [class.selected]="browseService.query.accessibility == 'private'">
                <a (click)="browseService.setAccessibility('private')">{{'search.accessibility.private' | translate }}</a>
              </span>
            </mz-collection-item>
            <mz-collection-item>
                <span class="app-row" [class.selected]="browseService.query.accessibility == 'all'">
                  <a (click)="browseService.setAccessibility('all')">{{'search.accessibility.all' | translate }}</a>
                </span>
              </mz-collection-item>
          </ng-container>
        </mz-collection>
        </mz-collapsible-item-body>
      </mz-collapsible-item>
    </mz-collapsible> 


  <mz-collapsible [mode]="'expandable'">
    <mz-collapsible-item [active]="collapsedFilter">
      <mz-collapsible-item-header>
        {{ 'browse.category.label' | translate }}   
        <i mz-icon-mdi [icon]="'chevron-down'" [class]="'app-clean-mg'"></i>
        <i mz-icon-mdi [icon]="'chevron-left'" [class]="'app-clean-mg'"></i>
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
      <mz-collection>
        <ng-container>
          <mz-collection-item>
              <span class="app-row" [class.selected]="browseService.query.category == 'doctypes'">
                <a (click)="browseService.setCategory('doctypes')">{{'browse.category.doctype' | translate }}</a>
              </span>
          </mz-collection-item>
          <mz-collection-item>
            <span class="app-row" [class.selected]="browseService.query.category == 'authors'">
              <a (click)="browseService.setCategory('authors')">{{'browse.category.author' | translate }}</a>
            </span>
          </mz-collection-item>
          <mz-collection-item>
            <span class="app-row" [class.selected]="browseService.query.category == 'keywords'">
              <a (click)="browseService.setCategory('keywords')">{{'browse.category.keyword' | translate }}</a>
            </span>
          </mz-collection-item>
          <mz-collection-item>
              <span class="app-row" [class.selected]="browseService.query.category == 'collections'">
                <a (click)="browseService.setCategory('collections')">{{'browse.category.collection' | translate }}</a>
              </span>
          </mz-collection-item>
          <mz-collection-item>
              <span class="app-row" [class.selected]="browseService.query.category == 'languages'">
                <a (click)="browseService.setCategory('languages')">{{'browse.category.language' | translate }}</a>
              </span>
          </mz-collection-item>
        </ng-container>
      </mz-collection>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible> 

</div>