@import './src/variables.scss';

.app-snippet {
  padding: 5px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-left: -6px;
  margin-right: -6px;
  &:hover {
    border-left-color: #00000033;
    background: #fff;
    box-shadow: 0 0px 2px 0 #00000033;
  }
  border-left: 4px solid transparent;
  &.active {
    border-left-color: $primary-color;
    background: #0276bd1c;
    box-shadow: 0 0px 2px 0 #00000033;
  }
  .app-snippet-content {
    display: table;
    width: 100%;
    .app-snippet-thumb-wrapper {
      display: table-cell;
      height: 90px;
      width: 75px;
      .app-snippet-thumb {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        position: relative;
        .app-lock {
          background: #fff;
          height: 26px;
          width: 26px;
          display: block;
          border-radius: 50%;
          text-align: center;
          position: absolute;
          color: #616161;
          opacity: .8;
          margin: auto;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          mat-icon {
            font-size: 18px;
            padding: 3px;
          }
          &.app-lock-licence-open, &.app-lock-licence-locked {
            color: $app-licence-color;
          }
        }
      }
    }
    .app-snippet-right {
      display: table-cell;
      vertical-align: top;
      padding-left: 8px;
      color: #757575;
      position: relative;
      .app-snippet-title {
        overflow: hidden;
        -webkit-line-clamp: 1;
        display: block;
        display: -webkit-box;
        text-overflow: ellipsis;
        line-height: 20px;
        font-size: 14px;
      }
      .app-snippet-ocr {
        overflow: hidden;
        font-size: 12px;
        color: $app-grey;
        line-height: 16px;
        margin-top: 4px;
        // height: 64px;
        word-break: break-word;
        ::ng-deep {
          strong {
            color: $primary-color;
            font-weight: 500;
          }
        }
      }
    }
  }
}
