<mz-modal #modal [fixedFooter]="false" class="app-dialog-share">
  <mz-modal-header>
    {{ 'share-dialog.title' | translate }}
  </mz-modal-header>
  <mz-modal-content>
    <mz-input-container>
        <i mz-icon-mdi
        class="copy-to-clipboard"
        mz-tooltip [tooltip]="'common.copy_to_clipboard' | translate" [position]="'bottom'"
        (cbOnSuccess)="onCopied($event)" [ngxClipboard]="inputTarget"
          [icon]="'clipboard-text'"
          [size]="'24px'">
        </i>
      <input #inputTarget readonly mz-input label="{{ 'share-dialog.link' | translate }}" [(ngModel)]="link" type="text">
    </mz-input-container>

    <div class="social">
      <div class="label">{{ 'share-dialog.social' | translate }}</div>
      <i class="app-mdi-share-facebook" (click)="share('facebook')"></i>
      <i class="app-mdi-share-twitter" (click)="share('twitter')"></i>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>{{ 'common.close' | translate }}</button>
  </mz-modal-footer>
</mz-modal>
