<div id="app-viewer" class="app-viewer-wrapper" (mousemove)="onMouseMove()" (click)="onMouseMove()">
  <app-viewer-controls [class.hide-on-inactivity]="hideOnInactivity"></app-viewer-controls>

  <span *ngIf="controlsService.leftPanelVisible && !controlsService.fullscreenEnabled()"
        class="app-handle app-left-handle valign-wrapper hide-on-small-only"
        (click)="controlsService.hideLeftPanel()"
        mz-tooltip
        [tooltip]="'view_controls.tooltip_hide_left' | translate"
        [position]="'right'">
        <i class="app-mdi-menu-left" [class.app-mdi-tablet]="controlsService.leftPanelVisible"></i>
  </span>

  <span *ngIf="!controlsService.leftPanelVisible && !controlsService.fullscreenEnabled()"
        class="app-handle app-left-handle valign-wrapper hide-on-small-only"
        (click)="controlsService.showLeftPanel()"
        mz-tooltip
        [tooltip]="'view_controls.tooltip_show_left' | translate"
        [position]="'right'">
        <i class="app-mdi-menu-right"></i>
  </span>

  <span *ngIf="controlsService.rightPanelVisible && !controlsService.fullscreenEnabled()"
        class="app-handle app-right-handle valign-wrapper hide-on-small-only"
        (click)="controlsService.hideRightPanel()"
        mz-tooltip
        [tooltip]="'view_controls.tooltip_hide_right' | translate"
        [position]="'left'">
        <i class="app-mdi-menu-right" [class.app-mdi-tablet]="controlsService.rightPanelVisible"></i>
  </span>

  <span *ngIf="!controlsService.rightPanelVisible && !controlsService.fullscreenEnabled()"
        class="app-handle app-right-handle valign-wrapper hide-on-small-only"
        (click)="controlsService.showRightPanel()"
        mz-tooltip
        [tooltip]="'view_controls.tooltip_show_right' | translate"
        [position]="'left'">
        <i class="app-mdi-menu-left"></i>
  </span>

  <ng-container *ngIf="bookService.isPageInaccessible()">
    <ng-container *ngIf="!bookService.dnntFlag && settings.crisisUrl">
          <app-alert *ngIf="this.dnntLink!=''"
                type="warning"
                label="alert.warning"
                message="alert.inaccessible_document_crisis"
                [html]="'<br><div class=\'dnntLink\'>'+ ('dialogs.dnntnoLink' | translate) +' <a href=\''+this.dnntLink+'\'>'+ ('dialogs.dnntLink' | translate) +'</a></div><br>'+ ('alert.inaccessible_document_crisis_description' | translate)">
          </app-alert>
      </ng-container>
      <ng-container *ngIf="!bookService.dnntFlag && !settings.crisisUrl">
            <app-alert *ngIf="this.dnntLink!=''"
                  type="warning"
                  label="alert.warning"
                  message="alert.inaccessible_document_dnnt"
                  [html]="'<br><div class=\'dnntLink\'>'+ ('dialogs.dnntnoLink' | translate) +' <a href=\''+this.dnntLink+'\'>'+ ('dialogs.dnntLink' | translate) +'</a></div><br>'+ ('alert.inaccessible_document_dnnt_description' | translate)">
            </app-alert>
            <app-alert *ngIf="!settings.customRightMessage && this.dnntLink==''"
                  type="warning"
                  label="alert.warning"
                  message="alert.inaccessible_document"
                  description="alert.inaccessible_document_description">
            </app-alert>
            <app-alert *ngIf="settings.customRightMessage && this.dnntLink==''"
                  type="warning"
                  label="alert.warning"
                  message="alert.inaccessible_document"
                  [html]="(krameriusInfo.data$ | async).rightMsg">
            </app-alert>
      </ng-container>

      <app-alert *ngIf="bookService.dnntFlag && bookService.providedByLabel && settings.crisisUrl"
            type="warning"
            label="alert.warning"
            message="alert.inaccessible_document_dnnt"
            [html]="'<br><div class=\'dnntLink\'>'+ ('dialogs.dnntnoLink' | translate) +' <a href=\''+this.dnntLink+'\'>'+ ('dialogs.dnntLink' | translate) +'</a></div><br>'+ ('licence.'+bookService.providedByLabel+'.inaccessible_document_description' | translate)">
      </app-alert>
      <app-alert *ngIf="bookService.dnntFlag && bookService.providedByLabel && !settings.crisisUrl"
            type="warning"
            label="alert.warning"
            message="alert.inaccessible_document_dnnt"
            [html]="('licence.'+bookService.providedByLabel+'.inaccessible_document_description' | translate)">
      </app-alert>

      <app-alert *ngIf="bookService.dnntFlag && !bookService.providedByLabel && settings.crisisUrl"
            type="warning"
            label="alert.warning"
            message="alert.inaccessible_document_dnnt"
            [html]="'<br><div class=\'dnntLink\'>'+ ('dialogs.dnntnoLink' | translate) +' <a href=\''+this.dnntLink+'\'>'+ ('dialogs.dnntLink' | translate) +'</a></div><br>'+ ('alert.inaccessible_document_crisis_description' | translate)">
      </app-alert>
      <app-alert *ngIf="bookService.dnntFlag && !bookService.providedByLabel && !settings.crisisUrl"
            type="warning"
            label="alert.warning"
            message="{{('licence.'+bookService.dnntFlag+'.inaccessible_document' | translate)}}"
            [html]="('licence.'+bookService.dnntFlag+'.inaccessible_document_description' | translate)">
      </app-alert>

  </ng-container>


  <app-alert *ngIf="bookService.isPageFailure()"
              type="danger"
              label="alert.error"
              message="alert.failed_to_load_image">
  </app-alert>


  <app-alert *ngIf="bookService.noFulltextResults()"
             type="warning"
             label="alert.warning"
             message="alert.book_no_results">
  </app-alert>

  <mz-spinner *ngIf="bookService.isPageLoading() || imageLoading"
              class="medium-centered-spinner"
              [color]="'blue'"
              [size]="'medium'">
  </mz-spinner>


  <div *ngIf="bookService.dnntMode && bookService.providedByLabel" class="app-dnnt">
      <span class="app-info">{{ ('licence.'+bookService.providedByLabel+'.policy' | translate).toUpperCase() }}</span>
      <span class="app-user">{{ authService.getUserId() }} | {{ today() }}</span>
  </div>

  <div *ngIf="bookService.dnntMode && !bookService.providedByLabel && bookService.dnntFlag" class="app-dnnt">
      <span class="app-info">{{ ('licence.'+bookService.dnntFlag+'.policy' | translate).toUpperCase() }}</span>
      <span class="app-user">{{ authService.getUserId() }} | {{ today() }}</span>
  </div>

  <div *ngIf="bookService.dnntMode && !bookService.providedByLabel && !bookService.dnntFlag" class="app-dnnt">
      <span class="app-info">{{ ('metadata.policy_dnnt' | translate).toUpperCase() }}</span>
      <span class="app-user">{{ authService.getUserId() }} | {{ today() }}</span>
  </div>

</div>
