
  @import './src/variables.scss';


  .app-main-view {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $app-grey-l-4; 
    position: relative;


    .app-handle {
      position: absolute;
      top: 10px;
      height: 40px;
      z-index: 990;
      background: rgba(255, 255, 255, 0.9);
      color: $app-grey;
      padding-top: 8px;
      cursor: pointer;
      &.app-left-handle {
        left: 0;
        border: 1px solid #{$app-grey-l-2};
        border-left: none;
        border-top-right-radius: $app-border-radius-sidebar;
        border-bottom-right-radius: $app-border-radius-sidebar;
      }
      
      &.app-right-handle {
        right: 0;
        border: 1px solid #{$app-grey-l-2};
        border-right: none;
        border-top-left-radius: $app-border-radius-sidebar;
        border-bottom-left-radius: $app-border-radius-sidebar;
      }
  
      &:hover {
        color: #000;
        background: $app-grey-l-2;
      }
    }


    .app-rotate-icon {
      animation: app-spin 2s linear infinite;
    }

    .app-main-service-loader {
      position: absolute;
      top:50px;
      right: 50px;
      width: 40px;
      height: 40px;
      margin: 10px;
      // background: #409640;
      background: #45b471;
      color: #fff;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      font-size: 22px;
      // opacity: 0.9;
      z-index: 19999;
      // box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
      display: inline-block;
    }

    @keyframes app-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    .app-sound-controls {
      opacity: 1;
      position: absolute;
      left: 50%;
      height: 36px;
      top: 14px;
      z-index: 990;
      margin-right: -50%;
      transform: translate(-50%, 0%);
      background: #f9f8f6;
      border-radius: 10px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
      padding: 3px 10px;
      background: rgba(255, 255, 255, 0.9);
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
      transition: opacity 0.4s ease 0s;
      .mat-icon {
        cursor: pointer;
        width: 30px;
        height: 30px;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        margin: 0 5px;
        // overflow: hidden;
        color: #434343;
        opacity: 0.75;
        &:hover {
          opacity: 1;
          // font-size: 25px;
        }
      }
      &.hide-on-inactivity {
        opacity: 0;
      }
    }
    

    .app-selection-actions {
      opacity: 0.7;
      transition-property: opacity;
      transition-duration: 0.2s;
      transition-timing-function: linear;
      position: absolute;
      top: 50px;
      right: 50px;
      z-index: 990;
      // background-color: red;
      // padding: 10px;
      // background-color: red;;
      .app-selection {
        display: none;
        // display: block;
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin: 10px;
        background: #fff;
        color: #000;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        font-size: 22px;
        opacity: 0.9;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
        &.app-type-ai {
          // background-color: #409640;
          background-color: #45b471;
          color: #fff;
        }
        &.app-type-cancel {
          background-color: #b44571;
          color: #fff;
        }
        &.app-inactive {
          // opacity: 0.7;
          color: #888;
          background: #ccc;
          cursor: default !important;
          pointer-events: none; 
        }
      }
      .app-reading-wrapper {
        position: relative;
        .app-reading-setting {
          position: absolute; 
          display: none;
          top: 0px; 
          left: 58px; 
          margin: 0;
          mat-icon {
            margin: 0;
            background: #555;
            color: #fff;
          }
        }
        &:hover {
          .app-reading-setting {
            display: block;
          }
        }
      }
      .app-main-selection {
        display: block;
      }
      &.hide-on-inactivity {
        opacity: 0;
      }
      &:hover {
        .app-selection {
          display: block;
        }
        .app-hide-on-hover {
          display: none;
        }
        opacity: 1;
      }
    }

    .app-licence-bar {
      position: absolute;
      top: 0;
      height: 32px;
      background: #435cadd6;
      width: 100%;
      z-index: 12;
      display: flex;
      justify-content: space-between;
      .app-info {
        line-height: 32px;
        padding-left: 32px;
        font-size: 15px;
        color: #fff;
        flex-shrink: 0;
        a {
          padding-left: 8px;
          color: #eee;
          &:hover {
            color: #fff;
          }
        }
      }
      .app-user {
        line-height: 32px;
        padding-right: 32px;
        padding-left: 20px;
        font-size: 15px;  
        color: #fff;
        // flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis; 
        white-space: nowrap;
      }
    }
    .app-alert-not-found {
      text-align: center;
      margin-top: 60px;
      height: 100%;
      .app-message {
        color: #af451c;
        line-height: 120%;
        font-weight: 600;
        font-size: 18px;
        padding: 0 20px;
      }
      button {
        display: block;
        margin: 30px auto 20px;
      }
    }

    .app-licence-window-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      app-licence-window {
        display: block;
        max-width: 800px;
        margin: 0 auto;
        padding: 40px 12px 10px;
        overflow: auto;
        height: 100%;
      }
    }
    .hide-on-inactivity {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.5s;
      transition-timing-function: linear;
    }
    





  .app-viewer-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    &.app-viewer-split {
      width: 50%;
      height: 100%;
      float: left;
    }
    &.app-viewer-text {
      display: none;
    }

    .app-help-message {
      position: absolute;
      left: 50%;
      z-index: 949;
      bottom: 12px;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
      margin-right: -50%;
      -webkit-transform: translate(-50%, 0%);    
      transform: translate(-50%, 0%);
      user-select: none;
      background: $primary-color;
      color: white;
      padding: 5px 5px;
      border-radius: 22px;
      display: inline-block;
      span {
        font-size: 14px;
        font-weight: 600;
        margin-right: 10px;
        margin-left: 10px;
      }
      mat-icon {
        float: right;
        cursor: pointer;
        opacity: 0.85;
        &:hover {
          opacity: 1;
        }
      }
    }


    #selectionmenu {
      z-index: 1000; 
      display: block;
      position: absolute; 
      mat-icon {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 30px;
        color: #111;
        background: #eee;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        font-size: 18px;
        opacity: 0.9;
        margin-bottom: 4px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
        &:hover:not(.app-inactive) {
          // background: #fff;
          // color: #000;
          font-size: 20px;
          opacity: 1;
        } 
        &.app-type-ai {
          // background-color: #409640;
          background-color: #45b471;
          color: #fff;
        }
        &.app-type-cancel {
          background: #777;
          background: #c53c3c;
          color: #fff;
          // background-color: #c34a28;
        }
        &.app-inactive {
          opacity: 0.4;
          cursor: default !important;
          pointer-events: none; 
        }
      }
    }

    
  }


  .app-text-viewer-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    // padding: 16px;
    position: relative;
    &.app-viewer-split {
      width: 50%;
      height: 100%;
      float: left;
    }
    &.app-viewer-scan {
      display: none;
    }


    .app-text-view-header {
      position: absolute;
      top: 14px;
      left: 0;
      right: 45px;
      .app-dropdown {
        display: flex;
        align-items: center;
        padding: 2px 5px;
        border-radius: 5px;
        width: 56px;
        margin: 0 auto;
        cursor: pointer;
        border-radius: 5px;
        float: right;
        span {
          font-size: 14px;
          margin-left: 5px;
        }
        img {
          width: 28px;
          height: 28px;
        }
        mat-icon {
          font-size: 18px;
          padding: 3px;
        }
        &:hover {
          background: #dbdbdb;
        }
        &.app-model {
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }


    .app-text-mode {
      max-width: 600px;
      margin: 50px auto 0px;
      overflow: auto;
      height: calc(100% - 50px);
      padding: 0 16px;

        &.app-font-size-0 { 
          &::ng-deep {
            h1 { font-size: 20px;}
            h2 { font-size: 12px;}
            h3 { font-size: 12px;}
            p { font-size: 10px !important;}
          }
        }
        &.app-font-size-1 { 
          &::ng-deep {
            h1 { font-size: 22px;}
            h2 { font-size: 14px;}
            h3 { font-size: 13px;}
            p { font-size: 11px;}
          }
        }
        &.app-font-size-2 { 
          &::ng-deep {
            h1 { font-size: 24px;}
            h2 { font-size: 16px;}
            h3 { font-size: 14px;}
            p { font-size: 12px;}
          }
        }
        &.app-font-size-3 { 
          &::ng-deep {
            h1 { font-size: 26px;}
            h2 { font-size: 18px;}
            h3 { font-size: 15px;}
            p { font-size: 13px;}
          }
        }
        &.app-font-size-4 { 
          &::ng-deep {
            h1 { font-size: 28px;}
            h2 { font-size: 20px;}
            h3 { font-size: 16px;}
            p { font-size: 14px;}
          }
        }
        &.app-font-size-5 { 
          &::ng-deep {
            h1 { font-size: 30px;}
            h2 { font-size: 22px;}
            h3 { font-size: 17px;}
            p { font-size: 15px;}
          }
        }
        &.app-font-size-6 { 
          &::ng-deep {
            h1 { font-size: 32px;}
            h2 { font-size: 24px;}
            h3 { font-size: 18px;}
            p { font-size: 16px;}
          }
        }
        &.app-font-size-7 { 
          &::ng-deep {
            h1 { font-size: 34px;}
            h2 { font-size: 26px;}
            h3 { font-size: 19px;}
            p { font-size: 17px;}
          }
        }
        &.app-font-size-8 { 
          &::ng-deep {
            h1 { font-size: 36px;}
            h2 { font-size: 28px;}
            h3 { font-size: 20px;}
            p { font-size: 18px;}
          }
        }
        &.app-font-size-9 { 
          &::ng-deep {
            h1 { font-size: 38px;}
            h2 { font-size: 30px;}
            h3 { font-size: 21px;}
            p { font-size: 19px;}
          }
        }
        &.app-font-size-10 { 
          &::ng-deep {
            h1 { font-size: 40px;}
            h2 { font-size: 32px;}
            h3 { font-size: 22px;}
            p { font-size: 20px;}
          }
        }
        &.app-font-size-11 { 
          &::ng-deep {
            h1 { font-size: 42px;}
            h2 { font-size: 34px;}
            h3 { font-size: 23px;}
            p { font-size: 21px;}
          }
        }
        &.app-font-size-12 { 
          &::ng-deep {
            h1 { font-size: 44px;}
            h2 { font-size: 35px;}
            h3 { font-size: 24px;}
            p { font-size: 22px;}
          }
        }
        &.app-font-size-13 { 
          &::ng-deep {
            h1 { font-size: 46px;}
            h2 { font-size: 37px;}
            h3 { font-size: 26px;}
            p { font-size: 23px;}
          }
        }
        &.app-font-size-14 { 
          &::ng-deep {
            h1 { font-size: 48px;}
            h2 { font-size: 38px;}
            h3 { font-size: 27px;}
            p { font-size: 24px;}
          }
        }
        &.app-font-size-15 { 
          &::ng-deep {
            h1 { font-size: 50px;}
            h2 { font-size: 40px;}
            h3 { font-size: 29px;}
            p { font-size: 25px;}
          }
        }

        &::ng-deep {

        max-width: 600px;
        margin: 40px auto 10px;
        h1 {
          text-align: center;
          margin-bottom: 20px;
          // margin-top: 40px;
        }
        h2 {
          text-align: center;
          margin-bottom: 20px;
        }
        h3 {
          text-align: center;
        }
        p {
          margin: 10px 0;
          text-align: justify;
        }
        img {
          display: block;
          margin: 0 auto;
          max-width: 320px;
          height: auto;
          @media (max-width: 340px) {
            max-width: calc(100% - 20px);
          }
        }
      }
    }
  }
}


::ng-deep {
  .app-dropdown-cancel-lang {
    .app-language {
      mat-icon {
        float: right;
        margin-top: 17px;
        margin-left: 15px;
        color: #e71d1d;
        margin-right: 10px;
      }
      .app-language-name {
        color: #e71d1d;
      }
    }
  }
}