<div *ngIf="state != 'loading'" class="app-accessibility">

 
  <div class="app-label">Viditelnost</div>
  
  <mz-radio-button-container>
    <input mz-radio-button
      [label]="'Veřejné'"
      [withGap]="true"
      value="PUBLIC"
      id="rb-accessibility-public"
      name="rb-accessibility"
      [(ngModel)]="accessibility"
      type="radio">

      <input mz-radio-button
      [label]="'Neveřejné'"
      [withGap]="true"
      value="PRIVATE"
      id="rb-accessibility-private"
      name="rb-accessibility"
      [(ngModel)]="accessibility"
      type="radio">
  </mz-radio-button-container>



  <div class="app-label" style="margin-top: 10px;">Aplikovat na</div>
  
  <mz-radio-button-container>
    <input mz-radio-button
      [label]="'Objekt'"
      [withGap]="true"
      value="OBJECT"
      id="rb-scope-object"
      name="rb-scope"
      [(ngModel)]="scope"
      type="radio">

      <input mz-radio-button
      [label]="'Objekt a potomky'"
      [withGap]="true"
      value="TREE"
      id="rb-scope-tree"
      name="rb-scope"
      [(ngModel)]="scope"
      type="radio">
  </mz-radio-button-container>



  <button mz-button style="margin-top: 10px" (click)="apply()">Změnit viditelnost</button>


  <div class="app-progress" *ngIf="state == 'progress'">
    <mz-spinner 
      [color]="'blue'"
      [size]="'small'">
    </mz-spinner>
  </div>

</div>