@import './src/variables.scss';

.app-pdf {
  height: calc(100vh - 10px);
  width: calc(100vw - 10px);
  .app-pages {
    text-align: center;
    user-select: none;
    padding: 20px;
    padding-bottom: 0;
    height: calc(100% - 64px);
    overflow: auto;
    .app-page {
      padding: 6px;
      cursor: pointer;
      width: 140px;
      overflow: hidden;
      float: left;
      position: relative;
      &:hover {
        box-shadow: 0 8px 17px 0 rgba(38, 50, 56, 0.2), 0 6px 20px 0 rgba(38, 50, 56, 0.2);
      }
      .app-page-thumb {
        background-repeat: no-repeat;
        width: 100%;
        height: 175px;
        overflow: hidden;
        // background-size: cover;
        // background-position-x: center;    
        background-color: #c5c5c5;
        border: solid 1px #adadad;
        background-size: contain;
        background-position-x: center;
        background-position-y: center;
        &.hidden {
          opacity: 0.1;
        }
      }
      .app-page-title {
        position: absolute;
        font-size: 13px;
        top: 0.5rem;
        right: 0.5rem;
        padding: 2px;
        text-align: center;
        color: #000;
        background: rgba(255, 255, 255, 0.6);
      }
      mat-icon {
        display: none;
        position: absolute;
        top: 10px;
        left: 10px;
      }

      &:hover {
        mat-icon {
          display: block;
        }
      }

      &.active {
        // background: #757575;
        mat-icon {
          display: block;
          border-radius: 50%;
          background: $primary-color;
          font-size: 20px;
          color: #fff;
          padding: 2px;
          width: 24px;
          height: 24px;
          border: solid 1px #fff;
        }
      }  
    }
  }
  .app-dialog-actions {
    padding: 4px 20px 0;
    border-top: 1px solid $app-grey-l-2;
    mat-spinner {
      margin-top: 12px;
      margin-right: 3px;
      float: left;
    }
    .app-messages {
      text-align: left;
      float: left;
      padding-left: 10px;
      @media only screen and (max-width: 700px) {
        display: none;
      }
      .app-info {
        color: #686868;
        margin-top: 3px;
        strong {
          color: #000000;
        }
        &.app-warn {
          strong {
            color: #aa4444;
          }
        }
        .app-btn {
          color: $primary-color;
          cursor: pointer;
        }
      }
      .app-tip {
        color: #999999;
        margin-top: 1px;
      }
      .app-error {
        color: #aa4444;
        margin-top: 1px;
      }
    }
  
    .app-progress {
      padding-left: 10px;
      float: left;
      line-height: 52px;
      color: #444;
    }
  
    button {
      margin-top: 8px;
      margin-right: 8px;
      float: right;
    }
  }
  
}
