<div class="row app-clean-mg">
  <div class="col s6 app-col-left" [class.app-search-query]="query">
    <input class="app-search-bar" (change)="onBrowseQueryChanged()" type="text" placeholder="{{ 'browse.search.' + browseService.getCategory() | translate }}" [(ngModel)]="query" />
    <i *ngIf="query" mz-icon-mdi [icon]="'close'" (click)="cleanQuery()" class="app-cursor-pointer" mz-tooltip [tooltip]="'searchbar.delete_query' | translate" [position]="'top'"></i>
  </div>
  <div class="col s6 app-col-right">
    <ul class="right">
      <li>
        <span class="app-cursor-pointer app-mdi-in">
          <label>{{ 'browse.ordering.label' | translate }}:</label>
          <a id="app-btn-sort" href="#">{{ 'browse.ordering.' + browseService.query.ordering | translate }} <i class="app-mdi-menu-down"></i></a>
          <mz-dropdown [id]="'app-sort'" [dropdownButtonId]="'app-btn-sort'" [constrainWidth]="false">
            <mz-dropdown-item><a (click)="browseService.changeOrdering('occurrence')">{{ 'browse.ordering.occurrence' | translate }}</a></mz-dropdown-item>
            <mz-dropdown-item><a (click)="browseService.changeOrdering('alphabetical')">{{ 'browse.ordering.alphabetical' | translate }}</a></mz-dropdown-item>            
          </mz-dropdown>
        </span>
      </li>
    </ul>
  </div>
</div>

