@import './src/variables.scss';

.app-dialog-wrapper {
  padding: 0px;
  width: 550px;
  height: 80vh;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  .app-close {
    position: absolute;
    right: 7px;
    top: 7px;
    padding: 9px;
    cursor: pointer;
    color: $app-grey-d-1;
    &:hover {
      color: #000;
    }
  }
  .app-dialog-title {
    color: $app-grey-d-3;
    font-size: 16px;
  }
  .app-dialog-message {
    color: $app-grey-d-1;
    margin-top: 10px;
  }
  .app-dialog-actions {
    margin-top: 20px;
    float: right;
  }
  .app-metadata-wrapper {
    .app-metadata-item {
      display: flex;
      flex-direction: row;
      margin: 10px 0;
      .app-label {
        color: $app-grey-d-2;
        width: 170px;
        font-size: 14px;
      }
    }
  }
}