<mz-collection *ngIf="periodicalService.fulltext">
  <mz-collection-item>{{ 'search.results' | translate }}: {{ periodicalService.fulltext.getResultsRange() }}  <span class="grey-text text-lighten-2">/</span> <span class="app-font-bold">{{periodicalService.getNumberOfResults()}}</span></mz-collection-item>
</mz-collection>
<mz-collection *ngIf="!periodicalService.fulltext">
  <mz-collection-item>{{ 'search.results' | translate }}: <span class="app-font-bold">{{periodicalService.getNumberOfResults()}}</span></mz-collection-item>
</mz-collection>

