// --- ROOT STYLE ---

@import "styles/app-pallete";
@import "styles/app-color";

@import "styles/app-variables";

@import "../node_modules/materialize-css/sass/materialize.scss";
@import "../node_modules/mdi/scss/materialdesignicons.scss";

@import "styles/fontface/roboto-condensed/roboto-condensed-fontface";

@import "styles/app-mixins";
@import "styles/app-mdi";
@import "styles/app-alert";
@import "styles/app-layout";
@import "styles/app-global";
@import "styles/app-navbar";
@import "styles/app-logo";
@import "styles/app-home-logo";
@import "styles/app-search-bar";
@import "styles/app-autocomplete";
@import "styles/app-ng-datepicker";
@import "styles/app-document-card";
@import "styles/app-paginator";
@import "styles/app-dialog-pdf";
@import "styles/app-dialog-share";
@import "styles/app-dialog-citation";
@import "styles/app-dialog-metadata";
@import "styles/app-dialog-authors";
@import "styles/app-dialog-sheetmusic-warning";
@import "styles/app-page-not-found";
@import "styles/app-login";
@import "styles/loading";
@import "styles/styles";
