@import './theme.scss';
@import './variables.scss';

// --- ROOT STYLE ---

// @import "styles/app-pallete";
// @import "styles/app-color";

// @import "styles/app-variables";

// @import "../node_modules/materialize-css/sass/materialize.scss";
// @import "../node_modules/mdi/scss/materialdesignicons.scss";

// @import "styles/fontface/roboto-condensed/roboto-condensed-fontface";

// @import "styles/app-mixins";
// @import "styles/app-mdi";
@import "styles/app-layout";
// @import "styles/app-global";
// @import "styles/app-navbar";
// @import "styles/app-logo";
// @import "styles/app-home-logo";
// @import "styles/app-search-bar";//
// @import "styles/app-document-card";
// @import "styles/app-paginator";
@import "styles/app-dialog";
// @import "styles/app-dialog-pdf";
// @import "styles/app-dialog-pdf-generator";
// @import "styles/app-dialog-share";
// @import "styles/app-dialog-admin";
// @import "styles/app-dialog-citation";
// @import "styles/app-dialog-metadata";
// @import "styles/app-dialog-admin-metadata";
// @import "styles/app-dialog-advanced-search";
// @import "styles/app-dialog-authors";
// @import "styles/app-dialog-sheetmusic-warning";
// @import "styles/app-dialog-policy";
// @import "styles/app-page-not-found";
// @import "styles/app-login";

// done
@import "styles/app-about";
@import "styles/app-autocomplete";
@import "styles/app-ng-datepicker";
// @import "styles/app-alert";

@import "styles/materialize/global";
@import "styles/materialize/grid";


html, body { 
    height: 100%; 
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-size: 15px;
}


  
  * {
    box-sizing: border-box;    
  }
  
  :-ms-fullscreen {
    width: auto;
    height: auto;
    margin: auto;
  }
  
  a, .app-cursor-pointer {
    cursor: pointer !important;
  }
  
  // font
  .app-font-bold {
    font-weight: 600;
    // font-family: 'Roboto-Condensed-Bold';
  }
  
  //cleaners
  .app-clean-mg {
    margin: 0 !important;
  }
  
  .app-clean-pd {
    padding: 0 !important;
  }
  
  .app-clean-border {
    border: 0 !important;
  }


  button:focus {
    outline: none;
    background-color: inherit;
  }



  .cdk-overlay-pane {
    max-width: 100vw !important;
  }

  .mat-bottom-sheet-container-medium, .mat-bottom-sheet-container-large {
    max-width: 100vw !important; 
  }

  .mat-dialog-container {
    padding: 0 !important;
  }


  .ol-dragbox {
    background: #0277bd44;
    border: solid 1px #0277bd;
  }
  
  
  .app-dropdown-menu {
    .app-dropdown-item {
      display: block;
      overflow: hidden;
      padding: 10px 10px;
      cursor: pointer;
      font-size: 14px;
      line-height: 18px;
      color: $app-grey-d-1;
      &:hover {
        background: #e5e5e5;
      }
    }
  }
  
  mat-spinner.medium-centered-spinner {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
  }
  
  
  app-metadata {
    margin-left: auto;
    transition: margin-right 0.3s;
    border-left: 1px solid $app-grey-l-2;
    &.app-panel-hidden {
      margin-right: -$app-side-col-width;
      overflow: hidden;
    }
    @media #{$medium-and-down} {
      &.app-book-metadata {
        &.app-panel-mobile-hidden {
          margin-right: -$app-side-col-width;
          transition: margin-right 0.0s;
          overflow: hidden;
        }
        &.app-panel-hidden {
          margin-right: 0;
          overflow: inherit;
        }
      }
    }
    @media #{$small-and-down} {
      &:not(.app-nested) {
        position: absolute;
        width: 100%;
        top: calc(#{$navbar-height} + #{$app-toolbar-height});
        left: 0;
        border: 0;
        height: calc(#{$app-mobile-panel-height} - #{$navbar-height} - #{$app-toolbar-height});
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
        display: block;
        z-index: 1001;
      }
      &.app-panel-mobile-hidden {
        display: none;
      }
      &.app-book-metadata {
        top: $app-toolbar-height;
        height: calc(#{$app-mobile-panel-height} - #{$app-toolbar-height});
      }
    }
    &.app-nested {
      width: auto;
      margin: 5px 0 20px;
      border-left: 5px solid $app-grey-l-2;
      display: block;
      .app-metadata-wrapper {
        overflow: unset;
        .app-metadata-content {
          padding: 8px 0 0 8px;
          margin-bottom: -10px;
        }
      }
    }
  }

  .align-right {
    text-align: right;
  }

  .float-right {
    float: right;
  }

  a {
    text-decoration: none;
  }

  html{
    line-height: 1.5;
    @media only screen and (min-width: 0) {
      font-size: 14px;
    }
    @media only screen and (min-width: $medium-screen) {
      font-size: 14.5px;
    }
    @media only screen and (min-width: $large-screen) {
      font-size: 14px;
    }
  }

  input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: 0;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all .3s;
    border-bottom: 1px solid #9e9e9e;
  }

label {
  font-size: .8rem;
  color: $app-grey;
}

::placeholder {
  color: $app-grey-l-1;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}