@import './theme.scss';
@import './variables.scss';

// --- ROOT STYLE ---

// @import "styles/app-pallete";
// @import "styles/app-color";

@import "styles/app-variables";

@import "../node_modules/materialize-css/sass/materialize.scss";
// @import "../node_modules/mdi/scss/materialdesignicons.scss";

// @import "styles/fontface/roboto-condensed/roboto-condensed-fontface";

@import "styles/app-mixins";
@import "styles/app-mdi";
@import "styles/app-layout";
@import "styles/app-global";
// @import "styles/app-navbar";
// @import "styles/app-logo";
// @import "styles/app-home-logo";
// @import "styles/app-search-bar";//
// @import "styles/app-document-card";
// @import "styles/app-paginator";
@import "styles/app-dialog";
@import "styles/app-dialog-pdf";
@import "styles/app-dialog-pdf-generator";
// @import "styles/app-dialog-share";
@import "styles/app-dialog-admin";
@import "styles/app-dialog-citation";
@import "styles/app-dialog-metadata";
@import "styles/app-dialog-admin-metadata";
@import "styles/app-dialog-advanced-search";
@import "styles/app-dialog-authors";
@import "styles/app-dialog-sheetmusic-warning";
@import "styles/app-dialog-policy";
// @import "styles/app-page-not-found";
// @import "styles/app-login";



// done
@import "styles/app-about";
@import "styles/app-autocomplete";
@import "styles/app-ng-datepicker";


// todo
@import "styles/app-alert";


html, body { 
    height: 100%; 
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}


  
  * {
    box-sizing: border-box;    
  }
  
  :-ms-fullscreen {
    width: auto;
    height: auto;
    margin: auto;
  }
  
  a, .app-cursor-pointer {
    cursor: pointer !important;
  }
  
  // font
  .app-font-bold {
    font-weight: 600;
    // font-family: 'Roboto-Condensed-Bold';
  }
  
  //cleaners
  .app-clean-mg {
    margin: 0 !important;
  }
  
  .app-clean-pd {
    padding: 0 !important;
  }
  
  .app-clean-border {
    border: 0 !important;
  }


  button:focus {
    outline: none;
    background-color: inherit;
  }

