@use '~@angular/material' as mat;
@include mat.core();

$my-palette: (
    50 : #e1eff7,
    100 : #b3d6eb,
    200 : #81bbde,
    300 : #4e9fd1,
    400 : #288bc7,
    500 : #0276bd,
    600 : #026eb7,
    700 : #0163ae,
    800 : #0159a6,
    900 : #014698,
    A100 : #c3daff,
    A200 : #90bbff,
    A400 : #5d9cff,
    A700 : #448cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-mat-primary: mat.define-palette($my-palette, 500);
$app-mat-accent: mat.define-palette($my-palette, 500);
$app-mat-warn: mat.define-palette(mat.$red-palette);
$app-mat-theme: mat.define-light-theme($app-mat-primary, $app-mat-accent, $app-mat-warn);

@include mat.all-component-themes($app-mat-theme);