<div *ngIf="state != 'loading'" class="app-reindexation">
  
  <div class="app-label" style="margin-top: 10px;">Reindexovat</div>
  
  <mz-radio-button-container>
    <input mz-radio-button
      [label]="'Objekt'"
      [withGap]="true"
      value="OBJECT"
      id="rb-type-object"
      name="rb-type"
      [(ngModel)]="type"
      type="radio">

      <input mz-radio-button
      [label]="'Objekt a potomky'"
      [withGap]="true"
      value="TREE_AND_FOSTER_TREES"
      id="rb-scope-type"
      name="rb-type"
      [(ngModel)]="type"
      type="radio">
  </mz-radio-button-container>

  <button mz-button style="margin-top: 10px" (click)="apply()">Reindexovat</button>

  <div class="app-progress" *ngIf="state == 'progress'">
    <mz-spinner 
      [color]="'blue'"
      [size]="'small'">
    </mz-spinner>
  </div>

</div>