@import './src/variables.scss';

.app-filters {
  display: block;
  @media #{$small-and-down} {
    width: 100%;
    float: none;
    position: absolute;
    width: 100%!important;
    top: calc(68px + 55px);
    left: 0;
    height: calc(100% - 68px - 55px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    display: block;
    border: none!important;
    &.app-mobile-hidden  {
      display: none;
    }
  }
}

.app-search-wrapper {
  flex: 1;
  height: 100%;
  background-color: #fff;
}