<div class="app-citation app-dialog">

  <div class="app-tabs" *ngIf="selection">
    <div class="app-dialog-title">{{ 'citation-dialog.title' | translate }} <span class="app-citation-spec">(ČSN ISO 690)</span></div>
    <div *ngFor="let item of items" class="app-tab" [class.active]="selection.type === item.type"
      (click)="changeTab(item)">
      {{ 'model_2p.' + item.type | translate | lowercase }}
    </div>
  </div>

  <div class="app-dialog-content" *ngIf="selection">
    <div *ngIf="selection.citation" [innerHtml]="selection.citation"></div>
    <mat-spinner *ngIf="!selection.citation"
          [strokeWidth]="2" 
          [diameter]="20">
    </mat-spinner>
  </div>
      
  <div class="app-dialog-actions">
    <button mat-flat-button (click)="onCancel()">{{ 'common.close' | translate }}</button>
  </div>

</div>



