<mz-modal #modal [fixedFooter]="false" class="app-dialog-policy">
  <mz-modal-content>
    <mz-input-container *ngIf="type=='private' && !appSettings.crisisUrl">
      <div *ngIf="!appSettings.customRightMessage" class="app-text">
        {{ 'alert.inaccessible_document_description' | translate }}
      </div>
      <div *ngIf="appSettings.customRightMessage" class="app-html"
      [innerHTML]="(krameriusInfo.data$ | async).getRightMessage()">
      </div>
    </mz-input-container>
    <mz-input-container *ngIf="type=='private' && appSettings.crisisUrl">
      <div  class="app-text">
        <div class="app-html"
        [innerHTML]="( 'alert.inaccessible_document_crisis_description' | translate )">
        </div>
      </div>
    </mz-input-container>
    <mz-input-container *ngIf="type=='dnnt'">
      <div  class="app-text">
        <div class="app-html"
        [innerHTML]="( 'alert.inaccessible_document_dnnt_description' | translate )">
        </div>
      </div>
    </mz-input-container>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>{{ 'common.close' | translate }}</button>
  </mz-modal-footer>
</mz-modal>
