<mz-modal #modal [fixedFooter]="false" class="app-dialog-policy">
  <mz-modal-content>
    <mz-input-container *ngIf="type=='private'">
      <div *ngIf="!appSettings.customRightMessage" class="app-text">
        {{ 'alert.inaccessible_document_description' | translate }}
      </div>
      <div *ngIf="appSettings.customRightMessage" class="app-html"
      [innerHTML]="(krameriusInfo.data$ | async).rightMsg">
      </div>
    </mz-input-container>
    <mz-input-container *ngIf="type=='dnnt'">
      <div  class="app-text">
        {{ 'alert.inaccessible_document_dnnt_description' | translate }}
      </div>
    </mz-input-container>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>{{ 'common.close' | translate }}</button>
  </mz-modal-footer>
</mz-modal>