<div class="app-content-wrapper">
  <section class="container center-align home-top">
    <div class="row">
      <div class="col s12">
        <app-logo></app-logo>
      </div>
    </div>
    <div class="row">
      <div class="col offset-s4 s4 offset-s4">
        <div class="divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 app-desc">
        <span >{{'app-name' | translate}}</span> | <span>{{'home.desc' | translate}}</span>
      </div>
    </div>
    <app-home-search-bar></app-home-search-bar>
  </section>

  <section class="container home-bottom">
    <mz-tab [responsiveThreshold]="'true'">
      <mz-tab-item [label]="'home.tab_visited' | translate" [active]="selectedTab === 'visited'">
        <app-document-card *ngFor="let item of visited" [item]="item"></app-document-card>   
      </mz-tab-item>
      <mz-tab-item [label]="'home.tab_latest' | translate" [active]="selectedTab === 'newest'">
        <app-document-card *ngFor="let item of newest" [item]="item"></app-document-card> 
      </mz-tab-item>
      <mz-tab-item [label]="'home.tab_recommended' | translate">
        <app-document-card *ngFor="let item of recommended" [item]="item"></app-document-card> 
      </mz-tab-item>
    </mz-tab>
  </section>
</div>

