<app-book-controls class="hide-on-small-only"></app-book-controls>

<app-book-search></app-book-search>

<div class="app-navigation-header" *ngIf="bookService.getPageCount() > 1">
  <input class="app-current-page" (keyup)="$event.stopPropagation()" (change)="onPageIndexChanged()" type="text" pattern="[0-9]*" value="23" [(ngModel)]="pageIndex" mz-tooltip [tooltip]="'common.set_page_number' | translate" [position]="'top'" />
  <span>{{ 'common.of' | translate }}</span>
  <span>{{bookService.getPageCount()}}</span>
  <span>{{ 'common.pages' | translate }}</span>
</div>

<div class="app-navigation-pages" id="app-navigation-container" [class.app-is-query]="bookService.getFulltextQuery()">
  <app-navigation-item [page]="page" [container]="container" *ngFor="let page of bookService.pages" (pageSelected)="onPageSelected(page)"></app-navigation-item>
</div>