@import './src/variables.scss';


app-book-search {
  &.app-hidden {
    display: none;
  }
}
.app-navigation-tabs {
  // overflow: hidden;
  border-bottom: 1px solid $app-grey-l-2;
  .app-tab {
    float: left;
    width: 33.33%;
    color: #999; 
    text-align: center;
    line-height: calc(#{$app-toolbar-height} - 1px);
    height: calc(#{$app-toolbar-height} - 1px);
    border-bottom: 2px solid transparent;
    cursor: pointer;
    &.app-tab-1 {
      width: 100%;
    }
    &.app-tab-2 {
      width: calc(50% - 1.5px);
    }
    &.app-tab-3 {
      width: calc(33% - 1.5px);
    }
    &.app-active {
      color: $primary-color; 
      border-bottom-color: $primary-color;
    }
  }
}

.app-navigation-tab-content {
  overflow: auto;
  .app-item {
    padding: 4px 16px 8px;
    cursor: pointer;
    border-left: 4px solid transparent;
    &.app-selected {
      background: #0276bd1c;
      border-left-color: #0277bd;
    }
    &:hover {
      background: $app-grey-l-4;
    }
  }

  // mq
  @media #{$small-and-down} {
    height: calc(#{$app-mobile-panel-height} - 48px);
  }
}

.app-navigation-header {
  padding: 5px 20px 8px 20px;
  border-bottom: 1px solid $app-grey-l-2;
  
  &.app-hidden {
    display: none;
  }

  .app-current-page {
   font-weight: 500;
    margin: 0;
    width: 30px;
    text-align: center;
    height: 2rem;
    color: $primary-color;
  }
  
  span {
    &:nth-child(2) {
      margin: 0 8px 0 2px;
    }
    &:nth-child(3) {
      font-weight: 500;
    }
    &:last-child {
      margin-left: 5px;
    }
  }
}
.app-navigation-articles {
  overflow: auto;
  .app-article {
    padding: 4px 16px 8px;
    cursor: pointer;
    border-left: 4px solid transparent;
    &:hover {
      background: #f5f5f5;
    }
    &.app-selected {
      background: #0276bd1c;
      border-left-color: #0277bd;
    }
  }
}

.app-navigation-toc {
  overflow: auto;
  .app-item {
    padding: 8px 12px;
    cursor: pointer;
    border-left: 4px solid transparent;
    &:hover {
      background: $app-grey-l-4;
    }
    &.app-selected {
      background: #0276bd1c;
      border-left-color: #0277bd;
    }
    b {
      color: #0277bd;
    }
    &.app-sub {
      padding: 3px 12px;
      padding-left: 24px;
      color: #666;
      font-size: 14px;
    }
    &.app-sub-sub {
      padding: 3px 12px;
      padding-left: 30px;
      color: #666;
      font-size: 13px;
    }
  }

  // mq
  @media #{$small-and-down} {
    height: calc(#{$app-mobile-panel-height} - 48px);
  }
}

.app-navigation-pages {
  margin-top: 10px;
  overflow-y: auto;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  &.app-hidden {
    display: none;
  }
  // mq
  @media #{$small-and-down} {
    height: calc(#{$app-mobile-panel-height} - 44px - 43px - 20px - 48px);
    &.app-is-query {
      height: calc(#{$app-mobile-panel-height} - 44px - 43px - 20px - 53px - 48px);
    }
  }
}


.app-epub-search-bar-wrapper {
  width: 100%;
  padding: 0 20px 0 20px;
  display: block;
  height: $app-fulltext-search-bar-height;
  border-bottom: 1px solid $app-grey-l-2;

  .app-epub-search-bar {
    position: relative;

    input {
      margin: 0;
      border-bottom-color: transparent;
      padding-left: 30px;
      width: 100%;
      padding-right: 30px;
      box-sizing: border-box;
      &::placeholder {
        color: $app-grey;
      }
    }
    mat-icon {
      cursor: pointer;
      top: 11px;
      position: absolute;
      color: $app-grey;
      &.app-close {
        right: 0;
      }
      &.app-magnify {
        left: 0;
      }
    }
    &.app-is-query {
      input {
        border-bottom: 1px solid $primary-color !important;
        box-shadow: 0 1px 0 0 $primary-color;
      }
    }
    
    &.app-is-query, &:focus-within {
      .mdi-magnify  {
        color: $primary-color;
      }
    }
  }
}