<app-book-controls *ngIf="bookService.viewer === 'image'" class="hide-on-small-only"></app-book-controls>

<div class="app-navigation-tabs" *ngIf="bookService.navigationTabsCount > 1">
  <ul class="tabs">
    <li *ngIf="bookService.allPages.length > 0"  class="tab tab-{{bookService.navigationTabsCount}}">
      <a (click)="bookService.changeNavigationTab('pages');analytics.sendEvent('viewer', 'navigation', 'pages');" [class.active]="bookService.activeNavigationTab === 'pages'">
        <span class="app-desc">{{ 'model_plural.page' | translate }}</span>
      </a>
    </li>
    <li *ngIf="bookService.articles.length > 0"  class="tab tab-{{bookService.navigationTabsCount}}">
      <a (click)="bookService.changeNavigationTab('articles');analytics.sendEvent('viewer', 'navigation', 'articles');" [class.active]="bookService.activeNavigationTab === 'articles'">
        <span class="app-desc">{{ 'model_plural.article' | translate }}</span>
      </a>
    </li>
    <li *ngIf="bookService.internalParts.length > 0" class="tab tab-{{bookService.navigationTabsCount}}">
      <a (click)="bookService.changeNavigationTab('internalparts');analytics.sendEvent('viewer', 'navigation', 'internalparts');" [class.active]="bookService.activeNavigationTab === 'internalparts'">
        <span class="app-desc">{{ 'model_plural.internalpart' | translate }}</span>
      </a>
    </li>
  </ul>
</div>

<div class="app-navigation-articles" *ngIf="bookService.activeNavigationTab === 'articles'">
  <div *ngFor="let article of bookService.articles" (click)="bookService.onArticleSelected(article)" class="app-article" [class.app-article-selected]="article === bookService.article">{{ article.title }}</div>
</div>


<div class="app-navigation-internalparts" *ngIf="bookService.activeNavigationTab === 'internalparts'">
  <div *ngFor="let internalPart of bookService.internalParts" (click)="bookService.onInternalPartSelected(internalPart)" class="app-internalpart" [class.app-internalpart-selected]="internalPart === bookService.internalPart">{{ internalPart.title }}</div>
</div>


<app-book-search [class.app-hidden]="bookService.activeNavigationTab !== 'pages'"></app-book-search>

<div class="app-navigation-header" *ngIf="bookService.getPageCount() > 1" [class.app-hidden]="bookService.activeNavigationTab !== 'pages'">
  <input class="app-current-page" (keyup)="onKeyUp($event)" type="text" pattern="[0-9]*" value="23" [(ngModel)]="pageIndex" mz-tooltip [tooltip]="'common.set_page_number' | translate" [position]="'top'" />
  <span>{{ 'common.of' | translate }}</span>
  <span>{{bookService.getPageCount()}}</span>
  <span>{{ 'common.of_pages' | translate }}</span>
</div>

<div class="app-navigation-pages" id="app-navigation-container" [class.app-is-query]="bookService.getFulltextQuery()" [class.app-hidden]="bookService.activeNavigationTab !== 'pages'">
  <app-navigation-item [page]="page" [container]="container" *ngFor="let page of bookService.pages" (pageSelected)="onPageSelected(page)"></app-navigation-item>
</div>
