<app-periodical-count></app-periodical-count>
<app-periodical-search></app-periodical-search>

<mat-accordion [displayMode]="'flat'" [multi]="true" class="app-filters-wrapper">
  <mat-expansion-panel class="app-filter-panel" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'search.accessibility.label' | translate }}   
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="app-filter-items">
      <div class="app-filter-item" [class.app-selected]="periodicalService.query && periodicalService.query.accessibility === 'public'"
      (click)="periodicalService.setAccessibility('public');analytics.sendEvent('periodical', 'accessibility', 'public');">
        {{'search.accessibility.public' | translate }}
      </div>
      <div class="app-filter-item" [class.app-selected]="periodicalService.query && periodicalService.query.accessibility === 'private'"
      (click)="periodicalService.setAccessibility('private');analytics.sendEvent('periodical', 'accessibility', 'private');">
        {{'search.accessibility.private' | translate }}
      </div>
      <div class="app-filter-item" [class.app-selected]="periodicalService.query && periodicalService.query.accessibility === 'all'"
      (click)="periodicalService.setAccessibility('all');analytics.sendEvent('periodical', 'accessibility', 'all');">
        {{'search.accessibility.all' | translate }}
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="app-filter-panel" [expanded]="true" *ngIf="periodicalService.isPeriodical()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'search.year-range.label' | translate }}   
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="app-filter-items">
      <div class="year-range-wrapper">
        <div class="year-range">
          <span>{{ 'search.year-range.from' | translate }}</span>
          <input [(ngModel)]="yearFrom" (change)="onYearFromValueChanged()" type="number">
          <span>{{ 'search.year-range.to' | translate }}</span>
          <input [(ngModel)]="yearTo" (change)="onYearToValueChanged()" type="number">
        </div>
        <button (click)="applyYearRange()" mat-raised-button color="primary">{{ 'search.year-range.apply' | translate }}</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
