<app-periodical-count></app-periodical-count>
<app-periodical-search></app-periodical-search>


<div class="app-filters-wrapper">
  <mz-collapsible [mode]="'expandable'">
      <mz-collapsible-item [active]="true ">
        <mz-collapsible-item-header>
          {{ 'search.accessibility.label' | translate }}
          <i mz-icon-mdi [icon]="'chevron-down'" [class]="'app-clean-mg'"></i>
          <i mz-icon-mdi [icon]="'chevron-left'" [class]="'app-clean-mg'"></i>
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
        <mz-collection>
          <ng-container>
            <mz-collection-item>
              <span [class.selected]="periodicalService.query && periodicalService.query.accessibility === 'public'" class="app-row">
                <a (click)="periodicalService.setAccessibility('public');analytics.sendEvent('periodical', 'accessibility', 'public');">{{ 'search.accessibility.public' | translate}}</a>
              </span>
            </mz-collection-item>
            <mz-collection-item>
              <span [class.selected]="periodicalService.query && periodicalService.query.accessibility === 'private'" class="app-row">
                <a (click)="periodicalService.setAccessibility('private');analytics.sendEvent('periodical', 'accessibility', 'private');">{{ 'search.accessibility.private' | translate}}</a>
              </span>
            </mz-collection-item>
            <mz-collection-item>
              <span [class.selected]="periodicalService.query && periodicalService.query.accessibility === 'all'" class="app-row">
                <a (click)="periodicalService.setAccessibility('all');analytics.sendEvent('periodical', 'accessibility', 'all');">{{ 'search.accessibility.all' | translate}}</a>
              </span>
            </mz-collection-item>
          </ng-container>
        </mz-collection>
        </mz-collapsible-item-body>
      </mz-collapsible-item>
    </mz-collapsible>


    <mz-collapsible [mode]="'expandable'" *ngIf="periodicalService.isPeriodical()">
      <mz-collapsible-item [active]="true">
        <mz-collapsible-item-header>
          {{ 'search.year-range.label' | translate }}
          <i mz-icon-mdi [icon]="'chevron-down'" [class]="'app-clean-mg'"></i>
          <i mz-icon-mdi [icon]="'chevron-left'" [class]="'app-clean-mg'"></i>
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
          <div class="year-range-wrapper">
            <div class="year-range">
              <span>{{ 'search.year-range.from' | translate }}</span>
              <input [(ngModel)]="yearFrom" (change)="onYearFromValueChanged()" type="number">
              <span>{{ 'search.year-range.to' | translate }}</span>
              <input [(ngModel)]="yearTo" (change)="onYearToValueChanged()" type="number">
            </div>

            <a class="light-blue darken-3 z-depth-0 btn waves-effect waves-light" mz-button (click)="applyYearRange()">
              <span>{{ 'search.year-range.apply' | translate }}</span>
            </a>
          </div>


        </mz-collapsible-item-body>
      </mz-collapsible-item>
    </mz-collapsible>



</div>
