@import './src/variables.scss';

.app-filters-wrapper {
  height: calc(100% - #{$app-toolbar-height} - #{$app-fulltext-search-bar-height});
  .app-filter-panel {
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid $app-grey-l-2;
    mat-expansion-panel-header {
      // height: 48px !important;
      height: 20px !important;
      margin: 14px 0;
      font-weight: 500;
      &:hover {
        background: transparent !important;
      }
    }
    .app-filter-items {
      margin-top: -5px;
      .app-filter-item {
        line-height: 22px;
        cursor: pointer;
        &.app-selected {
          font-weight: 600;
        }
        color: $app-grey-text;
        &:hover {
          color: $app-grey-d-4;
        }
        mat-icon {
          font-size: 18px;
          height: 20px;
          vertical-align: middle;
          &.app-licence {
            color: $app-licence-color;
          }
          &.app-close {
            display: none;
          }
        }
        &:hover, &:focus-visible {
          mat-icon {
            display: none;
            &.app-close {
              display: inline-block;
              color: $app-red;
            }
          }
        }
      }
    }
    .year-range-wrapper {
      padding: 0;
      .year-range {
        span {
          color: #888;
        }
        input {
          width: 70px !important;
          margin: 0 10px !important;
        }
      }
      button {
        margin-top: 20px;
      }
    }
  }
}
