@import './src/variables.scss';

.app-browse-results {
  display: block;
  position: relative;
  height: calc(100% - #{$app-toolbar-height});
  overflow: auto;
  .app-browse-item {
    padding: 0.5rem 1rem;
    font-size: 15px;
    color: $app-grey-d-1;
    display: block;
    &.even {
      background: $app-grey-l-4;
    }
    &.hidden {
      display: none;
    }
    &:hover {
      color: $primary-color;
      background-color: $app-grey-l-2;
    }
  }
}