@import './src/variables.scss';


.app-filters-wrapper {
  height: calc(100% - #{$app-toolbar-height});
  overflow: auto;
  .app-filter-panel {
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid $app-grey-l-2;
    mat-expansion-panel-header {
      // height: 48px !important;
      height: 20px !important;
      margin: 14px 0;
      font-weight: 500;
      &:hover {
        background: transparent !important;
      }
    }
    ul {
      margin-top: -5px;
      margin-bottom: 0;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $app-grey-text;
        mat-checkbox, mat-radio-button {
          &:hover {
            color: $app-grey-d-4;
          }
          // .app-lock {
          //   float: left;
          //   color: $app-licence-color;
          //   margin-right: 4px;
          //   mat-icon {
          //     font-size: 16px;
          //     width: 18px;
          //     height: 18px;
          //     vertical-align: middle;
          //   }
          // }
        }
        .app-lock {
          float: left;
          color: $app-licence-color;
          margin-right: 4px;
          margin-left: 4px;
          mat-icon {
            font-size: 16px;
            width: 18px;
            height: 18px;
            vertical-align: middle;
          }
        }
        .app-info {
          display: none;
          color: $app-grey-d-1;
          cursor: pointer;
          font-size: 16px;
          width: 18px;
          height: 18px;
          padding-top: 1px;
          margin-left: 3px;
          &:hover {
            color: $app-grey-d-4;
          }
        }
        .app-filter-count {
          margin-left: auto;
          font-size: 12px;
          color: #999;
          padding-left: 5px;
        }
        &.app-selected {
          font-weight: 600;
          color: $app-grey-d-2;
          .app-filter-count {
            color: $app-grey-d-2;
          }
        }
        &:hover {
          .app-info {
            display: inline-block;
          }
        }
      }
    }
    .app-expand {
      margin-top: 5px;
      cursor: pointer;
      color: $primary-color;
      &:hover {
        color: $primary-color-dark;
      }
    }
    .year-range-wrapper {
      padding: 0;
      .year-range {
        label {
          color: $app-grey-text;
        }
        input {
          width: 70px !important;
          margin: 0 10px !important;
        }
      }
      button {
        margin-top: 20px;
      }
    }
  }
}


::ng-deep {
  .app-filter-panel {    
    ul {
      mat-checkbox {
        .mat-checkbox-layout {
          white-space: normal;
          .mat-checkbox-label {
            overflow: hidden;
            line-height: 20px;
            height: 20px;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}