<app-search-count></app-search-count>

<div class="app-filters-wrapper">
  <app-search-filters-used *ngIf="searchService.query.anyFilter()"></app-search-filters-used>

  <mat-accordion [displayMode]="'flat'" [multi]="true" class="app-filters-wrapper">
    <mat-expansion-panel *ngIf="filters.indexOf('accessibility') > -1" class="app-filter-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'search.accessibility.label' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="app-filter-items">
        <div *ngFor="let item of searchService.accessibility"
              [class.app-selected]="item.value === searchService.query.accessibility"
              (click)="searchService.setAccessibility(item.value);analytics.sendEvent('search', 'accessibility', item.value)"
              class="app-filter-item">
              <span>{{item.count}}</span>
              {{ 'search.accessibility.' + item.value | translate}}
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="searchService.licences.length && filters.indexOf('licences') > -1" class="app-filter-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'search.licences' | translate }}   
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="app-filter-items">
          <ng-container *ngFor="let item of searchService.licences; let i = index">
          <div *ngIf="i < 6 || licencesExpanded"
                [class.app-selected]="item.selected"
                (click)="searchService.toggleFilter(searchService.query.licences, item.value);analytics.sendEvent('search', 'licence', item.value)"
                class="app-filter-item">
                <span>{{item.count}}</span>
                <ng-container *ngIf="licences.accessible([item.value]); else notAccessible">
                  <mat-icon class="app-lock" matTooltip="Dostupné">no_photography</mat-icon>
                </ng-container>
                <ng-template #notAccessible>
                  <mat-icon class="app-lock" matTooltip="Nedostupné">lock</mat-icon>
                </ng-template>
                {{ licences.label(item.value) }}
                <mat-icon class="app-licence-info" (click)="showLicenceDialog(item.value); $event.preventDefault();$event.stopPropagation()">info</mat-icon>
          </div>
        </ng-container>
        <div *ngIf="searchService.licences.length > 6"
            (click)="licencesExpanded = !licencesExpanded"
             class="app-filter-item app-expand">
            {{ 'filters.btn_show_' + (licencesExpanded ? 'less' : 'more') | translate }}  
        </div>
      </div>
    </mat-expansion-panel>




    <mat-expansion-panel *ngIf="searchService.doctypes.length && filters.indexOf('doctypes') > -1" class="app-filter-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'search.doctypes' | translate }}   
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="app-filter-items">
        <div *ngFor="let item of searchService.doctypes"
              [class.app-selected]="searchService.query.doctypes.indexOf(item.value) >= 0"
              (click)="searchService.toggleFilter(searchService.query.doctypes, item.value);analytics.sendEvent('search', 'doctype', item.value)"
              class="app-filter-item">
              <span>{{item.count}}</span>
              {{'model.' + item.value | translate | appUpcase }}
        </div>
      </div>
    </mat-expansion-panel>



    <mat-expansion-panel class="app-filter-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'search.year-range.label' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="app-filter-items">
        <div class="year-range-wrapper">
          <div class="year-range">
            <span>{{ 'search.year-range.from' | translate }}</span>
            <input [(ngModel)]="yearFrom" (change)="onYearFromValueChanged()" type="number">
            <span>{{ 'search.year-range.to' | translate }}</span>
            <input [(ngModel)]="yearTo" (change)="onYearToValueChanged()" type="number">
          </div>
          <button (click)="applyYearRange()" mat-raised-button color="primary">{{ 'search.year-range.apply' | translate }}</button>
        </div>
      </div>
    </mat-expansion-panel>




    <mat-expansion-panel *ngIf="searchService.keywords.length && filters.indexOf('keywords') > -1" class="app-filter-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'search.keywords' | translate }}            
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="app-filter-items">
          <ng-container *ngFor="let item of searchService.keywords; let i = index ">
          <div *ngIf="i < 6 || keywordsExpanded"
                (click)="searchService.toggleFilter(searchService.query.keywords, item.value);analytics.sendEvent('search', 'keyword', item.value)"
                class="app-filter-item">
                <span>{{item.count}}</span>
                {{ item.value | appUpcase }}
          </div>
        </ng-container>
        <div *ngIf="searchService.keywords.length > 6"
            (click)="keywordsExpanded = !keywordsExpanded"
             class="app-filter-item app-expand">
            {{ 'filters.btn_show_' + (keywordsExpanded ? 'less' : 'more') | translate }}  
        </div>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel *ngIf="searchService.authors.length && filters.indexOf('authors') > -1" class="app-filter-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'search.authors' | translate }}   
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="app-filter-items">
          <ng-container *ngFor="let item of searchService.authors; let i = index ">
          <div *ngIf="i < 6 || authorsExpanded"
                (click)="searchService.toggleFilter(searchService.query.authors, item.value);analytics.sendEvent('search', 'author', item.value)"
                class="app-filter-item">
                <span>{{item.count}}</span>
                {{ item.value | appUpcase }}
          </div>
        </ng-container>
        <div *ngIf="searchService.authors.length > 6"
            (click)="authorsExpanded = !authorsExpanded"
             class="app-filter-item app-expand">
            {{ 'filters.btn_show_' + (authorsExpanded ? 'less' : 'more') | translate }}  
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="searchService.geonames.length && filters.indexOf('geonames') > -1" class="app-filter-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'search.geonames' | translate }}   
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="app-filter-items">
          <ng-container *ngFor="let item of searchService.geonames; let i = index">
          <div *ngIf="i < 6 || geonamesExpanded"
                (click)="searchService.toggleFilter(searchService.query.geonames, item.value);analytics.sendEvent('search', 'geoname', item.value)"
                class="app-filter-item">
                <span>{{item.count}}</span>
                {{ item.value | appUpcase }}
          </div>
        </ng-container>
        <div *ngIf="searchService.authors.length > 6"
            (click)="geonamesExpanded = !geonamesExpanded"
             class="app-filter-item app-expand">
            {{ 'filters.btn_show_' + (geonamesExpanded ? 'less' : 'more') | translate }}  
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="searchService.genres.length && filters.indexOf('genres') > -1" class="app-filter-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'search.genres' | translate }}   
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="app-filter-items">
          <ng-container *ngFor="let item of searchService.genres; let i = index">
          <div *ngIf="i < 6 || genresExpanded"
                (click)="searchService.toggleFilter(searchService.query.genres, item.value);analytics.sendEvent('search', 'genre', item.value)"
                class="app-filter-item">
                <span>{{item.count}}</span>
                {{ item.value | appUpcase }}
          </div>
        </ng-container>
        <div *ngIf="searchService.genres.length > 6"
            (click)="genresExpanded = !genresExpanded"
             class="app-filter-item app-expand">
            {{ 'filters.btn_show_' + (genresExpanded ? 'less' : 'more') | translate }}  
        </div>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel *ngIf="searchService.publishers.length && filters.indexOf('publishers') > -1" class="app-filter-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'search.publishers' | translate }}   
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="app-filter-items">
          <ng-container *ngFor="let item of searchService.publishers; let i = index">
          <div *ngIf="i < 6 || publishersExpanded"
                (click)="searchService.toggleFilter(searchService.query.publishers, item.value);analytics.sendEvent('search', 'publisher', item.value)"
                class="app-filter-item">
                <span>{{item.count}}</span>
                {{ item.value | appUpcase }}
          </div>
        </ng-container>
        <div *ngIf="searchService.publishers.length > 6"
            (click)="publishersExpanded = !publishersExpanded"
             class="app-filter-item app-expand">
            {{ 'filters.btn_show_' + (publishersExpanded ? 'less' : 'more') | translate }}  
        </div>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel *ngIf="searchService.places.length && filters.indexOf('places') > -1" class="app-filter-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'search.places' | translate }}   
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="app-filter-items">
          <ng-container *ngFor="let item of searchService.places; let i = index">
          <div *ngIf="i < 6 || placesExpanded"
                (click)="searchService.toggleFilter(searchService.query.places, item.value);analytics.sendEvent('search', 'place', item.value)"
                class="app-filter-item">
                <span>{{item.count}}</span>
                {{ item.value | appUpcase }}
          </div>
        </ng-container>
        <div *ngIf="searchService.places.length > 6"
            (click)="placesExpanded = !placesExpanded"
             class="app-filter-item app-expand">
            {{ 'filters.btn_show_' + (placesExpanded ? 'less' : 'more') | translate }}  
        </div>
      </div>
    </mat-expansion-panel>



    <mat-expansion-panel *ngIf="searchService.locations.length && filters.indexOf('locations') > -1" class="app-filter-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'search.locations' | translate }}   
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="app-filter-items">
          <ng-container *ngFor="let item of searchService.locations; let i = index">
          <div *ngIf="i < 6 || locationsExpanded"
                (click)="searchService.toggleFilter(searchService.query.locations, item.value);analytics.sendEvent('search', 'location', item.value)"
                class="app-filter-item">
                <span>{{item.count}}</span>
                {{'sigla.' + item.value | translate | appRemovePrefix:'sigla.' }}
          </div>
        </ng-container>
        <div *ngIf="searchService.locations.length > 6"
            (click)="locationsExpanded = !locationsExpanded"
             class="app-filter-item app-expand">
            {{ 'filters.btn_show_' + (locationsExpanded ? 'less' : 'more') | translate }}  
        </div>
      </div>
    </mat-expansion-panel>



    <mat-expansion-panel *ngIf="searchService.languages.length && filters.indexOf('languages') > -1" class="app-filter-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'search.languages' | translate }}   
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="app-filter-items">
          <ng-container *ngFor="let item of searchService.languages; let i = index">
          <div *ngIf="i < 6 || languagesExpanded"
                (click)="searchService.toggleFilter(searchService.query.languages, item.value);analytics.sendEvent('search', 'language', item.value)"
                class="app-filter-item">
                <span>{{item.count}}</span>
                {{'language.' + item.value | translate | appUpcase }}
          </div>
        </ng-container>
        <div *ngIf="searchService.languages.length > 6"
            (click)="languagesExpanded = !languagesExpanded"
             class="app-filter-item app-expand">
            {{ 'filters.btn_show_' + (languagesExpanded ? 'less' : 'more') | translate }}  
        </div>
      </div>
    </mat-expansion-panel>



    <mat-expansion-panel *ngIf="searchService.collections.length && filters.indexOf('collections') > -1" class="app-filter-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'search.collections' | translate }}   
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="app-filter-items">
          <ng-container *ngFor="let item of searchService.collections; let i = index">
          <div *ngIf="i < 6 || collectionsExpanded"
                (click)="searchService.toggleFilter(searchService.query.collections, item.value);analytics.sendEvent('search', 'collection', item.value)"
                class="app-filter-item">
                <span>{{item.count}}</span>
                {{ collectionService.getNameByPid(item.value) | appUpcase }}
          </div>
        </ng-container>
        <div *ngIf="searchService.collections.length > 6"
            (click)="collectionsExpanded = !collectionsExpanded"
             class="app-filter-item app-expand">
            {{ 'filters.btn_show_' + (collectionsExpanded ? 'less' : 'more') | translate }}  
        </div>
      </div>
    </mat-expansion-panel>

  </mat-accordion>

</div>