@font-face {
  font: {
    family: "PT Serif";
    weight: 700;
    style: italic;
  }

  src: url("#{$pt-serif-path}/pt-serif-bold-italic.eot");
  src: local("PT Serif"),
       url("#{$pt-serif-path}/pt-serif-bold-italic.eot#iefix") format("embedded-opentype"),
       url("#{$pt-serif-path}/pt-serif-bold-italic.woff2") format("woff2"),
       url("#{$pt-serif-path}/pt-serif-bold-italic.woff") format("woff"),
       url("#{$pt-serif-path}/pt-serif-bold-italic.ttf") format("truetype");
}
